{% extends "../../../template.html" %}

{% block content %}

<div class="row" id="no-profile">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="center">
              <p class="custom-text text-darken-1" style="font-size: 2.5rem; font-weight: 500;">Create Profile</p>
              <p class="custom-text text-darken-1"">It appears that you don't have a profile yet. Consider making one!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <div class="center">
              <h1 class="deep-purple-text text-darken-2" style="margin-top: 0;"><i class="material-icons" style="font-size: 7rem;">wifi</i></h1>
              <p class="custom-text text-darken-1" style="font-size: 1.7rem; font-weight: 500;">Reach more viewers</p>
              <p class="light center custom-text text-lighten-1">Creating a profile allows your streams to appear across the site. Also, your profile will be sent to viewers who we think will be interested in your content.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <div class="center">
              <h1 class="deep-purple-text text-darken-2" style="margin-top: 0;"><i class="material-icons" style="font-size: 7rem;">visibility</i></h1>
              <p class="custom-text text-darken-1" style="font-size: 1.7rem; font-weight: 500;">Discover new streamers</p>
              <p class="light center custom-text text-lighten-1">Registering as a viewer will grant you access to your own unique home page where you will be shown profiles whose content we think you will enjoy.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <div class="center">
              <h1 class="deep-purple-text text-darken-2" style="margin-top: 0;"><i class="material-icons" style="font-size: 7rem;">brush</i></h1>
              <p class="custom-text text-darken-1" style="font-size: 1.7rem; font-weight: 500;">Find commissions</p>
              <p class="light center custom-text text-lighten-1">Signing up as an artist, developer or moderator allows you to mark that you are looking for work. This will attract those who are looking for help.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <div class="center">
              <h1 class="deep-purple-text text-darken-2" style="margin-top: 0;"><i class="material-icons" style="font-size: 7rem;">style</i></h1>
              <p class="custom-text text-darken-1" style="font-size: 1.7rem; font-weight: 500;">Advertise your projects</p>
              <p class="light center custom-text text-lighten-1">Advertisement requests from /r/Twitch are integrated into this site. A link to your approved requests will be displayed on your profile to expand their reach.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <div class="center">
              <h1 class="deep-purple-text text-darken-2" style="margin-top: 0;"><i class="material-icons" style="font-size: 7rem;">star</i></h1>
              <p class="custom-text text-darken-1" style="font-size: 1.7rem; font-weight: 500;">Be recognised</p>
              <p class="light center custom-text text-lighten-1">The Twoos feature allows you to be recognised for your contributions. Users with more Twoos will be given higher priority on a leaderboard and on the streams page.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <div class="center">
              <h1 class="deep-purple-text text-darken-2" style="margin-top: 0;"><i class="material-icons" style="font-size: 7rem;">group</i></h1>
              <p class="custom-text text-darken-1" style="font-size: 1.7rem; font-weight: 500;">Collaborate</p>
              <p class="light center custom-text text-lighten-1">Your approved profile will be shown to other people who provide similar services and content. You can use this site to create groups and work together to improve and grow.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="center">
              <a id="create-profile" href="#!" class="btn-large waves-effect waves-light custom darken-1 white-text">Click here to get started!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}

<script src="/js/profile-create.js"></script>

{% endblock %}