{% extends "../template.html" %}
{% block content %}

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="center">
          <p class="custom-text text-darken-1" style="font-size: 2.5rem; font-weight: 500;">Beta Changelog</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <ul class="collapsible">
      <li>
          <div class="collapsible-header"><i class="material-icons">beenhere</i>Beta V1</div>
          <div class="collapsible-body white">
              <h5 style="margin-top: 0;">New Features</h5>
              <ul class="browser-default">
                <li>New Landing Page</li>
                <li>Added Dashboard Page</li>
                <ul class="browser-default">
                    <li>Added Link Accounts Page Here</li>
                    <li>Added Bookmarks Management Here</li>
                    <li>Added Profile Ratings Management Here</li>
                </ul>
                <li>Added Profile Creation</li>
                <ul class="browser-default">
                    <li>Added Progress Bar</li>
                    <li>Added Auto-Save After Each Page</li>
                </ul>
                <li>Added Profile Viewing</li>
                <ul class="browser-default">
                    <li>Added Profile Sections</li>
                    <ul class="browser-default">
                        <li>Overview</li>
                        <li>Profile Body</li>
                        <li>Social Media</li>
                        <li>Communities</li>
                    </ul>
                    <li>Added Bookmarks</li>
                    <li>Added Profile Ratings (Replaces Profile Votes)</li>
                    <li>Added Personal Notes</li>
                    <li>Added Report Reasons</li>
                </ul>
                <li>Added Profile Editing</li>
                <ul class="browser-default">
                    <li>Added Editing By Section</li>
                    <ul class="browser-default">
                        <li>Overview</li>
                        <li>Profile Body</li>
                        <li>Social Media</li>
                        <li>Communities</li>
                    </ul>
                </ul>
                <li>Added Admin Panel</li>
                <ul class="browser-default">
                    <li>Added Account Management</li>
                    <li>Added Profile Management</li>
                    <li>Added Pending Profiles List</li>
                    <li>Added Optional Profile Rejection Comment</li>
                    <li>Added Moderation Log</li>
                </ul>
                <li>Added Many Easter Eggs</li>
              </ul>
          </div>
      </li>
    </ul>
  </div>
</div>

{% endblock %}