{% extends "../template.html" %}
{% block content %}

<div class="row custom lighten-1" style="height: 100%; margin: 0; overflow: hidden;">
  <div class="col s12" style="height: 100%; padding: 0;">
      <div class="col l3 hide-on-med-and-down offset-l1 valign-wrapper" style="height: 100%;">
        <img class="responsive-img" src="/img/logo.png" style="margin: auto;" />
      </div>
      <div class="col l7 m10 offset-m1 s12 valign-wrapper" style="height: 100%;">
        <div class="row">
            <div class="col s12">
              <h2 class="custom lighten-1 white-text center" style="font-weight: 300;">Welcome to Purple+</h2>
              <br><br>
            </div>
            <div class="col s4">
              <h1 class="custom lighten-1 white-text center" style="margin-top: 0;"><i class="material-icons" style="font-size: 7rem;">wifi</i></h1>
              <h5 class="custom lighten-1 white-text center" style="font-weight: 300;">Promoting Twitch Users</h5>
            </div>
            <div class="col s4">
              <h1 class="custom lighten-1 white-text center" style="margin-top: 0;"><i class="material-icons" style="font-size: 7rem;">star</i></h1>
              <h5 class="custom lighten-1 white-text center" style="font-weight: 300;">Rewarding Positive Contributions</h5>
            </div>
            <div class="col s4">
              <h1 class="custom lighten-1 white-text center" style="margin-top: 0;"><i class="material-icons" style="font-size: 7rem;">search</i></h1>
              <h5 class="custom lighten-1 white-text center" style="font-weight: 300;">Helping People Discover</h5>
            </div>
            <div class="col s12">
              <br><br><br><br><br>
            </div>
            <div class="col s4">
              <a href="/profile/" class="waves-effect waves-light btn btn-large white custom-text text-lighten-1" style="width: 100%; height: 100%;">
                <h1 style="margin-bottom: 5px;"><i class="material-icons" style="font-size: 7rem;">create</i></h1>
                Create Profile
              </a>
            </div>
            <div class="col s4">
              <a href="/browse/streams/" class="waves-effect waves-light btn btn-large white custom-text text-lighten-1" style="width: 100%; height: 100%;">
                <h1 style="margin-bottom: 5px;"><i class="material-icons" style="font-size: 7rem;">desktop_windows</i></h1>
                View Streams
              </a>
            </div>
            <div class="col s4">
              <a href="/help/" class="waves-effect waves-light btn btn-large white custom-text text-lighten-1" style="width: 100%; height: 100%;">
                <h1 style="margin-bottom: 5px;"><i class="material-icons" style="font-size: 7rem;">help_outline</i></h1>
                Get Help
              </a>
            </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}