{% extends "../template.html" %}
{% block content %}

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="center">
          <p class="custom-text text-darken-1" style="font-size: 2.5rem; font-weight: 500;">Twoos Scale</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h6 class="center">Twoos values will be raised by 40x.</h6>
        <h6 class="center">Twoos boundaries will be raised by 50x.</h6>
        <br />
        <table class="highlight">
          <thead>
            <th>Event</th>
            <th>Previous Value</th>
            <th>Increase</th>
            <th>New Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Streaming to the /r/Twitch Twitch Community</td>
              <td>0.05 per 5 Minutes</td>
              <td>40x</td>
              <td>2 per 5 Minutes</td>
            </tr>
            <tr>
              <td>Watching a Stream on Purple+</td>
              <td>-</td>
              <td>-</td>
              <td>1 per 5 Minutes</td>
            </tr>
            <tr>
              <td>Nominating a Post</td>
              <td>0.1 per Submission</td>
              <td>50x</td>
              <td>5 per Submission</td>
            </tr>
            <tr>
              <td>Receiving a Nomination</td>
              <td>1 per Submission</td>
              <td>50x</td>
              <td>50 per Submission</td>
            </tr>
            <tr>
              <td>Joining the Discord Server</td>
              <td>1</td>
              <td>25x</td>
              <td>25</td>
            </tr>
            <tr>
              <td>Creating a Purple+ Profile</td>
              <td>-</td>
              <td>-</td>
              <td>25</td>
            </tr>
            <tr>
              <td>Entering a Contest</td>
              <td>25 per Contest</td>
              <td>25x</td>
              <td>25 per Contest</td>
            </tr>
            <tr>
              <td>Winning a Contest</td>
              <td>3 per Win</td>
              <td>50x</td>
              <td>150 per Contest</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}