<li><a class="subheader custom-text text-darken-1 center"><i class="material-icons left">person</i>Account</a></li>
<li><a href="#!" id="dashboard-view-account-preferences">Preferences</a></li>
<li><a href="#!" id="dashboard-view-account-link">Link Accounts</a></li>
<li><a class="subheader custom-text text-darken-1 center"><i class="material-icons left">description</i>Profiles</a></li>
<li><a href="#!" id="dashboard-view-profiles-bookmarks">Bookmarks</a></li>
<li><a href="#!" id="dashboard-view-profiles-ratings">Profile Ratings</a></li>
<li><a class="subheader custom-text text-darken-1 center"><i class="material-icons left">grade</i>Twoos</a></li>
<li><a href="#!" id="dashboard-view-twoos-nominations">My Nominations</a></li>
<li><a href="#!" id="dashboard-view-twoos-submissions">My Nominated Submissions</a></li>
<li><a href="#!" id="dashboard-view-twoos-transactions">Transaction History</a></li>
<li><a class="subheader custom-text text-darken-1 center"><i class="material-icons left">comment</i>Advertisement Requests</a></li>
<li><a href="#!" id="dashboard-view-requests-view">My Advertisement Requests</a></li>
<li><a href="#!" id="dashboard-view-requests-submit">New Advertisement Request</a></li>