<div class="row">
    {% if communities.twitch_desktop %}
        <div class="col l4 m6 s12">
            <div class="card white-text" style="background-color: #6441A4;">
                <div class="card-content">
                    <a href="{{ communities.twitch_desktop }}" class="white-text" target="_blank">
                        <div class="row" style="margin: 0;">
                            <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                            <i class="fab fa-twitch fa-2x"></i>
                        </div>
                            <div class="col l10 m8 s6 valign-wrapper" style="height: 54px;">
                                <h5 style="margin: 0;">Twitch Desktop</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if communities.twitch_community %}
        <div class="col l4 m6 s12">
            <div class="card white-text" style="background-color: #6441A4;">
                <div class="card-content">
                    <a href="{{ communities.twitch_community }}" class="white-text" target="_blank">
                        <div class="row" style="margin: 0;">
                            <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                            <i class="fab fa-twitch fa-2x"></i>
                        </div>
                            <div class="col l10 m8 s6 valign-wrapper" style="height: 54px;">
                                <h5 style="margin: 0;">Twitch Community</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if communities.subreddit %}
        <div class="col l4 m6 s12">
            <div class="card white-text" style="background-color: #FF4500;">
                <div class="card-content">
                    <a href="{{ communities.subreddit }}" class="white-text" target="_blank">
                        <div class="row" style="margin: 0;">
                            <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                            <i class="fab fa-reddit fa-2x"></i>
                        </div>
                            <div class="col l10 m8 s6 valign-wrapper" style="height: 54px;">
                                <h5 style="margin: 0;">Subreddit</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if communities.discord %}
        <div class="col l4 m6 s12">
            <div class="card white-text" style="background-color: #7289DA;">
                <div class="card-content">
                    <a href="{{ communities.discord }}" class="white-text" target="_blank">
                        <div class="row" style="margin: 0;">
                            <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                            <i class="fab fa-discord fa-2x"></i>
                        </div>
                            <div class="col l10 m8 s6 valign-wrapper" style="height: 54px;">
                                <h5 style="margin: 0;">Discord Server</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if communities.slack %}
        <div class="col l4 m6 s12">
            <div class="card white-text" style="background-color: #3EB991;">
                <div class="card-content">
                    <a href="{{ communities.slack }}" class="white-text" target="_blank">
                        <div class="row" style="margin: 0;">
                            <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                            <i class="fab fa-slack fa-2x"></i>
                        </div>
                            <div class="col l10 m8 s6 valign-wrapper" style="height: 54px;">
                                <h5 style="margin: 0;">Slack Server</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if communities.steam %}
        <div class="col l4 m6 s12">
            <div class="card white-text" style="background-color: #000000;">
                <div class="card-content">
                    <a href="{{ communities.steam }}" class="white-text" target="_blank">
                        <div class="row" style="margin: 0;">
                            <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                            <i class="fab fa-steam fa-2x"></i>
                        </div>
                            <div class="col l10 m8 s6 valign-wrapper" style="height: 54px;">
                                <h5 style="margin: 0;">Steam Group</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</div>