<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="center">
          <p class="custom-text text-darken-1" style="font-size: 2.5rem; font-weight: 500;">Profile Manager</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row valign-wrapper">
          <div class="input-field col s8">
            <input id="twitch-name" type="text">
            <label for="twitch-name">Twitch Username</label>
          </div>
          <div class="input-field col s4">
            <a id="profiles-search" href="#!" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%;">Search</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>