{% for user in data %}
  <tr>
    <td class="center">{{ user.twitch_name }}</td>
    <td class="center">{{ user.reddit_name }}</td>
    <td class="center">{% if user.discord_id %}{{ user.discord_name }}#{{ user.discord_tag }}{% endif %}</td>
    <td class="center">{{ user.balance }}</td>
    <td class="center">{{ user.type|title }}</td>
    <td class="center">
      {% if user.display.twitch == "global_mod" %}
        Global Moderator
      {% else %}
        {{ user.display.twitch|title }}
      {% endif %}
    </td>
    <td class="center">
      {% if user.display.subreddit == "wiki" %}
        Wiki Contributor
      {% elseif user.display.subreddit == "contributor" %}
        Outstanding Contributor
      {% elseif user.display.subreddit == "bot" %}
        Bot
      {% else %}
        User
      {% endif %}
    </td>
    <td class="center"><a href="/user/{{ user.twitch_username }}" class="btn-floating waves-effect waves-light custom darken-1" target="_blank"><i class="material-icons">open_in_new</i></a></td>
  </tr>
{% endfor %}
