{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="row" style="margin: 0;">
        <div class="col s12">
          <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500; margin: 10px 0;">Manage Accounts</p>
        </div>
      </div>
      <ul class="tabs" style="overflow: hidden;">
        <li class="tab col s6"><a href="#tab-account">Get Account</a></li>
        <li class="tab col s6"><a href="#tab-users">Generate User List</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="tab-account" class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <div class="row valign-wrapper">
          <div id="search-field" class="input-field col s4">
            <select>
              <option value="reddit_name">Reddit Username</option>
              <option value="reddit_id">Reddit ID</option>
              <option value="twitch_name">Twitch Username</option>
              <option value="twitch_id">Twitch ID</option>
              <option value="discord">Discord ID</option>
            </select>
            <label>Search Field</label>
          </div>
          <div class="input-field col s4">
            <input id="search-query" type="text">
            <label for="search-query">Search Query</label>
          </div>
          <div class="input-field col s4">
            <a id="search" href="#!" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%;">Search</a>
          </div>
        </div>
      </div>
    </div>
    <div id="search-data" class="card" style="display: none;">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <h4 class="center">User Data for <span id="search-data-header"></span></h4>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <table class="highlight">
              <tbody>
                <tr>
                  <td><strong>Reddit ID</strong></td>
                  <td id="search-data-reddit-id"></td>
                </tr>
                <tr>
                  <td><strong>Reddit Username</strong></td>
                  <td id="search-data-reddit-name"></td>
                </tr>
                <tr>
                  <td><strong>Twitch ID</strong></td>
                  <td id="search-data-twitch-id"></td>
                </tr>
                <tr>
                  <td><strong>Twitch Username</strong></td>
                  <td id="search-data-twitch-name"></td>
                </tr>
                <tr>
                  <td><strong>Discord ID</strong></td>
                  <td id="search-data-discord-id"></td>
                </tr>
                <tr>
                  <td><strong>Discord Tag</strong></td>
                  <td id="search-data-discord-name"></td>
                </tr>
                <tr>
                  <td><strong>Last Login</strong></td>
                  <td id="search-data-last-login"></td>
                </tr>
                <tr>
                  <td><strong>Profile Creation Date</strong></td>
                  <td id="search-data-profile-creation"></td>
                </tr>
                <tr>
                  <td><strong>Profile Update Date</strong></td>
                  <td id="search-data-profile-update"></td>
                </tr>
                <tr>
                  <td><strong>Twoos Transactions</strong></td>
                  <td id="search-data-twoos-transactions"></td>
                </tr>
                <tr>
                  <td><strong>Ad Requests</strong></td>
                  <td id="search-data-ad-requests"></td>
                </tr>
                <tr>
                  <td><strong>Twitch Account Type</strong></td>
                  <td id="search-data-twitch-type" style="text-transform: capitalize;"></td>
                </tr>
              </tbody>
            </table>
            <br />
          </div>
          <div class="row">
            <div class="input-field col s3" id="search-data-type">
              <select>
                <option value="user">User</option>
                <option value="mod">Mod</option>
                <option value="helper">Helper</option>
              </select>
              <label>User Type</label>
            </div>
            <div class="input-field col s3" id="search-data-subreddit-type">
              <select>
                <option value="user">User</option>
                <option value="wiki">Wiki Contributor</option>
                <option value="contributor">Outstanding Contributor</option>
                <option value="bot">Bot</option>
              </select>
              <label>Subreddit Type</label>
            </div>
            <div class="input-field col s3" id="search-data-profile-flair">
              <select>
                <option value="">Select...</option>
                <option value="streamer_gaming">Gaming Streamer</option>
                <option value="streamer_creative">Creative Streamer</option>
                <option value="streamer_socialeating">Social Eating Streamer</option>
                <option value="streamer_irl">IRL Streamer</option>
                <option value="streamer_talkshow">Talk Show Streamer</option>
                <option value="streamer_music">Music Streamer</option>
                <option value="artist">Artist</option>
                <option value="developer">Developer</option>
                <option value="communitymanager">Community Manager</option>
                <option value="viewer">Viewer</option>
                <option value="moderator">Moderator</option>
                <option value="other">Other</option>
              </select>
              <label>Verified Profile Flair</label>
            </div>
            <div class="input-field col s3">
              <input id="search-data-twoos-balance" type="number">
              <label for="search-data-twoos-balance">Twoos Balance</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <p>
                <input type="checkbox" class="filled-in" id="search-data-ama-flair" />
                <label for="search-data-ama-flair">AMA Flair</label>
              </p>
            </div>
            <div class="input-field col s4">
              <p>
                <input type="checkbox" class="filled-in" id="search-data-admin" {% if !admin %} disabled {% endif %} />
                <label for="search-data-admin">Site Admin</label>
              </p>
            </div>
            <div class="input-field col s4">
              <p>
                <input type="checkbox" class="filled-in" id="search-data-beta" />
                <label for="search-data-beta">Beta Tester</label>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <p>
                <input type="checkbox" class="filled-in" id="search-data-bans-profile" />
                <label for="search-data-bans-profile">Ban from Submitting Profile</label>
              </p>
            </div>
            <div class="input-field col s4">
              <p>
                <input type="checkbox" class="filled-in" id="search-data-bans-nominations" />
                <label for="search-data-bans-nominations">Ban from Making Nominations</label>
              </p>
            </div>
            <div class="input-field col s4">
              <p>
                <input type="checkbox" class="filled-in" id="search-data-bans-requests" />
                <label for="search-data-bans-requests">Ban from Advertisement Requests</label>
              </p>
            </div>
          </div>
          <div class="row valign-wrapper">
            <div class="input-field col s4">
              <p>
                <input name="profile-action" type="radio" id="search-data-profile-pending" />
                <label for="search-data-profile-pending">Set Profile Pending</label>
              </p>
              <p>
                <input name="profile-action" type="radio" id="search-data-profile-approved" />
                <label for="search-data-profile-approved">Set Profile Approved</label>
              </p>
              <p>
                <input name="profile-action" type="radio" id="search-data-profile-rejected" />
                <label for="search-data-profile-rejected">Set Profile Rejected</label>
              </p>
              <p>
                <input name="profile-action" type="radio" id="search-data-profile-clear" />
                <label for="search-data-profile-clear">Clear Profile</label>
              </p>
            </div>
            <div class="input-field col s4" id="search-data-profile-rejection-reason">
              <select>
                <option value="">Select...</option>
                <option value="Lack of Content">Lack of Content</option>
                <option value="Potentially Unsafe Links">Potentially Unsafe Links</option>
                <option value="Offensive Content">Offensive Content</option>
                <option value="Formatting Errors">Formatting Errors</option>
                <option value="Category Misuse">Category Misuse</option>
                <option value="Other">Other</option>
              </select>
              <label>Rejection Reason</label>
            </div>
            <div class="input-field col s4">
              <a id="search-data-submit" href="#!" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%;">Submit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="tab-users" class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content" id="user-list-generate">
        <div class="row">
          <div class="col l6 m6 s12">
            <p>
              <input name="user-list" type="radio" id="user-list-one" checked />
              <label for="user-list-one">Return Users Who Match At Least One Query</label>
            </p>
          </div>
          <div class="col l6 m6 s12">
            <p>
              <input name="user-list" type="radio" id="user-list-all" />
              <label for="user-list-all">Return Users Who Match All Queries</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-site-admins" type="radio" id="user-list-site-admins-any" checked />
              <label for="user-list-site-admins-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-site-admins" type="radio" id="user-list-site-admins-yes" />
              <label for="user-list-site-admins-yes">Return Site Admins Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-site-admins" type="radio" id="user-list-site-admins-no" />
              <label for="user-list-site-admins-no">Return Site Admins Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-mod" type="radio" id="user-list-mod-any" checked />
              <label for="user-list-mod-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-mod" type="radio" id="user-list-mod-yes" />
              <label for="user-list-mod-yes">Return Subreddit Moderators Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-mod" type="radio" id="user-list-mod-no" />
              <label for="user-list-mod-no">Return Non-Subreddit Moderators Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-helper" type="radio" id="user-list-helper-any" checked />
              <label for="user-list-helper-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-helper" type="radio" id="user-list-helper-yes" />
              <label for="user-list-helper-yes">Return Community Helpers Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-helper" type="radio" id="user-list-helper-no" />
              <label for="user-list-helper-no">Return Non-Community Helpers Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-wiki" type="radio" id="user-list-wiki-any" checked />
              <label for="user-list-wiki-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-wiki" type="radio" id="user-list-wiki-yes" />
              <label for="user-list-wiki-yes">Return Wiki Contributors Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-wiki" type="radio" id="user-list-wiki-no" />
              <label for="user-list-wiki-no">Return Non Wiki Contributors Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-contributor" type="radio" id="user-list-contributor-any" checked />
              <label for="user-list-contributor-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-contributor" type="radio" id="user-list-contributor-yes" />
              <label for="user-list-contributor-yes">Return Outstanding Contributors Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-contributor" type="radio" id="user-list-contributor-no" />
              <label for="user-list-contributor-no">Return Non Outstanding Contributors Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-bot" type="radio" id="user-list-bot-any" checked />
              <label for="user-list-bot-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-bot" type="radio" id="user-list-bot-yes" />
              <label for="user-list-bot-yes">Return Bots Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-bot" type="radio" id="user-list-bot-no" />
              <label for="user-list-bot-no">Return Non Bots Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-staff" type="radio" id="user-list-staff-any" checked />
              <label for="user-list-staff-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-staff" type="radio" id="user-list-staff-yes" />
              <label for="user-list-staff-yes">Return Twitch Staff Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-staff" type="radio" id="user-list-staff-no" />
              <label for="user-list-staff-no">Return Non Twitch Staff Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-admins" type="radio" id="user-list-admins-any" checked />
              <label for="user-list-admins-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-admins" type="radio" id="user-list-admins-yes" />
              <label for="user-list-admins-yes">Return Twitch Admins Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-admins" type="radio" id="user-list-admins-no" />
              <label for="user-list-admins-no">Return Non Twitch Admins Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-global-mods" type="radio" id="user-list-global-mods-any" checked />
              <label for="user-list-global-mods-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-global-mods" type="radio" id="user-list-global-mods-yes" />
              <label for="user-list-global-mods-yes">Return Twitch Global Moderators Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-global-mods" type="radio" id="user-list-global-mods-no" />
              <label for="user-list-global-mods-no">Return Non Twitch Global Moderators Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-ama" type="radio" id="user-list-ama-any" checked />
              <label for="user-list-ama-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-ama" type="radio" id="user-list-ama-yes" />
              <label for="user-list-ama-yes">Return AMA Hosts Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-ama" type="radio" id="user-list-ama-no" />
              <label for="user-list-ama-no">Return Non AMA Hosts Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-streamer-gaming" type="radio" id="user-list-streamer-gaming-any" checked />
              <label for="user-list-streamer-gaming-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-gaming" type="radio" id="user-list-streamer-gaming-yes" />
              <label for="user-list-streamer-gaming-yes">Return Gaming Streamers Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-gaming" type="radio" id="user-list-streamer-gaming-no" />
              <label for="user-list-streamer-gaming-no">Return Non Gaming Streamers Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-streamer-creative" type="radio" id="user-list-streamer-creative-any" checked />
              <label for="user-list-streamer-creative-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-creative" type="radio" id="user-list-streamer-creative-yes" />
              <label for="user-list-streamer-creative-yes">Return Creative Streamers Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-creative" type="radio" id="user-list-streamer-creative-no" />
              <label for="user-list-streamer-creative-no">Return Non Creative Streamers Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-streamer-irl" type="radio" id="user-list-streamer-irl-any" checked />
              <label for="user-list-streamer-irl-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-irl" type="radio" id="user-list-streamer-irl-yes" />
              <label for="user-list-streamer-irl-yes">Return IRL Streamers Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-irl" type="radio" id="user-list-streamer-irl-no" />
              <label for="user-list-streamer-irl-no">Return Non IRL Streamers Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-streamer-socialeating" type="radio" id="user-list-streamer-socialeating-any" checked />
              <label for="user-list-streamer-socialeating-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-socialeating" type="radio" id="user-list-streamer-socialeating-yes" />
              <label for="user-list-streamer-socialeating-yes">Return Social Eating Streamers Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-socialeating" type="radio" id="user-list-streamer-socialeating-no" />
              <label for="user-list-streamer-socialeating-no">Return Non Social Eating Streamers Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-streamer-talkshow" type="radio" id="user-list-streamer-talkshow-any" checked />
              <label for="user-list-streamer-talkshow-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-talkshow" type="radio" id="user-list-streamer-talkshow-yes" />
              <label for="user-list-streamer-talkshow-yes">Return Talk Show Streamers Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-talkshow" type="radio" id="user-list-streamer-talkshow-no" />
              <label for="user-list-streamer-talkshow-no">Return Non Talk Show Streamers Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-streamer-music" type="radio" id="user-list-streamer-music-any" checked />
              <label for="user-list-streamer-music-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-music" type="radio" id="user-list-streamer-music-yes" />
              <label for="user-list-streamer-music-yes">Return Music Streamers Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-streamer-music" type="radio" id="user-list-streamer-music-no" />
              <label for="user-list-streamer-music-no">Return Non Music Streamers Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-artist" type="radio" id="user-list-artist-any" checked />
              <label for="user-list-artist-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-artist" type="radio" id="user-list-artist-yes" />
              <label for="user-list-artist-yes">Return Artists Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-artist" type="radio" id="user-list-artist-no" />
              <label for="user-list-artist-no">Return Non Artists Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-developer" type="radio" id="user-list-developer-any" checked />
              <label for="user-list-developer-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-developer" type="radio" id="user-list-developer-yes" />
              <label for="user-list-developer-yes">Return Developers Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-developer" type="radio" id="user-list-developer-no" />
              <label for="user-list-developer-no">Return Non Developers Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-communitymanager" type="radio" id="user-list-communitymanager-any" checked />
              <label for="user-list-communitymanager-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-communitymanager" type="radio" id="user-list-communitymanager-yes" />
              <label for="user-list-communitymanager-yes">Return Community Managers Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-communitymanager" type="radio" id="user-list-communitymanager-no" />
              <label for="user-list-communitymanager-no">Return Non Community Managers Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-moderator" type="radio" id="user-list-moderator-any" checked />
              <label for="user-list-moderator-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-moderator" type="radio" id="user-list-moderator-yes" />
              <label for="user-list-moderator-yes">Return Moderators Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-moderator" type="radio" id="user-list-moderator-no" />
              <label for="user-list-moderator-no">Return Non Moderators Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-viewer" type="radio" id="user-list-viewer-any" checked />
              <label for="user-list-viewer-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-viewer" type="radio" id="user-list-viewer-yes" />
              <label for="user-list-viewer-yes">Return Viewers Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-viewer" type="radio" id="user-list-viewer-no" />
              <label for="user-list-viewer-no">Return Non Viewers Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-other" type="radio" id="user-list-other-any" checked />
              <label for="user-list-other-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-other" type="radio" id="user-list-other-yes" />
              <label for="user-list-other-yes">Return Other Profiles Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-other" type="radio" id="user-list-other-no" />
              <label for="user-list-other-no">Return Non Other Profiles Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-profile" type="radio" id="user-list-profile-any" checked />
              <label for="user-list-profile-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-profile" type="radio" id="user-list-profile-pending" />
              <label for="user-list-profile-pending">Return Pending Profiles Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-profile" type="radio" id="user-list-profile-approved" />
              <label for="user-list-profile-approved">Return Approved Profiles Only</label>
            </p>
          </div>
          <div class="col s4 offset-s4">
            <p>
              <input name="user-list-profile" type="radio" id="user-list-profile-rejected" />
              <label for="user-list-profile-rejected">Return Rejected Profiles Only</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-profile" type="radio" id="user-list-profile-no" />
              <label for="user-list-profile-no">Return Users Without Profiles Only</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p>
              <input name="user-list-twoos" type="radio" id="user-list-twoos-any" checked />
              <label for="user-list-twoos-any">No Preference</label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <input name="user-list-twoos" type="radio" id="user-list-twoos-more" />
              <label for="user-list-twoos-more">Require The Following Twoos Balance or More</label>
            </p>
            <p>
              <input name="user-list-twoos" type="radio" id="user-list-twoos-less" />
              <label for="user-list-twoos-less">Require The Following Twoos Balance or Less</label>
            </p>
            <p>
              <input name="user-list-twoos" type="radio" id="user-list-twoos-exact" />
              <label for="user-list-twoos-exact">Require The Following Twoos Balance Exactly</label>
            </p>
          </div>
          <div class="col s4 input-field">
            <input id="user-list-twoos-value" type="number" min="1" />
            <label for="user-list-twoos-value">Twoos</label>
          </div>
        </div>
        <div class="row" style="margin: 0;">
          <div class="col s12 center">
            <a id="user-list-submit" class="btn waves-effect waves-light custom darken-1" style="width: 100%;">Submit</a>
          </div>
        </div>
      </div>
      <div class="card-content" id="user-list-result" style="display: none;">
        <table>
          <thead>
            <th class="center">Twitch Name</th>
            <th class="center">Discord Name</th>
            <th class="center">Discord Tag</th>
            <th class="center">Twoos</th>
            <th class="center">Type</th>
            <th class="center">Subreddit Type</th>
            <th class="center">Twitch Type</th>
            <th class="center">Profile</th>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="/js/admin_accounts.js"></script>

{% include "./footer.html" %}
