{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="row" style="margin: 0;">
        <div class="col s12">
          <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500; margin: 10px 0;">Manage Advertisement Requests</p>
        </div>
      </div>
      <ul class="tabs" style="overflow: hidden;">
        <li class="tab col s6"><a href="#tab-pending">Pending Requests</a></li>
        <li class="tab col s6"><a href="#tab-search">Search Requests</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="tab-pending" class="row">
  <div class="col s10 offset-s1" style="padding: 0;">
    {% for user in data %}
      {% for request in user.requests %}
        {% if request.status == "pending" %}
          <div class="col l4 m6 s12">
            <div class="card">
              <div class="card-content">
                <div class="row" style="margin: 0;">
                  <div class="col s12">
                    <h5 class="center truncate">{{ request.data.name }}</h5>
                  </div>
                  <div class="col s6">
                    <h6 class="center">{{ request.timestamp }}</h6>
                  </div>
                  <div class="col s6">
                    {% if request.type == "web" %}
                      <h6 class="center">Web Tool</h6>
                    {% elseif request.type == "desktop" %}
                      <h6 class="center">Desktop Tool</h6>
                    {% elseif request.type == "extension" %}
                      <h6 class="center">Browser Extension</h6>
                    {% elseif request.type == "video" %}
                      <h6 class="center">Video</h6>
                    {% elseif request.type == "ama" %}
                      <h6 class="center">AMA as a Business</h6>
                    {% else %}
                      <h6 class="center">Other</h6>
                    {% endif %}
                  </div>
                  <div class="col s6">
                    <h6 class="center">{{ request.comments.length }} Comments</h6>
                  </div>
                  <div class="col s6">
                    <h6 class="center">{{ request.timestamp|date('d/m/Y') }}</h6>
                  </div>
                  <br />
                  <div class="col s6 center">
                    <a class="btn waves-effect waves-green green darken-2 white-text" style="padding: 0 15px; margin-right: 2px; cursor: default;"><i class="material-icons">thumb_up</i> <span style="bottom: 4px; left: 6px; position: relative;">{{ request.upvotes.length }}</span></a><a class="btn waves-effect waves-red red darken-2 white-text" style="padding: 0 15px; margin-left: 2px; cursor: default;"><i class="material-icons">thumb_down</i> <span style="bottom: 4px; left: 6px; position: relative;">{{ request.downvotes.length }}</span></a></td>
                  </div>
                  <div class="col s6 center">
                    <a href="/user/{{ user.twitch_username }}/requests/{{ request.timestamp }}" class="btn waves-effect waves-light custom darken-1 white-text" target="_blank">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

<div id="tab-search">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <div class="row valign-wrapper">
            <div class="input-field col s4">
              <input id="search-reddit-username" type="text">
              <label for="search-reddit-username">Reddit Username</label>
            </div>
            <div class="input-field col s4">
              <input id="search-twitch-username" type="text">
              <label for="search-twitch-username">Twitch Username</label>
            </div>
            <div class="input-field col s4">
              <input id="search-title" type="text">
              <label for="search-title">Title</label>
            </div>
          </div>
          <div class="row valign-wrapper">
            <div id="search-type" class="input-field col s4">
              <select>
                <option value="">Select...</option>
                <option value="web">Web Tool</option>
                <option value="desktop">Desktop Tool</option>
                <option value="extension">Browser Extension</option>
                <option value="other">Other</option>
              </select>
              <label>Type</label>
            </div>
            <div id="search-status" class="input-field col s4">
              <select>
                <option value="">Select...</option>
                <option value="pending">Pending</option>
                <option value="approved">Approved</option>
                <option value="rejected">Rejected</option>
                <option value="withdrawn">Withdrawn</option>
              </select>
              <label>Status</label>
            </div>
            <div class="input-field col s4">
              <a id="search" href="#!" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%;">Search</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="search-data" class="col s10 offset-s1" style="padding: 0;">

    </div>
  </div>
</div>

<script src="/js/admin_requests.js"></script>

{% include "./footer.html" %}
