{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500; margin: 10px 0;">Site Admins</p>
          <p class="custom-text text-lighten-1 center">Site Admins are /r/Twitch Moderators and Community Helpers. They help approve profiles, advertisement requests and submission nominations!</p>
        </div>
      </div>
    </div>
    {% if data[0] %}
      {% include "./profile_partial.html" %}
    {% else %}
      <div class="col s12">
        {% set message = "There are no site admins." %}
        {% include "./missing_partial.html" %}
      </div>
    {% endif %}
  </div>
</div>

{% include "./footer.html" %}
