{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="row" style="margin: 0;">
        <div class="col s12">
          <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500; margin: 10px 0;">Manage Twoos</p>
        </div>
      </div>
      <ul class="tabs" style="overflow: hidden;">
        <li class="tab col s4"><a href="#tab-pending">Pending Nominations</a></li>
        <li class="tab col s4"><a href="#tab-search-transactions">Search Transactions</a></li>
        <li class="tab col s4"><a href="#tab-search-nominations">Search Nominations</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="tab-pending" class="row">
  <div class="col s10 offset-s1">
    {% for user in data %}
      {% for nomination in user.nominations %}
        {% if nomination.status == "pending" && user.reddit_name %}
          <div class="card">
            <div class="card-content">
              <div class="row" style="margin: 0;">
                <div class="col s12">
                  <table>
                    <thead>
                      <th>Nomination ID</th>
                      <th>Nominator</th>
                      <th>Nominee</th>
                      <th>Nomination</th>
                      <th>Action</th>
                    </thead>
                    <tbody>
                      <tr id="nomination-{{ nomination.nomination_id }}-wrapper">
                        <td>{{ nomination.nomination_id }}</td>
                        <td>{{ nomination.nominator_name }}</td>
                        <td>{{ user.reddit_name }}</td>
                        <td><a href="{{ nomination.nomination_url }}" class="btn waves-effect waves-light custom darken-1 white-text" target="_blank">View</a></td>
                        <td>
                          <a href="#!" class="green-text tooltipped" id="approve-nomination" style="width: 100%;" data-id="{{ nomination.nomination_id }}" data-reddit="{{ user.reddit_id }}" data-position="bottom" data-delay="50" data-tooltip="Approve"><i class="material-icons">done</i></a>
                          <a href="#!" class="red-text tooltipped" id="reject-nomination" style="width: 100%;" data-id="{{ nomination.nomination_id }}" data-reddit="{{ user.reddit_id }}" data-position="bottom" data-delay="50" data-tooltip="Reject"><i class="material-icons">not_interested</i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

<div id="tab-search-transactions">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <div class="row valign-wrapper">
            <div class="input-field col s4">
              <input id="search-transactions-reddit-username" type="text">
              <label for="search-transactions-reddit-username">Reddit Username</label>
            </div>
            <div class="input-field col s4">
              <input id="search-transactions-twitch-username" type="text">
              <label for="search-transactions-twitch-username">Twitch Username</label>
            </div>
            <div class="input-field col s4">
              <input id="search-transactions-discord-id" type="text">
              <label for="search-transactions-discord-id">Discord ID</label>
            </div>
          </div>
          <div class="row valign-wrapper">
            <div class="input-field col s6">
              <input id="search-transactions-id" type="text">
              <label for="search-transactions-id">ID</label>
            </div>
            <div class="input-field col s6">
              <a id="search-transactions" href="#!" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%;">Search</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="search-transactions-data" class="col s10 offset-s1" style="display: none;">
      <div class="card">
        <div class="card-content">
          <table class="highlight">
            <thead>
              <th class="center">Username</th>
              <th class="center">Date</th>
              <th class="center">Title</th>
              <th class="center">Old Value</th>
              <th class="center">New Value</th>
              <th class="center">Difference</th>
              <th class="center">More</th>
            </thead>
            <tbody id="results">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="tab-search-nominations">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <div class="row valign-wrapper">
            <div class="input-field col s3">
              <input id="search-nominations-reddit-username" type="text">
              <label for="search-nominations-reddit-username">Reddit Username</label>
            </div>
            <div class="input-field col s3">
              <input id="search-nominations-twitch-username" type="text">
              <label for="search-nominations-twitch-username">Twitch Username</label>
            </div>
            <div class="input-field col s3">
              <input id="search-nominations-discord-id" type="text">
              <label for="search-nominations-discord-id">Discord ID</label>
            </div>
            <div class="input-field col s3">
              <input id="search-nominations-id" type="text">
              <label for="search-nominations-id">ID</label>
            </div>
          </div>
          <div class="row valign-wrapper">
            <div class="input-field col s4">
              <input id="search-nominations-url" type="text">
              <label for="search-nominations-url">URL</label>
            </div>
            <div id="search-nominations-status" class="input-field col s4">
              <select>
                <option value="">Select...</option>
                <option value="pending">Pending</option>
                <option value="approved">Approved</option>
                <option value="rejected">Rejected</option>
              </select>
              <label>Status</label>
            </div>
            <div class="input-field col s4">
              <a id="search-nominations" href="#!" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%;">Search</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="search-nominations-data" class="col s10 offset-s1" style="display: none;">
      <div class="card">
        <div class="card-content">
          <div class="row" style="margin: 0;">
            <div class="col s12">
              <table>
                <thead>
                  <th>Nomination ID</th>
                  <th>Nominator</th>
                  <th>Nominee</th>
                  <th>Nomination</th>
                  <th>Status</th>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/admin_twoos.js"></script>

{% include "./footer.html" %}
