{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500; margin: 10px 0;">Site Admins</p>
          <p class="custom-text text-lighten-1 center">Site Admins are /r/Twitch Moderators and Community Helpers. They help approve profiles, advertisement requests and submission nominations!</p>
        </div>
      </div>
    </div>
    {% if data[0] %}
      {% for user in data %}
        <div class="col l4 m6 s12">
          <div class="card" data-id="{{ user.twitch_id }}">
            <div class="card-content">
              <div class="row" style="margin: 0;">
                <div class="col s12 center" style="min-height: 175px;">
                  <a href="/user/{{ user.twitch_username }}" {% if user.stream.stream_type == "live" %}class="img-pulse live"{% elseif user.stream.stream_type == "vodcast" %}class="img-pulse video"{% elseif user.hosting %}class="img-pulse host"{% endif %} data-name="{{ user.twitch_username }}" style="max-height: 75px; max-width: 75px; display: inline-block;" target="_blank"><img {% if user.logo %} src="{{ user.logo }}" {% else %} src="/img/twitch.png" {% endif %} class="circle z-depth-2 responsive-img" style="max-height: 75px;"></a>
                  <h5 class="custom-text text-darken-1"><img src="/img/twitch.png" class="responsive-img" style="max-height: 20px; margin-right: 10px; position: relative; top: 2px;" />{{ user.twitch_name }}</h5>
                  {% if user.reddit_name %}<p class="custom-text text-darken-1"><img src="/img/reddit.png" class="responsive-img" style="max-height: 15px; margin-right: 10px; position: relative; top: 2px;" />{{ user.reddit_name }}</p>{% endif %}
                  {% if user.discord_id %}<p class="custom-text text-darken-1"><img src="/img/discord.png" class="responsive-img" style="max-height: 15px; margin-right: 10px; position: relative; top: 2px;" />{{ user.discord_name }}#{{ user.discord_tag }}</p>{% endif %}
                </div>
                <div class="col s12 center" style="margin: 5px 0;">
                  <p class="custom-text text-lighten-1">{{ user.profile.overview.about }}</p>
                </div>
                <div class="col s12 center">
                  {% set data = user %}
                  {% include "./flair_partial.html" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="col s12">
        {% set message = "There are no site admins." %}
        {% include "./missing_partial.html" %}
      </div>
    {% endif %}
  </div>
</div>

{% include "./footer.html" %}
