{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="row" style="margin: 0;">
        <div class="col s12">
          <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500; margin: 10px 0;">Manage Discord Server</p>
        </div>
      </div>
      <ul class="tabs" style="overflow: hidden;">
        <li class="tab col s4"><a href="#tab-commands">Manage Commands</a></li>
        <li class="tab col s4"><a href="#tab-filters">Manage Filters</a></li>
        <li class="tab col s4 {% if !settings.logs %} disabled {% endif %}"><a href="#tab-logs">View Logs</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="tab-commands" class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <p class="custom-text text-darken-1 center" style="font-size: 2rem; font-weight: 500; margin: 10px 0;">Manage Commands<a href="#modal-edit-command" id="add-command" class="btn-floating custom darken-1 waves-effect waves-light right"><i class="material-icons">add</i></a></p>
        </div>
      </div>
    </div>
    {% if commands[0] %}
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12">
              <table>
                <thead>
                  <th class="center">Command Name</th>
                  <th class="center">Command Response</th>
                  <th class="center">Enabled</th>
                  <th class="center">Action</th>
                </thead>
                <tbody>
                  {% for command in commands %}
                    <tr>
                      <td class="center">{{ command.name }}</td>
                      <td class="center">{{ command.response }}</td>
                      <td class="center">
                        {% if command.enabled == "true" %}
                          Yes
                        {% else %}
                          No
                        {% endif %}
                      </td>
                      <td class="center">
                        <a href="#modal-edit-command" id="edit-command" class="btn waves-effect waves-light orange darken-2" data-id="{{ command._id.toString() }}"><i class="material-icons">edit</i></a>
                        <a href="#!" id="delete-command" class="btn waves-effect waves-light red darken-2" data-id="{{ command._id.toString() }}"><i class="material-icons">delete</i></a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      {% set message = "There have not been any messages logged." %}
      {% include "./missing_partial.html" %}
    {% endif %}
  </div>
</div>

<div id="modal-edit-command" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 id="command-modal-title">Add Discord Command</h4>
    <hr />
    <div class="row" style="margin: 0";>
      <div class="col l8 m6 s12 input-field">
        <input id="edit-command-trigger" type="text">
        <label for="edit-command-trigger">Command Trigger</label>
      </div>
      <div class="col l4 m6 s12 input-field">
        <div class="switch">
          <label>
            Disabled
            <input id="edit-command-enabled" type="checkbox" checked>
            <span class="lever"></span>
            Enabled
          </label>
        </div>
      </div>
      <div class="col s12 input-field">
        <textarea id="edit-command-response" class="materialize-textarea"></textarea>
        <label for="edit-command-response">Command Response</label>
      </div>
      <div class="col s12">
        <p>
          <input type="checkbox" class="filled-in" id="edit-command-restrict" />
          <label for="edit-command-restrict">Restrict Command</label>
        </p>
      </div>
      <div class="col l6 m6 s12">
        <p>
          <input name="edit-command-method" type="radio" id="edit-command-method-one" checked disabled />
          <label for="edit-command-method-one">Users Match At Least One of the Following Attributes</label>
        </p>
      </div>
      <div class="col l6 m6 s12">
        <p>
          <input name="edit-command-method" type="radio" id="edit-command-method-all" disabled />
          <label for="edit-command-method-all">Users Match All of the Following Attributes</label>
        </p>
      </div>
      <div class="col l6 m6 s12">
        <p>
          <input type="checkbox" class="filled-in" id="edit-command-allow-mods" disabled />
          <label for="edit-command-allow-mods">Allow Subreddit Moderators</label>
        </p>
      </div>
      <div class="col l6 m6 s12">
        <p>
          <input type="checkbox" class="filled-in" id="edit-command-allow-helpers" disabled />
          <label for="edit-command-allow-helpers">Allow Community Helpers</label>
        </p>
      </div>
      <div class="col l6 m6 s12">
        <p>
          <input type="checkbox" class="filled-in" id="edit-command-allow-wiki" disabled />
          <label for="edit-command-allow-wiki">Allow Wiki Contributors</label>
        </p>
      </div>
      <div class="col l6 m6 s12">
        <p>
          <input type="checkbox" class="filled-in" id="edit-command-allow-staff" disabled />
          <label for="edit-command-allow-staff">Allow Twitch Staff</label>
        </p>
      </div>
      <div class="col l6 m6 s12">
        <p>
          <input type="checkbox" class="filled-in" id="edit-command-allow-admins" disabled />
          <label for="edit-command-allow-admins">Allow Twitch Admins</label>
        </p>
      </div>
      <div class="col l6 m6 s12">
        <p>
          <input type="checkbox" class="filled-in" id="edit-command-allow-global-mods" disabled />
          <label for="edit-command-allow-global-mods">Allow Global Moderators</label>
        </p>
      </div>
      <div class="col l6 m6 s12">
        <p>
          <input type="checkbox" class="filled-in" id="edit-command-allow-contributors" disabled />
          <label for="edit-command-allow-contributors">Allow Outstanding Contributors</label>
        </p>
      </div>
      <div class="col l6 m6 s12">
        <p>
          <input type="checkbox" class="filled-in" id="edit-command-allow-profiles" disabled />
          <label for="edit-command-allow-profiles">Allow Users With Approved Profiles</label>
        </p>
      </div>
      <div class="col l6 m6 s12">
        <p>
          <input type="checkbox" class="filled-in" id="edit-command-allow-twoos" disabled />
          <label for="edit-command-allow-twoos">Allow Users With More Than The Following Twoos Balance:</label>
        </p>
      </div>
      <div class="col l6 m6 s12 input-field" style="margin-top: -5px;">
        <input id="edit-command-allow-twoos-value" type="number" min="1" disabled />
        <label for="edit-command-allow-twoos-value">Minimum Twoos Value</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" id="save-command" class="modal-action modal-close waves-effect waves-green btn-flat">Save & Close</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<div id="tab-filters" class="row">
  <div class="col s10 offset-s1">
    <div class="card center">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <h2>Error 503</h2>
          </div>
          <div class="col s12">
            <h5>This feature is not available in the beta build. Sorry!</h5>
          </div>
          <div class="col s12">
            <p>Please use the navigation bar at the top of the page to return to the main site.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if settings.logs %}
  <div id="tab-logs" class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <p class="custom-text text-darken-1 center" style="font-size: 2rem; font-weight: 500; margin: 10px 0;">View Logs</p>
            <p class="center">Disclaimer: This page is deprecated in favour of IlluminatiBot. You can view it at: <a href="https://logs.r-twitch.xyz/">https://logs.r-twitch.xyz/</a></p>
          </div>
        </div>
      </div>
      {% if logs[0] %}
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div id="search-channel" class="input-field col s3">
                <select>
                  <option value="">Select...</option>
                  {% for channel in channels %}
                    <option value="{{ channel.id }}">#{{ channel.name }}</option>
                  {% endfor %}
                </select>
                <label>Channel</label>
              </div>
              <div class="input-field col s3">
                <input id="search-user" type="text">
                <label for="search-user">User ID</label>
              </div>
              <div class="input-field col s3">
                <input id="search-results" type="number" value="100">
                <label for="search-results">Number of Results</label>
              </div>
              <div class="input-field col s3">
                <a id="search" href="#!" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%;">Search</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card" id="logs-table">
          <div class="card-content">
            <table class="highlight row">
              <thead>
                <th class="col s2" style="padding: 15px 0 15px 0.75rem;">Date/Time (UTC)</th>
                <th class="col s1" style="padding: 15px 0 15px 0.75rem;">Channel</th>
                <th class="col s3" style="padding: 15px 0 15px 0.75rem;">User</th>
                <th class="col s1" style="padding: 15px 0 15px 0.75rem;">Edits</th>
                <th class="col s5" style="padding: 15px 0 15px 0.75rem;">Message</th>
              </thead>
              <tbody>
                {% for log in logs %}
                  <tr class="valign-wrapper">
                    <td title="{{ log.timestamp }}" class="col s2" style="padding: 15px 0 15px 0.75rem;">{% if log.deleted %}<strike>{% endif %}{{ log.timestamp|date('d/m/Y H:i:s') }}{% if log.deleted %}</strike>{% endif %}</td>
                    <td title="{{ log.channel_id }}" class="col s1" style="padding: 15px 0 15px 0.75rem;">{% if log.deleted %}<strike>{% endif %}#{{ log.channel_name }}{% if log.deleted %}</strike>{% endif %}</td>
                    <td title="{{ log.discord_id }}" class="col s3" style="padding: 15px 0 15px 0.75rem;">{% if log.deleted %}<strike>{% endif %}{{ log.discord_tag }}{% if log.deleted %}</strike>{% endif %}</td>
                    <td class="col s1" style="padding: 15px 0 15px 0.75rem;">{% if log.edits[0] %}<a href="#modal-log-{{ log.channel_id }}-{{ log.message_id }}" class="btn-floating waves-effect waves-light custom darken-1 white-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Edits"><i class="material-icons right">mode_edit</i></a>{% endif %}</td>
                    <td class="col s5" style="padding: 15px 0 15px 0.75rem;">{% if log.deleted %}<strike>{% endif %}{{ log.message }}{% if log.deleted %}</strike>{% endif %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% else %}
        {% set message = "There have not been any messages logged." %}
        {% include "./missing_partial.html" %}
      {% endif %}
    </div>
  </div>

  {% for log in logs %}
    {% if log.edits[0] %}
      <div id="modal-log-{{ log.channel_id }}-{{ log.message_id }}" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Message From {{ log.discord_tag }} in #{{ log.channel_name }} - View Edits</h4>
          <hr />
          <table class="highlight">
            <thead>
              <th>Date/Time (UTC)</th>
              <th>Message</th>
            </thead>
            <tbody>
              {% for edit in log.edits.reverse() %}
              <tr>
                <td>{{ edit.timestamp|date('d/m/Y H:i:s') }}</td>
                <td>{{ edit.message }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

<script src="/js/admin_discord_commands.js"></script>
<script src="/js/admin_discord_logs.js"></script>

{% include "./footer.html" %}
