{% include "./header.html" %}

<audio controls id="alert" style="display: none;" data-subreddit="{{ subreddit }}"><source src="/audio/alert.ogg" type="audio/ogg"></audio>

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500; margin: 10px 0;">Pusher</p>
          </div>
        </div>
        <div class="row center" style="margin: 0;">
          <div class="col s4">
            <h6><a href="#!" id="toggle-audio">Disable Audio</a></h6>
          </div>
          <div class="col s4">
            <h6><a href="#!" id="toggle-feed">Show Comments</a></h6>
          </div>
          <div class="col s4">
            <h6><a href="#!" id="clear-list">Clear List</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s10 offset-s1" id="data">

  </div>
</div>

<div id="modal-comment" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Submit Comment as /u/TwitchSubreddit</h4>
    <hr />
    <div id="comment-macro" class="input-field col s12">
      <select>
        <option value="">Select...</option>
          {% for macro in macros %}
            {% if macro.title.replace("[P] ", "") != macro.title %}
              <option value="{{ macro.text|url_decode }}">{{ macro.title.replace("[P]", "") }}</option>
            {% endif %}
          {% endfor %}
      </select>
      <label>Select Macro</label>
    </div>
    <br />
    <div class="input-field col s12">
      <textarea id="comment-text" class="materialize-textarea"></textarea>
      <label>Macro Text</label>
    </div>
    <div class="input-field col s12">
      <p>
        <input type="checkbox" class="filled-in" id="comment-distinguish" checked />
        <label for="comment-distinguish">Distinguish Comment</label>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="submit-comment">Submit and Close</a>
  </div>
</div>

<div id="modal-flair" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Set Link Flair</h4>
    <hr />
    <div id="link-flair" class="input-field col s12">
      <select>
        <option value="">Select...</option>
        {% for flair in flairs %}
          <option data-text={{ flair.text }} data-css="{{ flair.css_class }}">{{ flair.text }}</option>
        {% endfor %}
      </select>
      <label>Select Flair</label>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="submit-flair">Submit and Close</a>
  </div>
</div>

<script src="/js/pusher.js"></script>

{% include "./footer.html" %}
