{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500;">Discord Commands</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <ul class="collapsible" data-collapsible="accordion">
      {% for command in data %}
        <li>
          <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">chevron_right</i>{{ command.name }}</div>
          <div class="collapsible-body row" style="margin: 0;">
            <h5>Command Trigger</h5>
            <p>{{ command.name }}</p>
            <h5>Command Response</h5>
            <p>{{ command.response }}</p>
            <h5>Enabled</h5>
            <p>
              {% if command.enabled %}
                Yes
              {% else %}
                No
              {% endif %}
            </p>
            <h5>Restrictions</h5>
            {% if command.restricted %}
              <div class="col s12">
                <p>
                  {% if command.restrictions.method == "one" %}
                    Users Must Match At Least One of the Following Attributes
                  {% else %}
                    Users Must Match All of the Following Attributes
                  {% endif %}
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>
                  <input type="checkbox" class="filled-in" id="command-allow-mods" disabled {% if command.restrictions.mods %} checked {% endif %} />
                  <label for="command-allow-mods">Allow Subreddit Moderators</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>
                  <input type="checkbox" class="filled-in" id="command-allow-helpers" disabled {% if command.restrictions.helpers %} checked {% endif %} />
                  <label for="command-allow-helpers">Allow Community Helpers</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>
                  <input type="checkbox" class="filled-in" id="command-allow-wiki" disabled {% if command.restrictions.wiki %} checked {% endif %} />
                  <label for="command-allow-wiki">Allow Wiki Contributors</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>
                  <input type="checkbox" class="filled-in" id="command-allow-staff" disabled {% if command.restrictions.staff %} checked {% endif %} />
                  <label for="command-allow-staff">Allow Twitch Staff</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>
                  <input type="checkbox" class="filled-in" id="command-allow-admins" disabled {% if command.restrictions.admins %} checked {% endif %} />
                  <label for="command-allow-admins">Allow Twitch Admins</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>
                  <input type="checkbox" class="filled-in" id="command-allow-global-mods" disabled {% if command.restrictions.global_mods %} checked {% endif %} />
                  <label for="command-allow-global-mods">Allow Global Moderators</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>
                  <input type="checkbox" class="filled-in" id="command-allow-contributors" disabled {% if command.restrictions.contributors %} checked {% endif %} />
                  <label for="command-allow-contributors">Allow Outstanding Contributors</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>
                  <input type="checkbox" class="filled-in" id="command-allow-profiles" disabled {% if command.restrictions.profiles %} checked {% endif %} />
                  <label for="command-allow-profiles">Allow Users With Approved Profiles</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>
                  <input type="checkbox" class="filled-in" id="command-allow-twoos" disabled {% if command.restrictions.twoos %} checked {% endif %} />
                  <label for="command-allow-twoos">Allow Users With More Than The Following Twoos Balance:</label>
                </p>
              </div>
              <div class="col l6 m6 s12 input-field" style="margin-top: -5px;">
                <input id="command-allow-twoos-value" type="number" disabled value="{{ command.restrictions.twoos_value }}" />
                <label for="command-allow-twoos-value">Minimum Twoos Value</label>
              </div>
            {% else %}
              <p>None</p>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% include "./footer.html" %}
