<div class="col s12 center">
  {% if data.type == "mod" %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="/r/Twitch Moderator"><img src="/img/flair/mod.png" /></a>
  {% endif %}
  {% if data.type == "helper" %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="/r/Twitch Community Helper"><img src="/img/flair/helper.png" /></a>
  {% endif %}
  {% if data.display.twitch == "staff" %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Twitch Staff"><img src="/img/flair/staff.png" /></a>
  {% endif %}
  {% if data.display.twitch == "admin" %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Twitch Admin"><img src="/img/flair/admin.png" /></a>
  {% endif %}
  {% if data.display.twitch == "global_mod" %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Twitch Global Moderator"><img src="/img/flair/gmod.png" /></a>
  {% endif %}
  {% if data.display.ama %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="/r/Twitch AMA Host"><img src="/img/flair/ama.png" /></a>
  {% endif %}
  {% if data.display.subreddit == "wiki" %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="/r/Twitch Wiki Contributor"><img src="/img/flair/wiki.png" /></a>
  {% endif %}
  {% if data.display.subreddit == "contributor" %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="/r/Twitch Outstanding Contributor"><img src="/img/flair/contributor.png" /></a>
  {% endif %}
  {% if data.display.subreddit == "bot" %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="/r/Twitch Bot"><img src="/img/flair/bot.png" /></a>
  {% endif %}
  {% if data.profile.status == "approved" %}
    {% if data.profile.types.streamer_gaming %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Gaming Streamer"><img src="/img/flair/streamer_gaming.png" /></a>
    {% endif %}
    {% if data.profile.types.streamer_creative %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Creative Streamer"><img src="/img/flair/streamer_creative.png" /></a>
    {% endif %}
    {% if data.profile.types.streamer_irl %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="IRL Streamer"><img src="/img/flair/streamer_irl.png" /></a>
    {% endif %}
    {% if data.profile.types.streamer_socialeating %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Social Eating Streamer"><img src="/img/flair/streamer_socialeating.png" /></a>
    {% endif %}
    {% if data.profile.types.streamer_talkshow %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Talk Show Streamer"><img src="/img/flair/streamer_talkshow.png" /></a>
    {% endif %}
    {% if data.profile.types.streamer_music %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Music Streamer"><img src="/img/flair/streamer_music.png" /></a>
    {% endif %}
    {% if data.profile.types.artist %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Artist"><img src="/img/flair/artist.png" /></a>
    {% endif %}
    {% if data.profile.types.developer %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Developer"><img src="/img/flair/developer.png" /></a>
    {% endif %}
    {% if data.profile.types.communitymanager %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Community Manager"><img src="/img/flair/communitymanager.png" /></a>
    {% endif %}
    {% if data.profile.types.moderator %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Moderator"><img src="/img/flair/moderator.png" /></a>
    {% endif %}
    {% if data.profile.types.viewer %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Viewer"><img src="/img/flair/viewer.png" /></a>
    {% endif %}
    {% if data.profile.types.other %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Other"><img src="/img/flair/intro.png" /></a>
    {% endif %}
  {% endif %}
  {% if data.balance >= 1 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="1 Twoo"><img src="/img/flair/bits-1.png" /></a>
  {% endif %}
  {% if data.balance >= 5 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="5 Twoos"><img src="/img/flair/bits-5.png" /></a>
  {% endif %}
  {% if data.balance >= 10 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="10 Twoos"><img src="/img/flair/bits-10.png" /></a>
  {% endif %}
  {% if data.balance >= 25 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="25 Twoos"><img src="/img/flair/bits-25.png" /></a>
  {% endif %}
  {% if data.balance >= 50 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="50 Twoos"><img src="/img/flair/bits-50.png" /></a>
  {% endif %}
  {% if data.balance >= 75 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="75 Twoos"><img src="/img/flair/bits-75.png" /></a>
  {% endif %}
  {% if data.balance >= 100 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="100 Twoos"><img src="/img/flair/bits-100.png" /></a>
  {% endif %}
  {% if data.balance >= 200 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="200 Twoos"><img src="/img/flair/bits-200.png" /></a>
  {% endif %}
  {% if data.balance >= 300 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="300 Twoos"><img src="/img/flair/bits-300.png" /></a>
  {% endif %}
  {% if data.balance >= 400 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="400 Twoos"><img src="/img/flair/bits-400.png" /></a>
  {% endif %}
  {% if data.balance >= 500 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="500 Twoos"><img src="/img/flair/bits-500.png" /></a>
  {% endif %}
  {% if data.balance >= 600 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="600 Twoos"><img src="/img/flair/bits-600.png" /></a>
  {% endif %}
  {% if data.balance >= 700 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="700 Twoo"s><img src="/img/flair/bits-700.png" /></a>
  {% endif %}
  {% if data.balance >= 800 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="800 Twoos"><img src="/img/flair/bits-800.png" /></a>
  {% endif %}
  {% if data.balance >= 900 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="900 Twoos"><img src="/img/flair/bits-900.png" /></a>
  {% endif %}
  {% if data.balance >= 1000 %}
    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="1000 Twoos"><img src="/img/flair/bits-1000.png" /></a>
  {% endif %}
</div>
