{% include "./header.html" %}

<div class="row">
  <div class="col s2 offset-s1">
    <div class="pinned" style="width: 15%;">
      <div class="card">
        <div class="card-content">
          <h5 class="center" style="margin: 0;">Navigation</h5>
          <ul class="section table-of-contents" style="margin: 0;">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#submitting">Submitting Your Profile</a></li>
            <li><a href="#settings">Your Profile's Settings</a></li>
            <li><a href="#viewing">Viewing Other Profiles</a></li>
            <li><a href="#trophies">Trophies</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col s8">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500;">Help Documentation: Profiles</p>
            <p class="custom-text text-darken-1 center">Created by <a href="/user/greuxn">Greuxn</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s8 offset-s3">
    <div class="card">
      <div class="card-content">
        <div id="introduction" class="section scrollspy">
          <h4>Introduction</h4>
          <p>Profiles are an essential part of Purple+'s systems. Most of the discovery features require you to have an approved profile before you will start to be shown. These profiles replace the old intro posts that used to be on /r/Twitch (and later on TwitchDB), and are the subreddit's way of letting you promote yourself!</p>
        </div>
        <div id="submitting" class="section scrollspy">
          <h4>Submitting Your Profile</h4>
          <h5>Markdown and Emotes</h5>
          <p>Before we get started with creating a profile, it is important to mention that Purple+ does support Markdown formatting. All Twitch and BetterTTV emotes are supported, too. To use an emote you must surround the emote code with colons, for example: <code>:Kappa:</code> would show <img src="https://static-cdn.jtvnw.net/emoticons/v1/25/1.0" />.</p>
          <br />
          <p>However, not all sections support Markdown and Emotes, but we will specify which do throughout this guide.</p>
          <br />
          <h5>Getting Started</h5>
          <p>To get started, login using your Twitch account. After connecting Purple+ with your Twitch account you should be redirected to the "Create Profile" page. If not, then click your username located on the right side of the navigation bar.</p>
          <br />
          <p>You can read an overview of what you can do with a Purple+ profile on the "Create Profile" page. Once you’re ready to create a profile, click the purple "Get Started" button to begin the profile creation process.</p>
          <br />
          <h5>Step 1 - Overview</h5>
          <p>Step one is where you give a brief introduction of yourself, a more detailed “About Me”, and some extra background information.</p>
          <br />
          <p>With a <em>character limit of 100</em>, you will want to keep your "Introduction" section short and sweet. Save the extra details for the "About You" and "Your Background" sections, as they have a <em>character minimum of 200</em>.</p>
          <br />
          <p>This section <em>does</em> support the use of Markdown and Emotes, with the exception of the "Introduction" which does not support emotes.</p>
          <br />
          <p>Once you have finished filling in all the sections for step one, click the purple "Next" button to continue to the next step.</p>
          <br />
          <h5>Step 2 - Profile Type</h5>
          <p>Step two is where you will select your role on Twitch. There are a variety of preset roles to choose from, which range from Moderator to IRL Streamer. Note that you have to select at least one of these roles, and the roles you select will determine your sections for step three.</p>
          <br />
          <p>After selecting your role(s) on Twitch, click the purple "Next" button to continue to the next step.</p>
          <br />
          <h5>Step 3 - About You</h5>
          <p>Step three is where you will go into more detail about your role(s) on Twitch, by answering questions specific to your chosen role(s). We won’t be highlighting any of the sections or questions in this guide, as they are dependent on the role(s) you chose in step two. However, we will mention that some roles will be able to set whether or not they are accepting commissions, looking to collaborate, or are taking requests.</p>
          <br />
          <p>There is <em>no character limit</em> for any of the sections on step three, but you <em>must</em> fill each section out to continue to the next step.</p>
          <br />
          <p>This section <em>does</em> support the use of Markdown and Emotes.</p>
          <br />
          <p>If you have completed all of the sections on step three, click the purple "Next" button to continue to the next step.</p>
          <br />
          <h5>Step 4 - Tags</h5>
          <p> Step four  is where you can set Tags for your Profile. Tags are used for the Query feature, where users can do an advanced search for Purple+ profiles, so make sure to keep them relevant to you.</p>
          <br />
          <p>To set a tag, type out the tag text and press enter. The Tag text should now be within a rounded gray rectangle, and have a small X to the right of it. Repeat this for all of your Tags. Note that you <em>must</em> set <em>at least three Tags</em>, but <em>no more than fifteen</em>. Also, you <em>cannot</em> use the same Tag more than once.</p>
          <br />
          <p>When you have set all of your Tags, click the purple "Next" button to continue to the next step.</p>
          <br />
          <h5>Step 5 - Success</h5>
          <p>Step five is where you can choose how you get notified when your Profile gets accepted or rejected. You can also choose not be notified at all by unchecking each option. If your Profile is rejected, then the notification message will also include the rejection reason. Note that if you have your Discord DMs, Twitch Whispers, or Reddit PMs restricted the bot may not be able to send you a notification.</p>
          <br />
          <p>On this page you can also choose which flair to use on the /r/Twitch subreddit by clicking the role text (Artist, Gaming Streamer, etc.) to bring up a popup selector of all the roles available to you. Each role has a different flair icon on the subreddit, and you can find a list of them <a href="https://www.reddit.com/r/Twitch/wiki/subreddit/flairs">here</a>. Also, you can change which one gets shown later on through your Profile page.</p>
          <br />
          <p>Whenever you are ready, click the purple "Submit" button to submit your Profile for review.</p>
          <br />
          <h5>Review Process</h5>
          <p>All Purple+ profiles are manually reviewed by <a href="/about/admins">site admins</a>, which is a team made up of /r/Twitch Moderators and /r/Twitch Community Helpers. This process can take a few days depending on the amount of profiles in the pending queue.</p>
          <br />
          <p>There are only a handful of reasons why your profile would get rejected, so let’s quickly review them:</p>
          <ul style="margin-left: 40px;">
            <li style="list-style-type: initial;"><strong>Lack of Content</strong> - This reason is generally used when the site admin reviewing your profile believes it to be low-effort, or notices a section is blank.</li>
            <li style="list-style-type: initial;"><strong>Potentially Unsafe Links</strong> - This reason is generally used when the site admin reviewing your profile is unable to validate the integrity of a link. To avoid this, do not use link shorteners.</li>
            <li style="list-style-type: initial;"><strong>Offensive Content</strong> - This reason is generally used when the site admin reviewing your profile notices you’ve used offensive language or other content.</li>
            <li style="list-style-type: initial;"><strong>Formatting Errors</strong> - This reason is generally used when the site admin reviewing your profiles notices you’ve messed up the formatting for Markdown and Emotes. Alternatively, your profile may contain an invalid link, such as a social meida link.</li>
            <li style="list-style-type: initial;"><strong>Category Misuse</strong> - This reason is generally used when the site admin reviewing your profile determines you have used a profile category incorrectly. For example, you will receive this if you use the "Other" category for something that already exists.</li>
            <li style="list-style-type: initial;"><strong>Other</strong> - This reason is generally used for when the site admin reviewing your profile determines the other reasons don’t suit the reason for rejection.</li>
          </ul>
          <br />
          <p>If you have any further questions about the reviewing process, then please contact the /r/Twitch moderation team via modmail.</p>
        </div>
        <div id="settings" class="section scrollspy">
          <h4>Your Profile's Settings</h4>
          <h5>Edit Profile</h5>
          <p>You can make edits to your profile at any time after the creation process. Just navigate to your profile by clicking your username located on the right side of the navigation bar. Hover over the Settings icon in the bottom right corner to bring up the settings menu, then select the "Edit Profile" icon. Note that making any new edits to the text of your profile sections will send it back into the pending queue to be reviewed again.</p>
          <br />
          <h5>Link Accounts</h5>
          <p>To take full advantage of all of Purple+’s features you have to link your Reddit and Discord accounts to your profile. This is done by clicking the "Link Accounts" icon within the settings menu.</p>
          <br />
          <h5>Social Media</h5>
          <p>To add or edit your social media links click the "Edit Social Media" icon within the settings menu. This should bring up a popup window where you can enter in your social media accounts. Within this popup window you also have the option to have your Linked Accounts be shown on your profile.</p>
          <br />
          <h5>Communities</h5>
          <p>You can add links to external communities (such as a Discord server) to your profile, which will be helpful for streamers. To do this click the "Edit Communities" button within the settings menu. This will bring up a popup window where you can link your different online communities. Note that you can only add one link per community type. </p>
          <br />
          <h5>Profile Appearance</h5>
          <p>You can further edit your profile’s appearance by adding a "Featured Clip", showing your Twitch Teams, Recent Videos, and Upcoming Events. Just click the "Edit Appearance" button within the settings menu to bring up the popup window. Within this same popup is where you can edit your /r/Twitch flair text and flair icon.</p>
        </div>
        <div id="viewing" class="section scrollspy">
          <h4>Viewing Other Profiles</h4>
          <h5>Voting</h5>
          <p>Purple+ allows users to upvote other user’s profiles. To upvote a profile hover over the star icon and click the "Upvote Profile" button. You can only upvote a profile once, and cannot upvote your own profile.</p>
          <br />
          <p>You can remove your upvote by downvoting the upvoted profile. To do this, hover over the star icon and click the "Downvote Profile" icon.</p>
          <br />
          <h5>Bookmarking</h5>
          <p>Save your favorite profiles for later by bookmarking them. To bookmark a profile hover over the star icon and click the "Add Bookmark" button. All of your bookmarks can be found <a href="/browse/bookmarks">here</a>.</p>
          <br />
          <p>You can remove bookmarks through the "Bookmarks" page by click the "Delete Bookmark" button in the top left corner of each bookmark. You can also remove bookmarks from user’s profiles. Just hover over the star icon and click the "Delete Bookmark" button.</p>
          <br />
          <h5>Reporting</h5>
          <p>The site admins review every profile, but sometimes we can overlook something. If you find a profile that should not be approved, then please report it. To report a profile, hover over the star icon and click the "Report Profile" button.</p>
          <br />
          <h5>Notes</h5>
          <p>You can add your own personal notes for profiles. These will only be visible to you, and are shown on the "Bookmarks" page and the user's profile. This can be useful for creating tags for them! To add or edit a note, hover over the star icon and click the "Edit Note" button. You will then get a popup where you can type a note. To remove a note, follow the same steps but leave the text field blank.</p>
        </div>
        <div id="trophies" class="section scrollspy">
          <h4>Trophies</h4>
          <p>Every profile page has a trophy icon on the right side of the profile header. Trophies are awarded to profiles/users who meet certain requirements on Purple+ or Twitch. We hope this will be a bit of light competition and fun! The trophies are as follows:</p>
          <br />
          <table>
            <thead>
              <th class="center" style="min-width: 525px; display: block;">Trophy/Trophies</th>
              <th class="center">Description</th>
            </thead>
            <tbody>
              <tr>
                <td class="center" style="min-width: 525px; display: block;">
                  <img src="/img/trophies/reddit.png" />
                </td>
                <td class="center">
                  <strong>Linked Reddit Account</strong>
                  <p>This one is quite straight self explanatory and easy. You just need to link your Reddit account to your Purple+ profile to achieve this.</p>
                </td>
              </tr>
              <tr>
                <td class="center" style="min-width: 525px; display: block;">
                  <img src="/img/trophies/discord.png" />
                </td>
                <td class="center">
                  <strong>Linked Discord Account</strong>
                  <p>This one is quite straight self explanatory and easy. You just need to link your Discord account to your Purple+ profile to achieve this.</p>
                </td>
              </tr>
              <tr>
                <td class="center" style="margin: 42px 0; min-width: 525px; display: block;">
                  Coming Soon™
                </td>
                <td class="center">
                  <strong>Twoos</strong>
                  <p>These are currently not awarded, but are planned for the future. You will be awarded a new trophy each time you enter a new Twoos boundary. You can see the Twoos boundaries <a href="https://www.reddit.com/r/Twitch/wiki/subreddit/flairs">here</a>.</p>
                </td>
              </tr>
              <tr>
                <td class="center" style="min-width: 525px; display: block;">
                  <img src="/img/trophies/votes_10.png" />
                  <img src="/img/trophies/votes_25.png" />
                  <img src="/img/trophies/votes_50.png" />
                  <img src="/img/trophies/votes_100.png" />
                  <img src="/img/trophies/votes_500.png" />
                </td>
                <td class="center">
                  <strong>Profile Votes</strong>
                  <p>These trophies are awarded for Profile Votes. They change as you pass each of the following totals: 10, 25, 50, 100 & 500.</p>
                </td>
              </tr>
              <tr>
                <td class="center" style="min-width: 525px; display: block;">
                  <img src="/img/trophies/followers_100.png" />
                  <img src="/img/trophies/followers_500.png" />
                  <img src="/img/trophies/followers_1000.png" />
                  <img src="/img/trophies/followers_5000.png" />
                  <img src="/img/trophies/followers_10000.png" />
                </td>
                <td class="center">
                  <strong>Followers</strong>
                  <p>These trophies are awarded for Twitch Followers. They change as you pass each of the following totals: 100, 500, 1000, 5000 & 10000.</p>
                </td>
              </tr>
              <tr>
                <td class="center" style="min-width: 525px; display: block;">
                  <img src="/img/trophies/mod_1.png" />
                  <img src="/img/trophies/mod_10.png" />
                  <img src="/img/trophies/mod_20.png" />
                  <img src="/img/trophies/mod_50.png" />
                  <img src="/img/trophies/mod_100.png" />
                </td>
                <td class="center">
                  <strong>Mod Swords</strong>
                  <p>These trophies are awarded for the number of Twitch Channels a user moderates. They change as you pass each of the following totals: 1, 10, 20, 50 & 100.</p>
                </td>
              </tr>
              <tr>
                <td class="center" style="margin: 42px 0; min-width: 525px; display: block;">
                  Coming Soon™
                </td>
                <td class="center">
                  <strong>Partner & Affiliate</strong>
                  <p>These are currently not awarded, but are planned for the future. You will be awarded a trophy if you become a Twitch Affiliate, and then a different one if you become a Twitch Partner!</p>
                </td>
              </tr>
              <tr>
                <td class="center" style="margin: 42px 0; min-width: 525px; display: block;">
                  Coming Soon™
                </td>
                <td class="center">
                  <strong>AMA</strong>
                  <p>This currently not awarded, but are planned for the future. You will be awarded this trophy if you host an AMA on /r/Twitch.</p>
                </td>
              </tr>
              <tr>
                <td class="center" style="min-width: 525px; display: block;">
                  <img src="/img/trophies/artist.png" />
                </td>
                <td class="center">
                  <strong>Accepting Art Commissions</strong>
                  <p>This trophy is awarded if you state in your profile that you are currently accepting art commissions. You must have an approved profile for this.</p>
                </td>
              </tr>
              <tr>
                <td class="center" style="min-width: 525px; display: block;">
                  <img src="/img/trophies/developer.png" />
                </td>
                <td class="center">
                  <strong>Accepting Developer Commissions</strong>
                  <p>This trophy is awarded if you state in your profile that you are currently accepting developer commissions. You must have an approved profile for this.</p>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <p>Thank you to Sargasm_Gaming for creating the artwork for these trophies!</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "./footer.html" %}
