{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500;">Help Documentation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <h5>Select a Category:</h5>
        <div class="collection">
          <a href="/help/faq" class="collection-item custom-text text-darken-1">FAQ</a>
          <a href="/help/browsing" class="collection-item custom-text text-darken-1">Browsing</a>
          <a href="/help/profiles" class="collection-item custom-text text-darken-1">Profiles</a>
          <a href="/help/twoos" class="collection-item custom-text text-darken-1">Twoos</a>
          <a href="/help/requests" class="collection-item custom-text text-darken-1">Advertisement Requests</a>
          <a href="/help/api" class="collection-item custom-text text-darken-1">API</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "./footer.html" %}
