{% include "./header.html" %}

<div class="row">
  <div class="col s2 offset-s1">
    <div class="pinned" style="width: 15%;">
      <div class="card">
        <div class="card-content">
          <h5 class="center" style="margin: 0;">Navigation</h5>
          <ul class="section table-of-contents" style="margin: 0;">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#home">Home</a></li>
            <li><a href="#spotlight">Spotlight</a></li>
            <li><a href="#streams">Streams</a></li>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#search">Search</a></li>
            <li><a href="#query">Query</a></li>
            <li><a href="#surf">Surf</a></li>
            <li><a href="#leaderboards">Leaderboards</a></li>
            <li><a href="#bookmarks">Bookmarks</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col s8">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500;">Help Documentation: Browsing</p>
            <p class="custom-text text-darken-1 center">Created by <a href="/user/ethicmeta">EthicMeta</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s8 offset-s3">
    <div class="card">
      <div class="card-content">
        <div id="introduction" class="section scrollspy">
          <h4>Introduction</h4>
          <p>Purple+'s main aim is to help people discover one another. Therefore, its features for browing people and their profiles are absolutely crucial. Each of the features can be found on the main navigation bar at the top of almost every page! Note that you may need to login to access some of them.</p>
        </div>
        <div id="home" class="section scrollspy">
          <h4>Home</h4>
          <p>The Home page is only available to users who have an approved profile as a streamer or viewer.</p>
          <br />
          <p>For viewers, it will take the preferences you have selected in your profile and try to find some streams/profiles that you are likely to enjoy based on them. The streams and profiles are located under the two different tabs.</p>
          <br />
          <p>For streamers, it will take the preferences and categories from your profile and attempt to find some streams/profiles that you may wish to collaborate with. Similar to viewers, the streams and profiles are located under the two different tabs. The system also takes followers into account, and will try to find users who are at a similar total to you.</p>
        </div>
        <div id="spotlight" class="section scrollspy">
          <h4>Spotlight</h4>
          <p>Spotlight is a glimpse into what the Purple+ community is up to.</p>
          <br />
          <p>Each section is selects a stream from one of the following groups: Gaming, Creative, IRL, Social Eating, Talk Show and Music. Clicking each will give you a channel from that selected category.</p>
          <br />
          <p>Clicking the "Select Random" button selects a random stream from those listed around the player. The "Get New" button will get a new streamer for each category.</p>
          <br />
          <p>There are also some options underneath the player. These are:</p>
          <ul style="margin-left: 40px;">
            <li style="list-style-type: initial;"><strong>View Profile</strong> - Takes you to the user's Purple+ Profile page.</li>
            <li style="list-style-type: initial;"><strong>Watch on Twitch</strong> - Takes you to the user's Twitch channel.</li>
            <li style="list-style-type: initial;"><strong>Popout Stream</strong> - Opens a new tab or window (depending on your browser settings) containing just the user's video player.</li>
            <li style="list-style-type: initial;"><strong>Popout Chat</strong> - Opens a new tab or window (depending on your browser settings) containing just the user's chat. You may need to log in to Twitch to access this feature.</li>
            <li style="list-style-type: initial;"><strong>Tweet Stream</strong> - Opens a new tab or window (depending on your browser settings) containing a pre-written tweet for you to post. It may look like:<br />
              <pre style="margin: 0;"><code>
I'm watching @TwitchSubreddit stream Music on @Twitch. Come and join me!

https://twitch.tv/twitchsubreddit

(via Purple+)</pre></code>
            </li>
          </ul>
        </div>
        <div id="streams" class="section scrollspy">
          <h4>Streams</h4>
          <p>The streams feature sorts live users who have an approved Purple+ profile. The tabs are:</p>
          <ul style="margin-left: 40px;">
            <li style="list-style-type: initial;"><strong>Twoos (Default)</strong> - Sorts channels from the highest to lowest Twoos count. This encourages people to use the Twoos system and rewards those who have an active part in the community. <a href="/help/twoos">You can learn more about Twoos here.</a></li>
            <li style="list-style-type: initial;"><strong>Profile Votes</strong> - Sorts channels from highest to lowest total of Purple+ Profile Votes. The Profile Votes tab is designed to encourage people to submit high quality profiles that people are willing to vote for.</li>
            <li style="list-style-type: initial;"><strong>Random</strong> - Loads a random selection of live users.</li>
            <li style="list-style-type: initial;"><strong>Stream Length</strong> - Gives you the option of loading streams in the order of longest to shortest running time, or shortest to longest.</li>
            <li style="list-style-type: initial;"><strong>Directory</strong> - Shows all games/categories that people are currently streaming under. Clicking them will reveal all users streaming to it. You can sort them alphabetically or by most to least viewers.</li>
            <li style="list-style-type: initial;"><strong>Community</strong> - Shows all communities that people are currently streaming to. Clicking them will reveal all users streaming to it. You can sort them alphabetically or by most to least viewers. Users can stream to up to three communities, so you may see some streamers more than once.</li>
            <li style="list-style-type: initial;"><strong>Viewers</strong> - Gives you the option of sorting from highest to lowest or lowest to highest viewers. You can also set a minimum or maximum number of viewers to filter your search to.</li>
          </ul>
          <p>Each stream thumbnail also has four buttons shown over it. These are:</p>
          <ul style="margin-left: 40px;">
            <li style="list-style-type: initial;"><strong>View Profile</strong> - Takes you to the user's Purple+ Profile page.</li>
            <li style="list-style-type: initial;"><strong>Watch on Twitch</strong> - Takes you to the user's Twitch channel.</li>
            <li style="list-style-type: initial;"><strong>Popout Stream</strong> - Opens a new tab or window (depending on your browser settings) containing just the user's video player.</li>
            <li style="list-style-type: initial;"><strong>Popout Chat</strong> - Opens a new tab or window (depending on your browser settings) containing just the user's chat. You may need to log in to Twitch to access this feature.</li>
            <li style="list-style-type: initial;"><strong>Tweet Stream</strong> - Opens a new tab or window (depending on your browser settings) containing a pre-written tweet for you to post. It may look like:<br />
              <pre style="margin: 0;"><code>
I'm watching @TwitchSubreddit stream Music on @Twitch. Come and join me!

https://twitch.tv/twitchsubreddit

(via Purple+)</pre></code>
            </li>
          </ul>
        </div>
        <div id="schedule" class="section scrollspy">
          <h4>Schedule</h4>
          <p>The schedule page shows upcoming streams set by users with approved profiles. Alternatively, you can search for a streamer and find their upcoming streams.</p>
          <br />
          <p>Clicking the left and right arrows on the calendar advance time forward or backward and display the user’s schedule in the slot as a bar which contains the title and game or topic the broadcaster will be streaming to and covers the length based on scheduled time on the calendar.</p>
          <br />
          <p>The times will automatically be converted to your timezone, unless it specifically states it is in UTC.</p>
        </div>
        <div id="search" class="section scrollspy">
          <h4>Search</h4>
          <p>This page allows you to perform basic search queries. You can search the user database for a specific user, or multiple users. Results are presented as cards with some basic profile information, badges, social media and links to their Purple+ profile and Twitch channel. The list updates as you type!</p>
        </div>
        <div id="query" class="section scrollspy">
          <h4>Query</h4>
          <p>The query page allows you to perform more advanced search queries. Query allows you to add additional parameters to your search to assist in finding relevant-to-you users!</p>
          <br />
          <p>To use this feature, select any number of parameters to fine tune your search for the perfect list of users for your search! The field will state if it is required - many are optional!</p>
          <br />
          <p>The purpose of Query is to allow you to find users that you may not be aware of, based on interests such as profile type (Gaming Streamer, Artist, IRL Streamer, etc.), what attributes they have, collaborations, experiences, portfolios, charity streams and unique tags. To top it off, you can share the query with others!</p>
          <br />
          <p>Trending Queries are queries that were made publicly available and can be reused at any time. It lists the most popular queries, including: the description, how many times it has been used and the last time it was used. These are displayed in a table under the second tab at the top of the page.</p>
        </div>
        <div id="surf" class="section scrollspy">
          <h4>Stream Surf</h4>
          <p>The Stream Surf page provides the viewer with a random live community member’s stream - including chat. You will also see some extra buttons on the player:</p>
          <ul style="margin-left: 40px;">
            <li style="list-style-type: initial;"><strong>View Profile</strong> - Takes you to the user's Purple+ Profile page.</li>
            <li style="list-style-type: initial;"><strong>Watch on Twitch</strong> - Takes you to the user's Twitch channel.</li>
            <li style="list-style-type: initial;"><strong>Tweet Stream</strong> - Opens a new tab or window (depending on your browser settings) containing a pre-written tweet for you to post. It may look like:<br />
              <pre style="margin: 0;"><code>
I'm watching @TwitchSubreddit stream Music on @Twitch. Come and join me!

https://twitch.tv/twitchsubreddit

(via Purple+)

</pre></code>
            </li>
            <li style="list-style-type: initial;"><strong>New Stream</strong> - Refreshes the page and gets you a new stream.</li>
          </ul>
          <p>After 4 minutes, you will automatically be asked if you wish to change stream. If you would like to keep watching the current stream, you can click the notification and do so. Otherwise, after a further minute, the page will automatically refresh.</p>
        </div>
        <div id="home" class="section scrollspy">
          <h4>Leaderboards</h4>
          <p>Leaderboards are used for showing off the most active, helpful and/or popular community members to date. The two rankings are for total Twoos and Profile Votes. Each record contains the user name, Reddit account, Discord tag, total Twoos, total Profile Votes and a link to that user’s profile. If you are logged in, your position is highlighted!</p>
        </div>
        <div id="bookmarks" class="section scrollspy">
          <h4>Bookmarks</h4>
          <p>The bookmarks page shows a list of users who you have selected as being your favourites. You will also see the notes you applied to their profile. This page is meant to show you who is live and provide you with a link to that person’s profile.</p>
          <br />
          <p>To delete a bookmark, simply highlight over the channel and click the trashcan in the top left-hand corner. This will remove the user from your bookmarks.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "./footer.html" %}
