{% include "./header.html" %}

<div class="row">
  <div class="col s2 offset-s1">
    <div class="pinned" style="width: 15%;">
      <div class="card">
        <div class="card-content">
          <h5 class="center" style="margin: 0;">Navigation</h5>
          <ul class="section table-of-contents" style="margin: 0;">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#earning">Earning Twoos</a></li>
            <li><a href="#rewards">Rewards for Twoos</a></li>
            <li><a href="#nominations">Nominations</a></li>
            <li><a href="#transactions">Transactions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col s8">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500;">Help Documentation: Twoos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s8 offset-s3">
    <div class="card">
      <div class="card-content">
        <div id="introduction" class="section scrollspy">
          <h4>Introduction</h4>
          <p>Twoos are points on /r/Twitch. They get their name because Twoos is short for Twitch Snoo. They were introduced in order to try to promote positive contributions to the subreddit and its surrounding communities. Furthermore, it also encourages people to help one another in an effective way.</p>
          <br />
          <p>Similarly to the Community Helpers position, other users will know that users who have lots of Twoos are likely to give reliable information.</p>
          <br />
          <p>We also done our best to ensure that the system is fair and available to everyone where possible. We're proud to have a diverse community and we want this system to continute to promote it.</p>
          <br />
          <p>You must link your Reddit account to Purple+ in order to use the Twoos feature.</p>
        </div>
        <div id="earning" class="section scrollspy">
          <h4>Earning Twoos</h4>
          <p>There are multiple ways to earn Twoos, and there may be more in the future! All decisions are taken at the discrection of Subreddit Moderators and Community Helpers.</p>
          <br />
          <p>The following table shows the current ways to earn Twoos, along with their values:</p>
          <br />
          <table>
            <tbody>
              <tr>
                <td>Streaming to the /r/Twitch Twitch Community.</td>
                <td>0.05 Twoos per 5 minutes</td>
              </tr>
              <tr>
                <td>Nominating a submission.</td>
                <td>0.1 Twoos</td>
              </tr>
              <tr>
                <td>Receiving a nomination.</td>
                <td>1 Twoo</td>
              </tr>
              <tr>
                <td>Joining the /r/Twitch Discord server.</td>
                <td>1 Twoo</td>
              </tr>
              <tr>
                <td>Helping in the /r/Twitch Discord server.</td>
                <td>1 Twoo</td>
              </tr>
              <tr>
                <td>Winning the clip contest.</td>
                <td>3 Twoos</td>
              </tr>
              <tr>
                <td>Submitting original content to the Wiki.</td>
                <td>5 Twoos</td>
              </tr>
            </tbody>
          </table>
          <br />
          <p>Twoos from the orignal system will also be transferred until October 1st 2017.</p>
        </div>
        <div id="rewards" class="section scrollspy">
          <h4>Rewards for Twoos</h4>
          <p>Currently, Twoos will give you a bits flair on Reddit that gets progressively better as you gain more and more of them. This will make your posts and comments stand out more from the others, as a bits badge would do on Twitch.</p>
          <br />
          <p>Also, you will be assigned additional Discord roles as you work your way up, each giving you a different username colour to make you stand out!</p>
          <br />
          <p>As an added bonus, you will also be granted access to more prominent positions here on Purple+. For example, you will appear at the top of the Leaderboards, Schedule searches, and a tab on the Streams page!</p>
        </div>
        <div id="nominations" class="section scrollspy">
          <h4>Nominations</h4>
          <p>If you think that a submission is particularly good on /r/Twitch, you can nominate it for Twoos. This will award the nominee 1 Twoo, and the nominator 0.1 Twoos. Please note that all nominations are sent to the Site Admins for approval. If it is rejected, your Twoos will be automatically removed.</p>
          <br />
          <p>To nominate a post, create a comment that starts with <code>!nominate</code>. To nominate a comment, create a reply that starts with <code>!nominate</code>.</p>
        </div>
        <div id="transactions" class="section scrollspy">
          <h4>Transactions</h4>
          <p>You can view all of your transactions using the following steps:</p>
          <ol>
            <li>Go to your <a href="/profile">profile page</a>.</li>
            <li>Hover over the eye in the bottom right corner of the page.</li>
            <li>Select the "View Transactions" button - it has the thumbs up and thumbs down.</li>
          </ol>
          <p>You will be given two tabs. The first of these tabs is a summary of your transactions. It breaks your transactions down into six categories:</p>
          <ul style="margin-left: 40px;">
            <li style="list-style-type: initial;">Your nominated submissions.</li>
            <li style="list-style-type: initial;">Nominating other submissions.</li>
            <li style="list-style-type: initial;">Streaming to the Twitch community.</li>
            <li style="list-style-type: initial;">Actions by Site Admins.</li>
            <li style="list-style-type: initial;">Helping on the Discord Server.</li>
            <li style="list-style-type: initial;">Other</li>
          </ul>
          <p>The other tab shows a table of all transactions. Where possible, transactions will be grouped together in order to save space. You can expand and collapse these using the button in the last column.</p>
          <br />
          <p>For each transaction, you can click the "More" button in the final column to view information in a popout window.</p>
          <br />
          <p>When you have finished viewing your transactions, click the tick in the bottom right corner of the page to return to your profile.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "./footer.html" %}
