{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500;">Help Documentation: FAQ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <ul class="collapsible" data-collapsible="expandable">
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>What is Purple+?</div>
         <div class="collapsible-body">
           <p>Purple+ is a promotion platform related to the /r/Twitch Subreddit. Its purpose is to give everyone a chance to be recognised for their uniqueness and achievements. One of the key issues it tries to tackle is the idea that Twitch is just gaming streamers and viewers. We've tried to combat that by accounting for Artists, Developers, Moderators, Community Managers and more!</p>
           <p>Even though it is intended for everyone, Purple+ provides powerful and exciting tools to allow streamers to be discovered. Furthermore, it also encourages collaborations to help people grow together as a team.</p>
           <p>For the viewers, the site provides streams that they are likely to enjoy based off selections in their profile, and the profiles of others too!</p>
           <p>For Artists, Developers, Community Managers and Moderators, Purple+ allows them to be found through a powerful database searching tool. Hopefully, this will help them find work and have their achievements recognised!</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>What happened to TwitchDB?</div>
         <div class="collapsible-body">
           <p>In September 2017, TwitchDB was moved to a deprecated state in favour of Purple+. In October 2017, it will be completely shut down. This site was created as a replacement. Unfortunately, due to Twitch API changes and a lack of maintenance, many of TwitchDB's key features became broken. In the end, it was decided a complete rewrite was required.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>Was my TwitchDB intro automatically transferred here?</div>
         <div class="collapsible-body">
           <p>Unfortunately, due to compatibility issues between TwitchDB intros and Purple+ profiles, they cannot be transferred directly.</p>
           <p>Until 1st October 2017, creating a Purple+ profile will retrieve your TwitchDB intro data for the "About You" and "Your Background" fields. After this date, all old intros will be lost.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>How do I get started?</div>
         <div class="collapsible-body">
           <p>If you are unsure of how to get started on Purple+, we recommend looking at the <a href="/help">Help Documentation</a> category relevant to what you are trying to do.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>I do not understand a feature on the site or have a question not answered here. What should I do?</div>
         <div class="collapsible-body">
           <p>Your question will probably be answered in the <a href="/help">Help Documentation</a>. If not, we recommend one of the following:</p>
           <ul style="margin-left: 40px;">
             <li style="list-style-type: initial;"><a href="https://github.com/Glyciant/PurplePlus/issues/">Ask on the Purple+ GitHub Repository.</a></li>
             <li style="list-style-type: initial;"><a href="https://twitter.com/TwitchSubreddit/">Tweet @TwitchSubreddit.</a></li>
             <li style="list-style-type: initial;"><a href="https://reddit.com/r/Twitch/">Submit a post to /r/Twitch.</a></li>
             <li style="list-style-type: initial;"><a href="https://discord.gg/0gHwecaLRAzrRYWi">Ask in the /r/Twitch Discord Server.</a></li>
             <li style="list-style-type: initial;"><a href="https://reddit.com/message/compose?to=%2Fr%2FTwitch">Send a modmail to /r/Twitch.</a></li>
           </ul>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>How do I submit a profile?</div>
         <div class="collapsible-body">
           <p><a href="/help/profiles">We recommend taking a look at this article in the Help Documentation.</a> It answers this question in a lot of depth.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>What are Twoos and how do they work?</div>
         <div class="collapsible-body">
           <p><a href="/help/twoos">We recommend taking a look at this article in the Help Documentation.</a> It answers this question in a lot of depth.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>How do advertisement requests work?</div>
         <div class="collapsible-body">
           <p><a href="/help/requests">We recommend taking a look at this article in the Help Documentation.</a> It answers this question in a lot of depth.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>Why is someone's channel logo flashing?</div>
         <div class="collapsible-body">
           <p>Channel logos will flash different colours to indicate their current status on Twitch. They are as follows:</p>
           <table>
             <tbody>
               <tr>
                 <td>Red</td>
                 <td>The user is currently live on Twitch.</td>
               </tr>
               <tr>
                 <td>Blue</td>
                 <td>The user is currently running a Vodcast on Twitch.</td>
               </tr>
               <tr>
                 <td>Green</td>
                 <td>The user is hosting another streamer on Twitch.</td>
               </tr>
             </tbody>
           </table>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>Do you have a nightmode?</div>
         <div class="collapsible-body">
           <p>We do! Click the <i class="material-icons" style="position: relative; top: 5px;">invert_colors</i> in the top right corner of the page.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>What does the "Toggle Icons" button do?</div>
         <div class="collapsible-body">
           <p>The toggle buttons changes everything on the navigation bar into an icon. This saves space for lower resolutions when you get used to what each button does.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>How do I access my profile page?</div>
         <div class="collapsible-body">
           <p>Your username should appear at the right of the navigation bar. If it does, simply click it. If not, you need to log in and then click your username that will appear.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>When attempting to log in or connect an account, I get a 403 error. Why?</div>
         <div class="collapsible-body">
           <p>On this site, a 403 error represents that your browser session was reset before you were able to log in. This can happen for a few reasons, but it's easily fixed by trying again.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>When I link my Twitch account, it says it can view my email address. Why?</div>
         <div class="collapsible-body">
           <p>The API scope on Twitch for identifying users includes viewing email addresses. It is not read or stored at any point. Subreddit Moderators will always use modmail on Reddit to contact you where necessary.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>When I link my Discord account, it says it can view all my servers. Why?</div>
         <div class="collapsible-body">
           <p>The application needs to know your servers so it is able to detect if you are in the /r/Twitch to award Twoos. There is no information read or stored about other servers.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>I am a Twitch Global Moderator, Admin or Staff Member. How do I verify myself?</div>
         <div class="collapsible-body">
           <p>Your status as a Twitch Global Moderator/Admin/Staff Member is automatically established when you log in to Purple+.</p>
           <p>To recieve the correct flair on Reddit and role on Discord, you must link your Reddit and Discord accounts respectively.</p>
         </div>
       </li>
       <li>
         <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">help</i>I have a bug report or suggestion. Where can I submit it?</div>
         <div class="collapsible-body">
           <p>Please submit it to one of the following places:</p>
           <ul style="margin-left: 40px;">
             <li style="list-style-type: initial;"><a href="https://github.com/Glyciant/PurplePlus/issues/">Purple+ GitHub Repository</a></li>
             <li style="list-style-type: initial;"><a href="https://twitter.com/TwitchSubreddit/">@TwitchSubreddit Twitter</a></li>
             <li style="list-style-type: initial;"><a href="https://reddit.com/r/Twitch/">/r/Twitch</a></li>
             <li style="list-style-type: initial;"><a href="https://discord.gg/0gHwecaLRAzrRYWi">/r/Twitch Discord Server</a></li>
             <li style="list-style-type: initial;"><a href="https://reddit.com/message/compose?to=%2Fr%2FTwitch">/r/Twitch Modmail</a></li>
           </ul>
         </div>
       </li>
     </ul>
  </div>
</div>

{% include "./footer.html" %}
