{% include "./header.html" %}

<div class="row">
  <div class="col s2 offset-s1">
    <div class="pinned" style="width: 15%;">
      <div class="card">
        <div class="card-content">
          <h5 class="center" style="margin: 0;">Navigation</h5>
          <ul class="section table-of-contents" style="margin: 0;">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#viewing">Viewing Requests</a></li>
            <li><a href="#submitting">Submitting Requests</a></li>
            <li><a href="#managing">Managing Requests</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col s8">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500;">Help Documentation: Advertisement Requests</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s8 offset-s3">
    <div class="card">
      <div class="card-content">
        <div id="introduction" class="section scrollspy">
          <h4>Introduction</h4>
          <p>Advertisement Requests allow users to submit their products and third-party services that they wish to share with the community.</p>
          <br />
          <p>All requests that are submitted will be reviewed by /r/Twitch Moderators. If approved, the submitter will be allowed to post their request to /r/Twitch. The request will also appear on the user's profile. This system allows the moderators to ensure that all services and tools promoted here are safe.</p>
        </div>
        <div id="viewing" class="section scrollspy">
          <h4>Viewing Requests</h4>
          <p>To view a user's advertisement requests, including your own, you must first go to their profile.</p>
          <br />
          <p>If you are on your profile, hover over the eye icon in the bottom right corner of the page. You can then click the "View Advertisement Requests" button. This will open a new tab or window (depending on your browsers settings) containing all of your Advertisement Requests - including their statuses. If you cannot find this button, you do not have any advertisement requests.</p>
          <br />
          <p>If you are on someone else's profile, hover over the star icon in the bottom right corner of the page. You can then click the "View Advertisement Requests" button. This will open a new tab or window (depending on your browsers settings) containing all of their approved Advertisement Requests. If you cannot find this button, the user does not have any advertisement requests.</p>
        </div>
        <div id="submitting" class="section scrollspy">
          <h4>Submitting Requests</h4>
          <p>Before submitting an Advertisement Request, you must link your Reddit account to Purple+. To do this, log in and go to your profile page. Then, hover over the settings icon in the bottom right corner of the page and click the "Link Accounts" button.</p>
          <br />
          <p>Next, return to your profile page and hover over the settings icon once again. This time, click the "Submit Advertisement Request" button. This will take you to another page that asks you to select your request type. Select the option which best suits your request.</p>
          <br />
          <p>You will then be presented with a form to fill out about your request. All fields that you see are required. Selecting some checkboxes on the form may also expand one or more extra fields. These will also be required. Certain fields also support markdown - each is labelled with an asterisk.</p>
          <br />
          <p>When you are happy with your request, click the "Submit Request" button.</p>
        </div>
        <div id="managing" class="section scrollspy">
          <h4>Managing Requests</h4>
          <p>When viewing one of your own requests, you will see a few extra options to help you manage your Advertisement Request.</p>
          <br />
          <p>The first thing is the "Manage Request" panel that appears on the left. You will see one button that takes you to the /r/Twitch Modmail form. You should use this if you wish to contact the /r/Twitch Moderators about your request. If your profile is pending, you will also see a "Withdraw" button, which will indicate to the moderators that you are no longer interested in pursuing this Advertisement Request. You can reopen a request at any time from the same place.</p>
          <br />
          <p>You will also see a "Comments" section - which is visible to you, /r/Twitch Moderators and /r/Twitch Community Helpers. This will sometimes be used to communicate the status of your request or ask questions. You can add your own comments using the "Add Comment" box in the left-hand sidebar.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "./footer.html" %}
