{% include "./header.html" %}

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="row" style="margin: 0;">
        <div class="col s12">
          <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500; margin: 10px 0;">Home</p>
        </div>
      </div>
      <ul class="tabs" style="overflow: hidden;">
        <li class="tab col s6 {% if !viewer %}disabled{% endif %}"><a href="#tab-viewing">Viewing Suggestions</a></li>
        <li class="tab col s6 {% if !streamer %}disabled{% endif %}"><a href="#tab-collaborations" class="{% if !viewer %}active{% endif %}">Collaboration Suggestions</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="tab-viewing" class="row">
  <div class="col s12">
    <div class="card">
      <ul class="tabs" style="overflow: hidden;">
        <li class="tab col s6"><a href="#tab-viewing-profiles">Show Profiles</a></li>
        <li class="tab col s6"><a href="#tab-viewing-streams">Show Streams</a></li>
      </ul>
      <p class="center" style="padding-bottom: 10px;">These streams are chosen based on your preferences selected in the viewer section of your profile.</p>
    </div>
    <div id="tab-viewing-profiles" class="row">

    </div>
    <div id="tab-viewing-streams" class="row">

    </div>
  </div>
</div>

<div id="tab-collaborations" class="row">
  <div class="col s12">
    <div class="card">
      <ul class="tabs" style="overflow: hidden;">
        <li class="tab col s6"><a href="#tab-collaborations-profiles">Show Profiles</a></li>
        <li class="tab col s6"><a href="#tab-collaborations-streams">Show Streams</a></li>
      </ul>
      <p class="center" style="padding-bottom: 10px;">These streams are chosen based on your preferences selected in streamer sections or your profile and data from the Twitch API.</p>
    </div>
    <div id="tab-collaborations-profiles" class="row">

    </div>
    <div id="tab-collaborations-streams" class="row">

    </div>
  </div>
</div>

<div id="modal-stream" class="modal" style="height: 100%;">
  <div id="video-wrapper" style="height: 100%;">
    <div class="modal-content" style="padding: 0; height: 100%;">

    </div>
    <div class="center" style="position: absolute; bottom: 5px; left: 50%;">
      <a href="" id="preview-profile" class="custom darken-1 white-text btn-floating tooltipped" style="margin: 0 5px; opacity: 0;" target="_blank" data-position="top" data-delay="50" data-tooltip="View Profile"><i class="material-icons">description</i></a>
    </div>
  </div>
</div>

<script src="/js/home.js"></script>

{% include "./footer.html" %}
