{% for user in data %}
  <tr {% if user.twitch_id == session.id %} class="custom lighten-1 white-text" {% endif %} data-id="{{ user.twitch_id }}">
    <td>{{ loop.index + offset }}</td>
    <td><img {% if user.logo %} src="{{ user.logo }}" {% else %} src="/img/default_user.png" {% endif %} class="responsive-img circle" style="max-height: 30px; position: relative; top: 3px;" /></td>
    <td>{% if user.twitch_id %}<a href="https://twitch.tv/{{ user.twitch_username }}" style="color: inherit;">{{ user.twitch_name }}</a>{% endif %}</td>
    <td>{% if user.reddit_id %}<a href="https://reddit.com/user/{{ user.reddit_username }}" style="color: inherit;">{{ user.reddit_name }}</a>{% endif %}</td>
    <td>{% if user.discord_id %}{{ user.discord_name }}#{{ user.discord_tag }}{% endif %}</td>
    <td>{{ user.balance }}</td>
    <td>{{ user.profile.votes.length }}</td>
    <td>{% if user.profile.status == "approved" %}<a href="/user/{{ user.twitch_username }}" class="btn waves-effect waves-light custom darken-1 white-text">View Profile</a>{% endif %}</td>
  </tr>
{% endfor %}
