{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500;">Leaderboards</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="row">
        <div class="col s12">
          <ul class="tabs tabs-fixed width">
            <li class="tab col s6"><a href="#twoos-leaderboard">Twoos</a></li>
            <li class="tab col s6"><a href="#votes-leaderboard">Profile Votes</a></li>
          </ul>
        </div>
      </div>
      <div id="twoos-leaderboard" class="row">
        <div class="col s12">
          {% if twoos[0] %}
            <table class="striped">
              <thead>
                <th>Rank</th>
                <th>Logo</th>
                <th>Twitch Username</th>
                <th>Reddit Username</th>
                <th>Discord Tag</th>
                <th>Twoos</th>
                <th>Profile Votes</th>
                <th>Profile</th>
              </thead>
              <tbody>
                {% set data = twoos %}
                {% include "./leaderboard_partial.html" %}
              </tbody>
            </table>
          {% else %}
            <div class="col s12 center">
              <h5 class="custom-text text-darken-1">There's nothing here.</h5>
            </div>
            <div class="col s12 center">
              <p class="custom-text text-lighten-1">There are no Twoos leaders.</p>
            </div>
          {% endif %}
        </div>
      </div>
      <div id="votes-leaderboard" class="row">
        <div class="col s12">
          {% if votes[0] %}
            <table class="striped">
              <thead>
                <th>Rank</th>
                <th>Logo</th>
                <th>Twitch Username</th>
                <th>Reddit Username</th>
                <th>Discord Tag</th>
                <th>Twoos</th>
                <th>Profile Votes</th>
                <th>Profile</th>
              </thead>
              <tbody>
                {% set data = votes %}
                {% include "./leaderboard_partial.html" %}
              </tbody>
            </table>
          {% else %}
            <div class="col s12 center">
              <h5 class="custom-text text-darken-1">There's nothing here.</h5>
            </div>
            <div class="col s12 center">
              <p class="custom-text text-lighten-1">There are no Profile Votes leaders.</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/leaderboards.js"></script>

{% include "./footer.html" %}
