{% for message in data %}
  {% if message.edits[0] %}
    <div id="modal-log-{{ message.channel_id }}-{{ message.message_id }}" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Message From {{ message.discord_tag }} in #{{ message.channel_name }} - View Edits</h4>
        <hr />
        <table class="highlight">
          <thead>
            <th>Date/Time (UTC)</th>
            <th>Message</th>
          </thead>
          <tbody>
            {% for edit in message.edits %}
            <tr>
              <td title="{{ edit.timestamp }}">{{ edit.timestamp|date("d/m/Y H:i:s") }}</td>
              <td>{{ edit.message }}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
  {% endif %}
{% endfor %}
