{% for nomination in data %}
  {% if nomination.status == "approved" %}
    <div id="modal-admin-nomination-{{ nomination.nomination_id }}" class="modal">
      <div class="modal-content">
        <h4>Edit Nomination Status</h4>
        <p>Are you sure you want to <span id="admin-transaction-{{ nomination.nomination_id }}-action">reject</span> this nomination?</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="edit-nomination-status" data-id="{{ nomination.nomination_id }}" data-reddit="{{ nomination.user_id }}" data-action="reject">Yes</a>
      </div>
    </div>
  {% elseif nomination.status == "rejected" %}
    <div id="modal-admin-nomination-{{ nomination.nomination_id }}" class="modal">
      <div class="modal-content">
        <h4>Edit Nomination Status</h4>
        <p>Are you sure you want to <span id="admin-transaction-{{ nomination.nomination_id }}-action">approve</span> this nomination?</p>
      </div>
      <div class="modal-footer"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="edit-nomination-status" data-id="{{ nomination.nomination_id }}" data-reddit="{{ nomination.user_id }}" data-action="approve">Yes</a></div>
    </div>
  {% endif %}
{% endfor %}
