{% for user in data %}
  {% if loop.index0 % 4 == 0 %}
    <div class="col s12" style="padding: 0; margin: 0;">
  {% endif %}
  {% if loop.index0 % 2 == 0 %}
    <div class="col l6 m12 s12" style="padding: 0; margin: 0;">
  {% endif %}
  <div class="col l6 m6 s12">
    <div class="card" data-id="{{ user.twitch_id }}">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12 center" style="min-height: 175px;">
            {% if user.stream.stream_type %}
              <a href="#modal-stream" id="preview-stream" {% if user.stream.stream_type == "live" %}class="img-pulse live" title="Live - Streaming {{ user.stream.game }}"{% elseif user.stream.stream_type == "vodcast" %}class="img-pulse video" title="Running Vodcast - Streaming {{ user.stream.game }}"{% elseif user.hosting %}class="img-pulse host" title="Hosting {{ user.hosting.name }}"{% endif %} data-name="{{ user.twitch_username }}" style="max-height: 75px; max-width: 75px; display: inline-block;"><img {% if user.logo %} src="{{ user.logo }}" {% else %} src="/img/twitch.png" {% endif %} class="circle z-depth-2 responsive-img" style="max-height: 75px;"></a>
            {% else %}
              <a {% if user.hosting %}class="img-pulse host" title="Hosting {{ user.hosting.name }}"{% endif %} data-name="{{ user.twitch_username }}" style="max-height: 75px; max-width: 75px; display: inline-block;"><img {% if user.logo %} src="{{ user.logo }}" {% else %} src="/img/twitch.png" {% endif %} class="circle z-depth-2 responsive-img" style="max-height: 75px;"></a>
            {% endif %}
            <h5 class="custom-text text-darken-1"><img src="/img/twitch.png" class="responsive-img" style="max-height: 20px; margin-right: 10px; position: relative; top: 2px;" />{{ user.twitch_name }}</h5>
            {% if user.reddit_name %}<p class="custom-text text-darken-1"><img src="/img/reddit.png" class="responsive-img" style="max-height: 15px; margin-right: 10px; position: relative; top: 2px;" />{{ user.reddit_name }}</p>{% endif %}
            {% if user.discord_id %}<p class="custom-text text-darken-1"><img src="/img/discord.png" class="responsive-img" style="max-height: 15px; margin-right: 10px; position: relative; top: 2px;" />{{ user.discord_name }}#{{ user.discord_tag }}</p>{% endif %}
          </div>
          <div class="col s12 center" style="margin: 5px 0;">
            <p class="custom-text text-lighten-1">{% marked %}{{ user.profile.overview.introduction }}{% endmarked %}</p>
          </div>
          <div class="col s12 center">
            {% set data = user %}
            {% include "./flair_partial.html" %}
          </div>
          <div class="col l6 m12 s12 center" style="margin: 5px 0;">
            <a href="/user/{{ user.twitch_username }}" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%;">Profile</a>
          </div>
          <div class="col l6 m12 s12 center" style="margin: 5px 0;">
            <a href="https://twitch.tv/{{ user.twitch_username }}" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%;">Channel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if loop.index0 % 2 == 1 || loop.last %}
    </div>
  {% endif %}
  {% if loop.index0 % 4 == 3 || loop.last %}
    </div>
  {% endif %}
{% endfor %}
