{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="row" style="margin: 0;">
        <div class="col s12">
          <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500; margin: 10px 0;">Query Database</p>
        </div>
      </div>
      <ul class="tabs" style="overflow: hidden;">
        <li class="tab col s6"><a href="#tab-new">New Query</a></li>
        <li class="tab col s6"><a href="#tab-trending">Trending Queries</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="tab-new">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <div class="row" style="margin: 0;">
            <div class="col l10 m9 s8">
              <h5>Step 1 - Profile Type</h5>
              <p>You must choose at least one option.</p>
            </div>
            <div class="col l2 m3 s4 right-align">
              <p style="margin-top: 15px;">
                <input type="checkbox" class="filled-in" id="query-type-select-all" />
                <label for="query-type-select-all">Select All</label>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col l6 m6 s12">
              <p>
                <input name="query-type" type="radio" id="query-type-one" {% if data.types_method != "all" %} checked {% endif %} />
                <label for="query-type-one">Require At Least One Selected Type</label>
              </p>
            </div>
            <div class="col l6 m6 s12">
              <p>
                <input name="query-type" type="radio" id="query-type-all" {% if data.types_method == "all" %} checked {% endif %} />
                <label for="query-type-all">Require All Selected Types</label>
              </p>
            </div>
          </div>
          <div class="row" id="query-type">
            <div class="col s12 m6 l3">
              <p>
                <input type="checkbox" class="filled-in" id="query-type-streamer-gaming" {% if data.types.streamer_gaming %} checked {% endif %} />
                <label for="query-type-streamer-gaming">Gaming Streamer</label>
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="query-type-streamer-creative" {% if data.types.streamer_creative %} checked {% endif %} />
                <label for="query-type-streamer-creative">Creative Streamer</label>
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="query-type-streamer-socialeating" {% if data.types.streamer_socialeating %} checked {% endif %} />
                <label for="query-type-streamer-socialeating">Social Eating Streamer</label>
              </p>
            </div>
            <div class="col s12 m6 l3">
              <p>
                <input type="checkbox" class="filled-in" id="query-type-streamer-irl" {% if data.types.streamer_irl %} checked {% endif %} />
                <label for="query-type-streamer-irl">IRL Streamer</label>
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="query-type-streamer-talkshow" {% if data.types.streamer_talkshow %} checked {% endif %} />
                <label for="query-type-streamer-talkshow">Talk Show Streamer</label>
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="query-type-streamer-music" {% if data.types.streamer_music %} checked {% endif %} />
                <label for="query-type-streamer-music">Music Streamer</label>
              </p>
            </div>
            <div class="col s12 m6 l3">
              <p>
                <input type="checkbox" class="filled-in" id="query-type-artist" {% if data.types.artist %} checked {% endif %} />
                <label for="query-type-artist">Artist</label>
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="query-type-developer" {% if data.types.developer %} checked {% endif %} />
                <label for="query-type-developer">Developer</label>
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="query-type-communitymanager" {% if data.types.communitymanager %} checked {% endif %} />
                <label for="query-type-communitymanager">Community Manager</label>
              </p>
            </div>
            <div class="col s12 m6 l3">
              <p>
                <input type="checkbox" class="filled-in" id="query-type-viewer" {% if data.types.viewer %} checked {% endif %} />
                <label for="query-type-viewer">Viewer</label>
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="query-type-moderator" {% if data.types.moderator %} checked {% endif %} />
                <label for="query-type-moderator">Moderator</label>
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="query-type-other" {% if data.types.other %} checked {% endif %} />
                <label for="query-type-other">Other</label>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <div class="row" style="margin: 0;">
            <div class="col s12">
              <h5>Step 2 - Attributes</h5>
            </div>
          </div>
          <div id="query-attributes-overview">
            <div class="row">
              <div class="col s12">
                <strong>Overview - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-overview-keywords" class="chips" data-keywords="{{ data.overview_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-streamer-gaming" {% if !data.types.streamer_gaming %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col l10 m9 s8" style="margin-bottom: 5px;">
                <strong>Gaming Streamer - Game Genres</strong>
                <p>You must choose at least one option.</p>
              </div>
              <div class="col l2 m3 s4 right-align">
                <p style="margin-top: 15px;">
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-gaming-select-all" />
                  <label for="query-attributes-streamer-gaming-select-all">Select All</label>
                </p>
              </div>
              <div class="col l6 m6 s12" style="margin-bottom: 5px;">
                <p>
                  <input name="query-attributes-streamer-gaming" type="radio" id="query-attributes-streamer-gaming-one" {% if data.streamer_gaming_genres_method != "all" %} checked {% endif %} />
                  <label for="query-attributes-streamer-gaming-one">Require At Least One Selected Genre</label>
                </p>
              </div>
              <div class="col l6 m6 s12" style="margin-bottom: 5px;">
                <p>
                  <input name="query-attributes-streamer-gaming" type="radio" id="query-attributes-streamer-gaming-all" {% if data.streamer_gaming_genres_method == "all" %} checked {% endif %} />
                  <label for="query-attributes-streamer-gaming-all">Require All Selected Genres</label>
                </p>
              </div>
              <div class="col s12 m4 l4">
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-gaming-action" {% if data.streamer_gaming_genres.action %} checked {% endif %} />
                  <label for="query-attributes-streamer-gaming-action">Action</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-gaming-adventure" {% if data.streamer_gaming_genres.adventure %} checked {% endif %} />
                  <label for="query-attributes-streamer-gaming-adventure">Adventure</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-gaming-horror" {% if data.streamer_gaming_genres.horror %} checked {% endif %} />
                  <label for="query-attributes-streamer-gaming-horror">Horror</label>
                </p>
              </div>
              <div class="col s12 m4 l4">
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-gaming-roleplaying" {% if data.streamer_gaming_genres.roleplaying %} checked {% endif %} />
                  <label for="query-attributes-streamer-gaming-roleplaying">Role-Playing</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-gaming-simulation" {% if data.streamer_gaming_genres.simulation %} checked {% endif %} />
                  <label for="query-attributes-streamer-gaming-simulation">Simulation</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-gaming-strategy" {% if data.streamer_gaming_genres.strategy %} checked {% endif %} />
                  <label for="query-attributes-streamer-gaming-strategy">Strategy</label>
                </p>
              </div>
              <div class="col s12 m4 l4">
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-gaming-survival" {% if data.streamer_gaming_genres.survival %} checked {% endif %} />
                  <label for="query-attributes-streamer-gaming-survival">Survivial</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-gaming-other" {% if data.streamer_gaming_genres.other %} checked {% endif %} />
                  <label for="query-attributes-streamer-gaming-other">Other</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12" style="margin-bottom: 5px;">
                <strong>Gaming Streamer - Other Attributes</strong>
              </div>
              <div class="col l6 m6 s12">
                <p>Looking to Collaborate:</p>
                <p>
                  <input name="query-streamer-gaming-collaborating" type="radio" id="query-streamer-gaming-collaborating-any" {% if data.streamer_gaming_collaborating != "yes" && data.streamer_gaming_collaborating != "no" %} checked {% endif %} />
                  <label for="query-streamer-gaming-collaborating-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-gaming-collaborating" type="radio" id="query-streamer-gaming-collaborating-yes" {% if data.streamer_gaming_collaborating == "yes" %} checked {% endif %} />
                  <label for="query-streamer-gaming-collaborating-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-gaming-collaborating" type="radio" id="query-streamer-gaming-collaborating-no" {% if data.streamer_gaming_collaborating == "no" %} checked {% endif %} />
                  <label for="query-streamer-gaming-collaborating-no">No</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>Does Charity Streams:</p>
                <p>
                  <input name="query-streamer-gaming-charity" type="radio" id="query-streamer-gaming-charity-any" {% if data.streamer_gaming_charity != "yes" && data.streamer_gaming_charity != "no" %} checked {% endif %} />
                  <label for="query-streamer-gaming-charity-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-gaming-charity" type="radio" id="query-streamer-gaming-charity-yes" {% if data.streamer_gaming_charity == "yes" %} checked {% endif %} />
                  <label for="query-streamer-gaming-charity-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-gaming-charity" type="radio" id="query-streamer-gaming-charity-no" {% if data.streamer_gaming_charity == "no" %} checked {% endif %} />
                  <label for="query-streamer-gaming-charity-no">No</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <strong>Gaming Streamer - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-streamer-gaming-keywords" class="chips" data-keywords="{{ data.streamer_gaming_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-streamer-creative" {% if !data.types.streamer_creative %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col l10 m9 s8" style="margin-bottom: 5px;">
                <strong>Creative Streamer - Stream Activities</strong>
                <p>You must choose at least one option.</p>
              </div>
              <div class="col l2 m3 s4 right-align">
                <p style="margin-top: 15px;">
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-creative-select-all" />
                  <label for="query-attributes-streamer-creative-select-all">Select All</label>
                </p>
              </div>
              <div class="col l6 m6 s12" style="margin-bottom: 5px;">
                <p>
                  <input name="query-attributes-streamer-creative" type="radio" id="query-attributes-streamer-creative-one" {% if data.streamer_creative_method != "all" %} checked {% endif %} />
                  <label for="query-attributes-streamer-creative-one">Require At Least One Selected Activity</label>
                </p>
              </div>
              <div class="col l6 m6 s12" style="margin-bottom: 5px;">
                <p>
                  <input name="query-attributes-streamer-creative" type="radio" id="query-attributes-streamer-creative-all" {% if data.streamer_creative_method == "all" %} checked {% endif %} />
                  <label for="query-attributes-streamer-creative-all">Require All Selected Activities</label>
                </p>
              </div>
              <div class="col s12 m6 l6">
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-creative-cooking" {% if data.streamer_creative_activities.cooking %} checked {% endif %} />
                  <label for="query-attributes-streamer-creative-cooking">Cooking</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-creative-drawing" {% if data.streamer_creative_activities.drawing %} checked {% endif %} />
                  <label for="query-attributes-streamer-creative-drawing">Drawing</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-creative-painting" {% if data.streamer_creative_activities.painting %} checked {% endif %} />
                  <label for="query-attributes-streamer-creative-painting">Painting</label>
                </p>
              </div>
              <div class="col s12 m6 l6">
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-creative-programming" {% if data.streamer_creative_activities.programming %} checked {% endif %} />
                  <label for="query-attributes-streamer-creative-programming">Programming</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-creative-editing" {% if data.streamer_creative_activities.editing %} checked {% endif %} />
                  <label for="query-attributes-streamer-creative-editing">Video Editing</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-streamer-creative-other" {% if data.streamer_creative_activities.other %} checked {% endif %} />
                  <label for="query-attributes-streamer-creative-other">Other</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12" style="margin-bottom: 5px;">
                <strong>Creative Streamer - Other Attributes</strong>
              </div>
              <div class="col l6 m6 s12">
                <p>Looking to Collaborate:</p>
                <p>
                  <input name="query-streamer-creative-collaborating" type="radio" id="query-streamer-creative-collaborating-any" {% if data.streamer_creative_collaborating != "yes" && data.streamer_creative_collaborating != "no" %} checked {% endif %} />
                  <label for="query-streamer-creative-collaborating-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-creative-collaborating" type="radio" id="query-streamer-creative-collaborating-yes" {% if data.streamer_creative_collaborating == "yes" %} checked {% endif %} />
                  <label for="query-streamer-creative-collaborating-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-creative-collaborating" type="radio" id="query-streamer-creative-collaborating-no" {% if data.streamer_creative_collaborating == "no" %} checked {% endif %} />
                  <label for="query-streamer-creative-collaborating-no">No</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>Does Charity Streams:</p>
                <p>
                  <input name="query-streamer-creative-charity" type="radio" id="query-streamer-creative-charity-any" {% if data.streamer_creative_charity != "yes" && data.streamer_creative_charity != "no" %} checked {% endif %} />
                  <label for="query-streamer-creative-charity-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-creative-charity" type="radio" id="query-streamer-creative-charity-yes" {% if data.streamer_creative_charity == "yes" %} checked {% endif %} />
                  <label for="query-streamer-creative-charity-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-creative-charity" type="radio" id="query-streamer-creative-charity-no" {% if data.streamer_creative_charity == "no" %} checked {% endif %} />
                  <label for="query-streamer-creative-charity-no">No</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <strong>Creative Streamer - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-streamer-creative-keywords" class="chips" data-keywords="{{ data.streamer_creative_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-streamer-irl" {% if !data.types.streamer_irl %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col s12" style="margin-bottom: 5px;">
                <strong>IRL Streamer - Attributes</strong>
              </div>
              <div class="col l6 m6 s12">
                <p>Looking to Collaborate:</p>
                <p>
                  <input name="query-streamer-irl-collaborating" type="radio" id="query-streamer-irl-collaborating-any" {% if data.streamer_irl_collaborating != "yes" && data.streamer_irl_collaborating != "no" %} checked {% endif %} />
                  <label for="query-streamer-irl-collaborating-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-irl-collaborating" type="radio" id="query-streamer-irl-collaborating-yes" {% if data.streamer_irl_collaborating == "yes" %} checked {% endif %} />
                  <label for="query-streamer-irl-collaborating-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-irl-collaborating" type="radio" id="query-streamer-irl-collaborating-no" {% if data.streamer_irl_collaborating == "no" %} checked {% endif %} />
                  <label for="query-streamer-irl-collaborating-no">No</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>Does Charity Streams:</p>
                <p>
                  <input name="query-streamer-irl-charity" type="radio" id="query-streamer-irl-charity-any" {% if data.streamer_irl_charity != "yes" && data.streamer_irl_charity != "no" %} checked {% endif %} />
                  <label for="query-streamer-irl-charity-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-irl-charity" type="radio" id="query-streamer-irl-charity-yes" {% if data.streamer_irl_charity == "yes" %} checked {% endif %} />
                  <label for="query-streamer-irl-charity-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-irl-charity" type="radio" id="query-streamer-irl-charity-no" {% if data.streamer_irl_charity == "no" %} checked {% endif %} />
                  <label for="query-streamer-irl-charity-no">No</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <strong>IRL Streamer - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-streamer-irl-keywords" class="chips" data-keywords="{{ data.streamer_irl_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-streamer-socialeating" {% if !data.types.streamer_socialeating %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col s12" style="margin-bottom: 5px;">
                <strong>Social Eating Streamer - Attributes</strong>
              </div>
              <div class="col l6 m6 s12">
                <p>Looking to Collaborate:</p>
                <p>
                  <input name="query-streamer-socialeating-collaborating" type="radio" id="query-streamer-socialeating-collaborating-any" {% if data.streamer_socialeating_collaborating != "yes" && data.streamer_socialeating_collaborating != "no" %} checked {% endif %} />
                  <label for="query-streamer-socialeating-collaborating-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-socialeating-collaborating" type="radio" id="query-streamer-socialeating-collaborating-yes" {% if data.streamer_socialeating_collaborating == "yes" %} checked {% endif %} />
                  <label for="query-streamer-socialeating-collaborating-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-socialeating-collaborating" type="radio" id="query-streamer-socialeating-collaborating-no" {% if data.streamer_socialeating_collaborating == "no" %} checked {% endif %} />
                  <label for="query-streamer-socialeating-collaborating-no">No</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>Does Charity Streams:</p>
                <p>
                  <input name="query-streamer-socialeating-charity" type="radio" id="query-streamer-socialeating-charity-any" {% if data.streamer_socialeating_charity != "yes" && data.streamer_socialeating_charity != "no" %} checked {% endif %} />
                  <label for="query-streamer-socialeating-charity-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-socialeating-charity" type="radio" id="query-streamer-socialeating-charity-yes" {% if data.streamer_socialeating_charity == "yes" %} checked {% endif %} />
                  <label for="query-streamer-socialeating-charity-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-socialeating-charity" type="radio" id="query-streamer-socialeating-charity-no" {% if data.streamer_socialeating_charity == "no" %} checked {% endif %} />
                  <label for="query-streamer-socialeating-charity-no">No</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <strong>Social Eating Streamer - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-streamer-socialeating-keywords" class="chips" data-keywords="{{ data.streamer_socialeating_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-streamer-talkshow" {% if !data.types.streamer_talkshow %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col s12" style="margin-bottom: 5px;">
                <strong>Talk Show Streamer - Attributes</strong>
              </div>
              <div class="col l6 m6 s12">
                <p>Looking to Collaborate:</p>
                <p>
                  <input name="query-streamer-talkshow-collaborating" type="radio" id="query-streamer-talkshow-collaborating-any" {% if data.streamer_talkshow_collaborating != "yes" && data.streamer_talkshow_collaborating != "no" %} checked {% endif %} />
                  <label for="query-streamer-talkshow-collaborating-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-talkshow-collaborating" type="radio" id="query-streamer-talkshow-collaborating-yes" {% if data.streamer_talkshow_collaborating == "yes" %} checked {% endif %} />
                  <label for="query-streamer-talkshow-collaborating-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-talkshow-collaborating" type="radio" id="query-streamer-talkshow-collaborating-no" {% if data.streamer_talkshow_collaborating == "no" %} checked {% endif %} />
                  <label for="query-streamer-talkshow-collaborating-no">No</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>Does Charity Streams:</p>
                <p>
                  <input name="query-streamer-talkshow-charity" type="radio" id="query-streamer-talkshow-charity-any" {% if data.streamer_talkshow_charity != "yes" && data.streamer_talkshow_charity != "no" %} checked {% endif %} />
                  <label for="query-streamer-talkshow-charity-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-talkshow-charity" type="radio" id="query-streamer-talkshow-charity-yes" {% if data.streamer_talkshow_charity == "yes" %} checked {% endif %} />
                  <label for="query-streamer-talkshow-charity-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-talkshow-charity" type="radio" id="query-streamer-talkshow-charity-no" {% if data.streamer_talkshow_charity == "no" %} checked {% endif %} />
                  <label for="query-streamer-talkshow-charity-no">No</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <strong>Talk Show Streamer - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-streamer-talkshow-keywords" class="chips" data-keywords="{{ data.streamer_talkshow_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-streamer-music" {% if !data.types.streamer_music %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col s12" style="margin-bottom: 5px;">
                <strong>Music Streamer - Attributes</strong>
              </div>
              <div class="col l6 m6 s12">
                <p>Looking to Collaborate:</p>
                <p>
                  <input name="query-streamer-music-collaborating" type="radio" id="query-streamer-music-collaborating-any" {% if data.streamer_music_collaborating != "yes" && data.streamer_music_collaborating != "no" %} checked {% endif %} />
                  <label for="query-streamer-music-collaborating-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-music-collaborating" type="radio" id="query-streamer-music-collaborating-yes" {% if data.streamer_music_collaborating == "yes" %} checked {% endif %} />
                  <label for="query-streamer-music-collaborating-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-music-collaborating" type="radio" id="query-streamer-music-collaborating-no" {% if data.streamer_music_collaborating == "no" %} checked {% endif %} />
                  <label for="query-streamer-music-collaborating-no">No</label>
                </p>
              </div>
              <div class="col l6 m6 s12">
                <p>Does Charity Streams:</p>
                <p>
                  <input name="query-streamer-music-charity" type="radio" id="query-streamer-music-charity-any" {% if data.streamer_music_charity != "yes" && data.streamer_music_charity != "no" %} checked {% endif %} />
                  <label for="query-streamer-music-charity-any">Any</label>
                </p>
                <p>
                  <input name="query-streamer-music-charity" type="radio" id="query-streamer-music-charity-yes" {% if data.streamer_music_charity == "yes" %} checked {% endif %} />
                  <label for="query-streamer-music-charity-yes">Yes</label>
                </p>
                <p>
                  <input name="query-streamer-music-charity" type="radio" id="query-streamer-music-charity-no" {% if data.streamer_music_charity == "no" %} checked {% endif %} />
                  <label for="query-streamer-music-charity-no">No</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <strong>Music Streamer - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-streamer-music-keywords" class="chips" data-keywords="{{ data.streamer_music_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-artist" {% if !data.types.artist %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col s12" style="margin-bottom: 5px;">
                <strong>Artist - Commissions</strong>
              </div>
              <div class="col l4 m12 s12">
                <p>Usually Accepts Commissions:</p>
                <p>
                  <input name="query-artist-commissions-accepts" type="radio" id="query-artist-commissions-accepts-any" {% if data.artist_commissions.accepts != "yes" && data.artist_commissions.accepts != "no" %} checked {% endif %} />
                  <label for="query-artist-commissions-accepts-any">Any</label>
                </p>
                <p>
                  <input name="query-artist-commissions-accepts" type="radio" id="query-artist-commissions-accepts-yes" {% if data.artist_commissions.accepts == "yes" %} checked {% endif %} />
                  <label for="query-artist-commissions-accepts-yes">Yes</label>
                </p>
                <p>
                  <input name="query-artist-commissions-accepts" type="radio" id="query-artist-commissions-accepts-no" {% if data.artist_commissions.accepts == "no" %} checked {% endif %} />
                  <label for="query-artist-commissions-accepts-no">No</label>
                </p>
              </div>
              <div class="col l4 m12 s12">
                <p>Charges For Commissions:</p>
                <p>
                  <input name="query-artist-commissions-charges" type="radio" id="query-artist-commissions-charges-any" {% if data.artist_commissions.charges != "yes" && data.artist_commissions.charges != "no" %} checked {% endif %} />
                  <label for="query-artist-commissions-charges-any">Any</label>
                </p>
                <p>
                  <input name="query-artist-commissions-charges" type="radio" id="query-artist-commissions-charges-yes" {% if data.artist_commissions.charges == "yes" %} checked {% endif %} />
                  <label for="query-artist-commissions-charges-yes">Yes</label>
                </p>
                <p>
                  <input name="query-artist-commissions-charges" type="radio" id="query-artist-commissions-charges-no" {% if data.artist_commissions.charges == "no" %} checked {% endif %} />
                  <label for="query-artist-commissions-charges-no">No</label>
                </p>
              </div>
              <div class="col l4 m12 s12">
                <p>Currently Accepts Commissions:</p>
                <p>
                  <input name="query-artist-commissions-currently" type="radio" id="query-artist-commissions-currently-any" {% if data.artist_commissions.currently != "yes" && !data.artist_commissions.currently != "no" %} checked {% endif %} />
                  <label for="query-artist-commissions-currently-any">Any</label>
                </p>
                <p>
                  <input name="query-artist-commissions-currently" type="radio" id="query-artist-commissions-currently-yes" {% if data.artist_commissions.currently == "yes" %} checked {% endif %} />
                  <label for="query-artist-commissions-currently-yes">Yes</label>
                </p>
                <p>
                  <input name="query-artist-commissions-currently" type="radio" id="query-artist-commissions-currently-no" {% if data.artist_commissions.currently == "no" %} checked {% endif %} />
                  <label for="query-artist-commissions-currently-no">No</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <strong>Artist - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-artist-keywords" class="chips" data-keywords="{{ data.artist_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-developer" {% if !data.types.developer %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col s12" style="margin-bottom: 5px;">
                <strong>Developer - Commissions</strong>
              </div>
              <div class="col l4 m12 s12">
                <p>Usually Accepts Commissions:</p>
                <p>
                  <input name="query-developer-commissions-accepts" type="radio" id="query-developer-commissions-accepts-any" {% if data.developer_commissions.accepts != "yes" && data.developer_commissions.accepts != "no" %} checked {% endif %} />
                  <label for="query-developer-commissions-accepts-any">Any</label>
                </p>
                <p>
                  <input name="query-developer-commissions-accepts" type="radio" id="query-developer-commissions-accepts-yes" {% if data.developer_commissions.accepts == "yes" %} checked {% endif %} />
                  <label for="query-developer-commissions-accepts-yes">Yes</label>
                </p>
                <p>
                  <input name="query-developer-commissions-accepts" type="radio" id="query-developer-commissions-accepts-no" {% if data.developer_commissions.accepts == "no" %} checked {% endif %} />
                  <label for="query-developer-commissions-accepts-no">No</label>
                </p>
              </div>
              <div class="col l4 m12 s12">
                <p>Charges For Commissions:</p>
                <p>
                  <input name="query-developer-commissions-charges" type="radio" id="query-developer-commissions-charges-any" {% if data.developer_commissions.charges != "yes" && data.developer_commissions.charges != "no" %} checked {% endif %} />
                  <label for="query-developer-commissions-charges-any">Any</label>
                </p>
                <p>
                  <input name="query-developer-commissions-charges" type="radio" id="query-developer-commissions-charges-yes" {% if data.developer_commissions.charges == "yes" %} checked {% endif %} />
                  <label for="query-developer-commissions-charges-yes">Yes</label>
                </p>
                <p>
                  <input name="query-developer-commissions-charges" type="radio" id="query-developer-commissions-charges-no" {% if data.developer_commissions.charges == "no" %} checked {% endif %} />
                  <label for="query-developer-commissions-charges-no">No</label>
                </p>
              </div>
              <div class="col l4 m12 s12">
                <p>Currently Accepts Commissions:</p>
                <p>
                  <input name="query-developer-commissions-currently" type="radio" id="query-developer-commissions-currently-any" {% if data.developer_commissions.currently != "yes" && data.developer_commissions.currently != "no" %} checked {% endif %} />
                  <label for="query-developer-commissions-currently-any">Any</label>
                </p>
                <p>
                  <input name="query-developer-commissions-currently" type="radio" id="query-developer-commissions-currently-yes" {% if data.developer_commissions.currently == "yes" %} checked {% endif %} />
                  <label for="query-developer-commissions-currently-yes">Yes</label>
                </p>
                <p>
                  <input name="query-developer-commissions-currently" type="radio" id="query-developer-commissions-currently-no" {% if data.developer_commissions.currently == "no" %} checked {% endif %} />
                  <label for="query-developer-commissions-currently-no">No</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <strong>Developer - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-developer-keywords" class="chips" data-keywords="{{ data.developer_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-communitymanager" {% if !data.types.communitymanager %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col s12">
                <strong>Community Manager - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-communitymanager-keywords" class="chips" data-keywords="{{ data.communitymanager_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-moderator" {% if !data.types.moderator %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col s12" style="margin-bottom: 5px;">
                <strong>Moderator - Requests</strong>
                <p>You must choose at least one option.</p>
              </div>
              <div class="col s12">
                <p>Accepts Requests to Moderate:</p>
                <p>
                  <input name="query-moderator-requests-accepts" type="radio" id="query-moderator-requests-accepts-any" {% if data.moderator_requests.accepts != "yes" && data.moderator_requests.accepts != "no" %} checked {% endif %} />
                  <label for="query-moderator-requests-accepts-any">Any</label>
                </p>
                <p>
                  <input name="query-moderator-requests-accepts" type="radio" id="query-moderator-requests-accepts-yes" {% if data.moderator_requests.accepts == "yes" %} checked {% endif %} />
                  <label for="query-moderator-requests-accepts-yes">Yes</label>
                </p>
                <p>
                  <input name="query-moderator-requests-accepts" type="radio" id="query-moderator-requests-accepts-no" {% if data.moderator_requests.accepts == "no" %} checked {% endif %} />
                  <label for="query-moderator-requests-accepts-no">No</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <strong>Moderator - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-moderator-keywords" class="chips" data-keywords="{{ data.moderator_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-viewer" {% if !data.types.viewer %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col l10 m9 s8" style="margin-bottom: 5px;">
                <strong>Viewer - Preferences</strong>
                <p>You must choose at least one option.</p>
              </div>
              <div class="col l2 m3 s4 right-align">
                <p style="margin-top: 15px;">
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-select-all" />
                  <label for="query-attributes-viewer-select-all">Select All</label>
                </p>
              </div>
              <div class="col l6 m6 s12" style="margin-bottom: 5px;">
                <p>
                  <input name="query-attributes-viewer" type="radio" id="query-attributes-viewer-one" {% if data.viewer_method != "all" %} checked {% endif %} />
                  <label for="query-attributes-viewer-one">Require At Least One Selected Preference</label>
                </p>
              </div>
              <div class="col l6 m6 s12" style="margin-bottom: 5px;">
                <p>
                  <input name="query-attributes-viewer" type="radio" id="query-attributes-viewer-all" {% if data.viewer_method == "all" %} checked {% endif %} />
                  <label for="query-attributes-viewer-all">Require All Selected Preferences</label>
                </p>
              </div>
              <div class="col s12 m6 l3">
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-action" {% if data.viewer_preferences.action %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-action">Action Games</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-adventure" {% if data.viewer_preferences.adventure %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-adventure">Adventure Games</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-roleplaying" {% if data.viewer_preferences.roleplaying %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-roleplaying">Role-Playing Games</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-simulation" {% if data.viewer_preferences.simulation %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-simulation">Simulation Games</label>
                </p>
              </div>
              <div class="col s12 m6 l3">
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-horror" {% if data.viewer_preferences.horror %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-horror">Horror Games</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-strategy" {% if data.viewer_preferences.strategy %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-strategy">Strategy Games</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-survival" {% if data.viewer_preferences.survival %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-survival">Survival Games</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-cooking" {% if data.viewer_preferences.cooking %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-cooking">Cooking</label>
                </p>
              </div>
              <div class="col s12 m6 l3">
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-drawing" {% if data.viewer_preferences.drawing %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-drawing">Drawing</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-painting" {% if data.viewer_preferences.painting %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-painting">Painting</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-programming" {% if data.viewer_preferences.programming %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-programming">Programming</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-editing" {% if data.viewer_preferences.editing %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-editing">Video Editing</label>
                </p>
              </div>
              <div class="col s12 m6 l3">
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-irl" {% if data.viewer_preferences.irl %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-irl">IRL</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-talkshow" {% if data.viewer_preferences.talkshow %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-talkshow">Talk Show</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-socialeating" {% if data.viewer_preferences.socialeating %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-socialeating">Social Eating</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-streams-music" {% if data.viewer_preferences.music %} checked {% endif %} />
                  <label for="query-attributes-viewer-streams-music">Music</label>
                </p>
              </div>
              <div class="col s12">
                <p>
                  <input type="checkbox" class="filled-in" id="query-attributes-viewer-family" {% if data.viewer_family %} checked {% endif %} />
                  <label for="query-attributes-viewer-family">Prefers family friendly streams?</label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <strong>Viewer - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-viewer-keywords" class="chips" data-keywords="{{ data.viewer_keywords }}"></div>
              </div>
            </div>
          </div>
          <div id="query-attributes-other" {% if !data.types.other %} style="display: none;" {% endif %}>
            <div class="row">
              <div class="col s12">
                <strong>Other - Key Words</strong>
                <p>Optional.</p>
              </div>
              <div class="col s12">
                <div id="query-attributes-other-keywords" class="chips" data-keywords="{{ data.other_keywords }}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <div class="row" style="margin: 0;">
            <div class="col s12">
              <h5>Step 3 - Tags</h5>
              <p>Optional.</p>
            </div>
          </div>
          <div class="row">
            <div class="col l6 m6 s12">
              <p>
                <input name="query-tags" type="radio" id="query-tags-one" {% if data.tags_method != "all" %} checked {% endif %} />
                <label for="query-tags-one">Require At Least One Tag</label>
              </p>
            </div>
            <div class="col l6 m6 s12">
              <p>
                <input name="query-tags" type="radio" id="query-tags-all" {% if data.tags_method == "all" %} checked {% endif %} />
                <label for="query-tags-all">Require All Tags</label>
              </p>
            </div>
            <div class="col s12">
              <div id="query-tags" class="chips" data-tags="{{ data.tags }}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <div class="row" style="margin: 0;">
            <div class="col l4 m5 s6">
              <p style="margin-top: 30px;">
                <input type="checkbox" class="filled-in" id="query-public" checked />
                <label for="query-public">Make Query Publicly Available</label>
              </p>
            </div>
            <div class="col l6 m4 s2 input-field">
              <input id="query-description" type="text" value="{{ data.description }}">
              <label for="query-description">Query Description</label>
            </div>
            <div class="col l2 m3 s4 right-align">
              <a href="#!" id="query-submit" class="btn waves-effect waves-light custom darken-1 white-text right" style="margin-top: 30px;">Search</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="tab-trending">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <div class="row" style="margin: 0;">
            <div class="col s12">
              <table class="striped">
                <thead>
                  <th>Rank</th>
                  <th>Description</th>
                  <th>Number of Uses</th>
                  <th>Last Used</th>
                  <th>Use</th>
                </thead>
                <tbody>
                  {% for query in trending %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>{{ query.description }}</td>
                      <td>{{ query.uses }}</td>
                      <td>{{ query.last_use|date('d/m/Y') }}</td>
                      <td><a href="/browse/query/{{ query.id }}" class="btn waves-effect waves-light custom darken-1 white-text">Use</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/query.js"></script>

{% include "./footer.html" %}
