{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    {% if !bans.requests %}
      <div class="card">
        <div class="card-content">
          <div class="row" style="margin: 0;">
            <div class="col s12">
              <h3 class="center">Submit Advertisement Request</h3>
              <hr />
              <h5>Please select a type of request:</h5>
              <div class="collection">
                <a href="submit/web" class="collection-item deep-purple-text text-darken-2">Web Tool</a>
                <a href="submit/desktop" class="collection-item deep-purple-text text-darken-2">Desktop Tool</a>
                <a href="submit/extension" class="collection-item deep-purple-text text-darken-2">Browser Extension</a>
                <a href="submit/other" class="collection-item deep-purple-text text-darken-2">Something Else</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="card">
        <div class="card-content">
          <div class="row center">
            <div class="col s12 custom-text text-darken-1">
              <h4>Banned</h4>
            </div>
            <div class="col s12 custom-text text-lighten-1">
              <p>Sorry, but you appear to be banned from making advertisement requests. If you believe this is an error, please contact the /r/Twitch Moderators via <a href="https://www.reddit.com/message/compose?to=%2Fr%2FTwitch">modmail.</a>.</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>


{% include "./footer.html" %}
