<div class="col s1 valign-wrapper" style="height: 42px;">
  <p class="truncate">{{ times[1]|date('D d/m/Y') }}</p>
</div>
<div class="col s1 valign-wrapper schedule-divider" style="height: 42px;">
  <p id="header" data-utc="{{ times[1] }}"></p>
</div>
<div class="col s1 valign-wrapper schedule-divider" style="height: 42px;">
  <p id="header" data-utc="{{ times[2] }}"></p>
</div>
<div class="col s1 valign-wrapper schedule-divider" style="height: 42px;">
  <p id="header" data-utc="{{ times[3] }}"></p>
</div>
<div class="col s1 valign-wrapper schedule-divider" style="height: 42px;">
  <p id="header" data-utc="{{ times[4] }}"></p>
</div>
<div class="col s1 valign-wrapper schedule-divider" style="height: 42px;">
  <p id="header" data-utc="{{ times[5] }}"></p>
</div>
<div class="col s1 valign-wrapper schedule-divider" style="height: 42px;">
  <p id="header" data-utc="{{ times[6] }}"></p>
</div>
<div class="col s1 valign-wrapper schedule-divider" style="height: 42px;">
  <p id="header" data-utc="{{ times[7] }}"></p>
</div>
<div class="col s1 valign-wrapper schedule-divider" style="height: 42px;">
  <p id="header" data-utc="{{ times[8] }}"></p>
</div>
<div class="col s1 valign-wrapper schedule-divider" style="height: 42px;">
  <p id="header" data-utc="{{ times[9] }}"></p>
</div>
<div class="col s1 valign-wrapper schedule-divider" style="height: 42px;">
  <p id="header" data-utc="{{ times[10] }}"></p>
</div>
<div class="col s1 valign-wrapper schedule-divider" style="height: 42px;">
  <a href="#!" id="scroll" class="btn-floating custom darken-1 waves-effect waves-light" data-utc="{{ times[1] - 18000000 }}" style="margin: 0 2px;"><i class="material-icons">chevron_left</i></a>
  <a href="#!" id="scroll" class="btn-floating custom darken-1 waves-effect waves-light" data-utc="{{ times[1] + 18000000 }}" style="margin: 0 2px;"><i class="material-icons">chevron_right</i></a>
</div>
