{% include "./header.html" %}

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500;">Schedule</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 input-field">
            <input id="search" type="text">
            <label for="search">Search For Streamer</label>
          </div>
        </div>
        <div id="times" class="row">
          {% include "./schedule_header_partial.html" %}
        </div>
        <div id="users">
          {% include "./schedule_partial.html" %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/schedule.js"></script>

{% include "./footer.html" %}
