{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500;">Scheduled Streams<a href="/schedule/stream/new" class="btn-floating custom darken-1 waves-effect waves-light right"><i class="material-icons">add</i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    {% if data.streams[0] %}
      <ul class="collapsible" data-collapsible="accordion">
        {% for stream in data.streams %}
          <li>
            <div class="collapsible-header custom-text text-darken-1"><i class="material-icons">schedule</i>{{ stream.title }}<a href="#!" id="delete-stream" class="right" data-id="{{ stream.id }}"><i class="material-icons">delete</i></a><a href="#!" id="edit-stream" class="right" data-id="{{ stream.id }}"><i class="material-icons">edit</i></a></div>
            <div class="collapsible-body">
              <table>
                <tbody>
                  <tr>
                    <td><strong>Stream Title:</strong></td>
                    <td>{{ stream.title }}</td>
                  </tr>
                  <tr>
                    <td><strong>Stream Description:</strong></td>
                    <td>{{ stream.description }}</td>
                  </tr>
                  <tr>
                    <td><strong>Stream Directory:</strong></td>
                    <td>{{ stream.directory }}</td>
                  </tr>
                  <tr>
                    <td><strong>Stream Start Date & Time (UTC):</strong></td>
                    <td>{{ stream.start|date('d/m/Y H:i') }}</td>
                  </tr>
                  <tr>
                    <td><strong>Stream End Date & Time (UTC):</strong></td>
                    <td>{{ stream.end|date('d/m/Y H:i') }}</td>
                  </tr>
                  <tr>
                    <td><strong>Stream Start Date & Time (Your Time - <span id="timezone"></span>):</strong></td>
                    <td id="start" data-utc="{{ stream.start }}"></td>
                  </tr>
                  <tr>
                    <td><strong>Stream End Date & Time (Your Time - <span id="timezone"></span>):<strong></td>
                    <td id="end" data-utc="{{ stream.end }}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="card" {% if margin %}style="margin: 1rem 0.75rem;"{% endif %}>
        <div class="card-content">
          <div class="row" style="margin: 0;">
            <div class="col s12 center">
              <h5 class="custom-text text-darken-1">There's nothing here.</h5>
            </div>
            <div class="col s12 center">
              <p class="custom-text text-lighten-1">You have no scheduled streams.</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script src="/js/schedule_list.js"></script>

{% include "./footer.html" %}
