{% for user in data %}
  <div class="row" data-id="{{ user.twitch_id }}">
    <div class="col s1 center">
      <a href="/user/{{ user.twitch_username }}" class="tooltipped {% if user.stream.stream_type == "live" %}img-pulse live"{% elseif user.stream.stream_type == "vodcast" %}img-pulse video"{% elseif data.hosting %}img-pulse host"{% endif %} target="_blank" style="max-height: 75px; max-width: 75px; display: inline-block;" data-position="right" data-delay="50" data-tooltip="{{ user.twitch_name }}"><img {% if user.logo %} src="{{ user.logo }}" {% else %} src="/img/default_user.png" {% endif %} class="circle z-depth-2 responsive-img" style="max-height: 75px;"></a>
    </div>
    {% set used = 0 %}
    {% for stream in user.streams %}
      {% if stream.start <= times[10] && stream.end > times[1] %}
        {% if stream.start == times[2] %}
          {% set offset = 1 %}
        {% elseif stream.start == times[3] %}
          {% set offset = 2 %}
        {% elseif stream.start == times[4] %}
          {% set offset = 3 %}
        {% elseif stream.start == times[5] %}
          {% set offset = 4 %}
        {% elseif stream.start == times[6] %}
          {% set offset = 5 %}
        {% elseif stream.start == times[7] %}
          {% set offset = 6 %}
        {% elseif stream.start == times[8] %}
          {% set offset = 7 %}
        {% elseif stream.start == times[9] %}
          {% set offset = 8 %}
        {% elseif stream.start == times[10] %}
          {% set offset = 9 %}
        {% else %}
          {% set offset = 0 %}
        {% endif %}
        {% if stream.end - times[offset + 1] == 3600000 %}
          {% set col = 2 %}
        {% elseif stream.end - times[offset + 1] == 5400000 %}
          {% set col = 3 %}
        {% elseif stream.end - times[offset + 1] == 7200000 %}
          {% set col = 4 %}
        {% elseif stream.end - times[offset + 1] == 9000000 %}
          {% set col = 5 %}
        {% elseif stream.end - times[offset + 1] == 10800000 %}
          {% set col = 6 %}
        {% elseif stream.end - times[offset + 1] == 12600000 %}
          {% set col = 7 %}
        {% elseif stream.end - times[offset + 1] == 14400000 %}
          {% set col = 8 %}
        {% elseif stream.end - times[offset + 1] == 16200000 %}
          {% set col = 9 %}
        {% elseif stream.end - times[offset + 1] == 18000000 %}
          {% set col = 10 %}
        {% else %}
          {% set col = 1 %}
        {% endif %}
        {% if col + offset >= 11 %}
          {% set col = 10 - offset %}
          {% set more = true %}
        {% endif %}
        {% set offset = offset - used %}
        {% set used = offset + col + used %}
        <a href="#modal-stream-{{ stream.id }}">
          <div class="col s{{ col }} offset-s{{ offset }} custom lighten-1 white-text valign-wrapper " style="padding: 0;">
            <img src="http://static-cdn.jtvnw.net/ttv-boxart/{{ stream.directory }}-54x75.jpg" class="responsive-img" style="max-width: 75px; display: inline-block;" />
            <h5 class="center truncate" style="display: inline-block; margin: 0; width: 100%;">{{ stream.title }}</h5>
          </div>
        </a>
        <div id="modal-stream-{{ stream.id }}" class="modal">
          <div class="modal-content">
            <h4>{{ stream.title }}</h4>
            <hr />
            <table>
              <tbody>
                <tr>
                  <td><strong>Stream Title:</strong></td>
                  <td>{{ stream.title }}</td>
                </tr>
                <tr>
                  <td><strong>Stream Description:</strong></td>
                  <td>{{ stream.description }}</td>
                </tr>
                <tr>
                  <td><strong>Stream Directory:</strong></td>
                  <td>{{ stream.directory }}</td>
                </tr>
                <tr>
                  <td><strong>Stream Start Date & Time (UTC):</strong></td>
                  <td>{{ stream.start|date('d/m/Y H:i') }}</td>
                </tr>
                <tr>
                  <td><strong>Stream End Date & Time (UTC):</strong></td>
                  <td>{{ stream.end|date('d/m/Y H:i') }}</td>
                </tr>
                <tr>
                  <td><strong>Stream Start Date & Time (Your Time - <span id="timezone"></span>):</strong></td>
                  <td id="start" data-utc="{{ stream.start }}"></td>
                </tr>
                <tr>
                  <td><strong>Stream End Date & Time (Your Time - <span id="timezone"></span>):<strong></td>
                  <td id="end" data-utc="{{ stream.end }}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    {% if more === true %}
      <div class="col s1 valign-wrapper">
        <i class="material-icons medium custom-text text-darken-1" style="margin-top: 6px;">chevron_right</i>
      </div>
    {% endif %}
  </div>
{% endfor %}
