{% include "./header.html" %}

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500; margin: 5px 0;">Streamer Spotlight</p>
            <p class="custom-text text-lighten-1 center" style="margin: 0;">You are currently watching <span id="spotlight-channel"></span> streaming <span id="spotlight-directory"></span>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="height: calc(100% - 450px); width: 100%; margin: 0;">
  <div class="col l2 hide-on-med-and-down">
    {% if streamer_gaming %}
      <div id="spotlight-streamer-gaming" class="card" data-name="{{ streamer_gaming.twitch_name }}" data-username="{{ streamer_gaming.twitch_username }}" data-directory="{{ streamer_gaming.stream.game }}" data-twitter="{{ streamer_gaming.profile.social_media.twitter }}">
        <div class="card-image black">
          <img id="spotlight-preview" src="{{ streamer_gaming.stream.preview.medium }}">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Gaming Stream</span>
        </div>
      </div>
    {% else %}
      <div id="spotlight-missing" class="card">
        <div class="card-image black">
          <img src="/img/no_stream.png" style="opacity: 0.1;">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Gaming Stream</span>
        </div>
      </div>
    {% endif %}
    {% if streamer_creative %}
      <div id="spotlight-streamer-creative" class="card" data-name="{{ streamer_creative.twitch_name }}" data-username="{{ streamer_creative.twitch_username }}" data-directory="{{ streamer_creative.stream.game }}" data-twitter="{{ streamer_creative.profile.social_media.twitter }}">
        <div class="card-image black">
          <img id="spotlight-preview" src="{{ streamer_creative.stream.preview.medium }}">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Creative Stream</span>
        </div>
      </div>
    {% else %}
      <div id="spotlight-missing" class="card">
        <div class="card-image black">
          <img src="/img/no_stream.png" style="opacity: 0.1;">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Creative Stream</span>
        </div>
      </div>
    {% endif %}
    {% if streamer_irl %}
      <div id="spotlight-streamer-irl" class="card" data-name="{{ streamer_irl.twitch_name }}" data-username="{{ streamer_irl.twitch_username }}" data-directory="{{ streamer_irl.stream.game }}" data-twitter="{{ streamer_irl.profile.social_media.twitter }}">
        <div class="card-image black">
          <img id="spotlight-preview" src="{{ streamer_irl.stream.preview.medium }}">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">IRL Stream</span>
        </div>
      </div>
    {% else %}
      <div id="spotlight-missing" class="card">
        <div class="card-image black">
          <img src="/img/no_stream.png" style="opacity: 0.1;">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">IRL Stream</span>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="col s12 m12 l8" style="height: 100%; margin-bottom: 220px;">
    <div class="col s12 m6 l6">
      <a href="#!" id="random-stream" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%; margin-bottom: 5px;">Select Random Stream</a>
    </div>
    <div class="col s12 m6 l6">
      <a href="#!" id="new-streams" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%; margin-bottom: 5px;">Get New Selection</a>
    </div>
    <div id="spotlight-player-wrapper" class="card black" style="height: calc(100% + 60px); margin-top: 90px;"></div>
    <div class="col s12 center">
      <a href="/user/{{ user.stream.channel.name }}" id="spotlight-stream-profile" class="btn-floating btn waves-effect waves-light custom lighten-1 tooltipped" data-position="top" data-delay="50" data-tooltip="View Profile"><i class="material-icons">description</i></a>
      <a href="https://twitch.tv/{{ user.stream.channel.name }}" id="spotlight-stream-channel" class="btn-floating btn waves-effect waves-light custom lighten-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Watch on Twitch" target="_blank"><i class="material-icons">visibility</i></a>
      <a href="https://player.twitch.tv/?volume=1&channel={{ user.stream.channel.name }}" id="spotlight-stream-player" class="btn-floating btn waves-effect waves-light custom lighten-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Popout Stream" target="_blank"><i class="material-icons">open_in_new</i></a>
      <a href="https://twitch.tv/{{ user.stream.channel.name }}/chat" id="spotlight-stream-chat" class="btn-floating btn waves-effect waves-light custom lighten-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Poput Chat" target="_blank"><i class="material-icons">chat</i></a>
      <a href="https://twitter.com/intent/tweet?text=I%27m+watching+{% if user.profile.social_media.twitter %}%40{{ user.profile.social_media.twitter }}{% else %}{{ user.stream.channel.display_name }}{% endif %}+stream+{{ user.stream.channel.game }}+on+%40Twitch.+Come+and+join+me%21%0D%0A%0D%0Ahttps%3A%2F%2Ftwitch.tv%2F{{ user.stream.channel.name }}%0D%0A%0D%0A%28via+Purple%2B%29" id="spotlight-stream-tweet" class="btn-floating btn waves-effect waves-light custom lighten-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Tweet Stream" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="col s12 m6 hide-on-large-only">
    {% if streamer_gaming %}
      <div id="spotlight-streamer-gaming" class="card" data-name="{{ streamer_gaming.twitch_name }}" data-username="{{ streamer_gaming.twitch_username }}" data-directory="{{ streamer_gaming.stream.game }}" data-twitter="{{ streamer_gaming.profile.social_media.twitter }}">
        <div class="card-image black">
          <img id="spotlight-preview" src="{{ streamer_gaming.stream.preview.medium }}">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Gaming Stream</span>
        </div>
      </div>
    {% else %}
      <div id="spotlight-missing" class="card">
        <div class="card-image black">
          <img src="/img/no_stream.png" style="opacity: 0.1;">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Gaming Stream</span>
        </div>
      </div>
    {% endif %}
    {% if streamer_creative %}
      <div id="spotlight-streamer-creative" class="card" data-name="{{ streamer_creative.twitch_name }}" data-username="{{ streamer_creative.twitch_username }}" data-directory="{{ streamer_creative.stream.game }}" data-twitter="{{ streamer_creative.profile.social_media.twitter }}">
        <div class="card-image black">
          <img id="spotlight-preview" src="{{ streamer_creative.stream.preview.medium }}">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Creative Stream</span>
        </div>
      </div>
    {% else %}
      <div id="spotlight-missing" class="card">
        <div class="card-image black">
          <img src="/img/no_stream.png" style="opacity: 0.1;">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Creative Stream</span>
        </div>
      </div>
    {% endif %}
    {% if streamer_irl %}
      <div id="spotlight-streamer-irl" class="card" data-name="{{ streamer_irl.twitch_name }}" data-username="{{ streamer_irl.twitch_username }}" data-directory="{{ streamer_irl.stream.game }}" data-twitter="{{ streamer_irl.profile.social_media.twitter }}">
        <div class="card-image black">
          <img id="spotlight-preview" src="{{ streamer_irl.stream.preview.medium }}">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">IRL Stream</span>
        </div>
      </div>
    {% else %}
      <div id="spotlight-missing" class="card">
        <div class="card-image black">
          <img src="/img/no_stream.png" style="opacity: 0.1;">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">IRL Stream</span>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="col s12 m6 l2">
    {% if streamer_socialeating %}
      <div id="spotlight-streamer-socialeating" class="card" data-name="{{ streamer_socialeating.twitch_name }}" data-username="{{ streamer_socialeating.twitch_username }}" data-directory="{{ streamer_socialeating.stream.game }}" data-twitter="{{ streamer_socialeating.profile.social_media.twitter }}">
        <div class="card-image black">
          <img id="spotlight-preview" src="{{ streamer_socialeating.stream.preview.medium }}">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Social Eating Stream</span>
        </div>
      </div>
    {% else %}
      <div id="spotlight-missing" class="card">
        <div class="card-image black">
          <img src="/img/no_stream.png" style="opacity: 0.1;">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Social Eating Stream</span>
        </div>
      </div>
    {% endif %}
    {% if streamer_talkshow %}
      <div id="spotlight-streamer-talkshow" class="card" data-name="{{ streamer_talkshow.twitch_name }}" data-username="{{ streamer_talkshow.twitch_username }}" data-directory="{{ streamer_talkshow.stream.game }}" data-twitter="{{ streamer_talkshow.profile.social_media.twitter }}">
        <div class="card-image black">
          <img id="spotlight-preview" src="{{ streamer_talkshow.stream.preview.medium }}">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Talk Show Stream</span>
        </div>
      </div>
    {% else %}
      <div id="spotlight-missing" class="card">
        <div class="card-image black">
          <img src="/img/no_stream.png" style="opacity: 0.1;">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Talk Show Stream</span>
        </div>
      </div>
    {% endif %}
    {% if streamer_music %}
      <div id="spotlight-streamer-music" class="card" data-name="{{ streamer_music.twitch_name }}" data-username="{{ streamer_music.twitch_username }}" data-directory="{{ streamer_music.stream.game }}" data-twitter="{{ streamer_music.profile.social_media.twitter }}">
        <div class="card-image black">
          <img id="spotlight-preview" src="{{ streamer_music.stream.preview.medium }}">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Music Stream</span>
        </div>
      </div>
    {% else %}
      <div id="spotlight-missing" class="card">
        <div class="card-image black">
          <img src="/img/no_stream.png" style="opacity: 0.1;">
        </div>
        <div class="card-content custom lighten-1" style="padding: 5px;">
          <span class="card-title white-text center" style="margin: 0;">Music Stream</span>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script src="/js/spotlight.js"></script>

{% include "./footer.html" %}
