{% for user in data %}
  {% if loop.index0 % 4 == 0 %}
    <div class="col s12" style="padding: 0; margin: 0;">
  {% endif %}
  {% if loop.index0 % 2 == 0 %}
    <div class="col l6 m12 s12" style="padding: 0; margin: 0;">
  {% endif %}
  <div class="col l6 m6 s12">
    <div class="card" style="margin-bottom: 0;" data-id="{{ user.twitch_id }}">
      <div class="card-image black" id="stream">
        <a href="#modal-stream" id="preview-stream" data-name="{{ user.stream.channel.name }}"><img class="responsive-img" src="{{ user.stream.preview.large }}"></a>
        <span class="card-title">{{ user.stream.channel.display_name }}</span>
      </div>
      <div style="float: right; margin-top: calc(-56% + 5px); margin-right: 5px;">
        <a href="/user/{{ user.stream.channel.name }}" class="btn-floating btn waves-effect waves-light custom lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="View Profile"><i class="material-icons">description</i></a>
        <a href="https://twitch.tv/{{ user.stream.channel.name }}" class="btn-floating btn waves-effect waves-light custom lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Watch on Twitch" target="_blank"><i class="material-icons">visibility</i></a>
        <a href="http://player.twitch.tv/?volume=1&channel={{ user.stream.channel.name }}" class="btn-floating btn waves-effect waves-light custom lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Popout Stream" target="_blank"><i class="material-icons">open_in_new</i></a>
        <a href="http://twitch.tv/{{ user.stream.channel.name }}/chat" class="btn-floating btn waves-effect waves-light custom lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Poput Chat" target="_blank"><i class="material-icons">chat</i></a>
        <a href="https://twitter.com/intent/tweet?text=I%27m+watching+{% if user.profile.social_media.twitter %}%40{{ user.profile.social_media.twitter }}{% else %}{{ user.stream.channel.display_name }}{% endif %}+stream+{{ user.stream.channel.game }}+on+%40Twitch.+Come+and+join+me%21%0D%0A%0D%0Ahttps%3A%2F%2Ftwitch.tv%2F{{ user.stream.channel.name }}%0D%0A%0D%0A%28via+Purple%2B%29" class="btn-floating btn waves-effect waves-light custom lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Tweet Stream" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
    <ul class="collapsible" data-collapsible="accordion" style="margin-top: 0;">
      <li>
        <div class="collapsible-header truncate custom lighten-1 white-text" style="max-height: 3rem;"><img class="responsive-img" src="{{ user.stream.channel.logo }}" style="max-height: calc(3rem + 1px); position: relative; right: 16px; bottom: 1px;" /><span style="position: relative; bottom: 18px;">Streaming {{ user.stream.channel.game }} for {{ user.stream.viewers }} viewer{% if user.stream.viewers !== 1 %}s{% endif %}.</span></div>
        <div class="collapsible-body" style="padding: 5px; background-color: #fff;">
        <table class="row" style="margin: 0;">
          <tbody>
            <tr class="valign-wrapper">
              <td class="col s3 custom-text text-darken-1" style="padding: 15px 0 15px 0.75rem;">Status:</td>
              <td class="col s9 custom-text text-darken-1" style="padding: 15px 0 15px 0.75rem;">{{ user.stream.channel.status }}</td>
            </tr>
            <tr class="valign-wrapper">
              <td class="col s3 custom-text text-darken-1" style="padding: 15px 0 15px 0.75rem;">Mature:</td>
              <td class="col s9 custom-text text-darken-1" style="padding: 15px 0 15px 0.75rem;">
                {% if user.stream.channel.family %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </td>
            </tr>
            <tr class="valign-wrapper">
              <td class="col s3 custom-text text-darken-1" style="padding: 15px 0 15px 0.75rem;">Live Since:</td>
              <td class="col s9 custom-text text-darken-1" style="padding: 15px 0 15px 0.75rem;">{{ user.stream.created_at|date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr class="valign-wrapper">
              <td class="col s3 custom-text text-darken-1" style="padding: 15px 0 15px 0.75rem;">Twoos:</td>
              <td class="col s9 custom-text text-darken-1" style="padding: 15px 0 15px 0.75rem;">{{ user.balance }}</td>
            </tr>
            <tr class="valign-wrapper">
              <td class="col s3 custom-text text-darken-1" style="padding: 15px 0 15px 0.75rem;">Profile Votes:</td>
              <td class="col s9 custom-text text-darken-1" style="padding: 15px 0 15px 0.75rem;">{{ user.profile.votes.length }}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </li>
    </ul>
  </div>
  {% if loop.index0 % 2 == 1 || loop.last %}
    </div>
  {% endif %}
  {% if loop.index0 % 4 == 3 || loop.last %}
    </div>
  {% endif %}
{% endfor %}
