{% include "./header.html" %}

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="row" style="margin: 0;">
        <div class="col s12">
          <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500; margin: 10px 0;">Streams</p>
        </div>
      </div>
      <ul class="tabs tabs-fixed-width" style="overflow: hidden; margin-bottom: -20px;">
        <li class="tab"><a href="#tab-twoos">Twoos</a></li>
        <li class="tab"><a href="#tab-votes">Profile Votes</a></li>
        <li class="tab"><a href="#tab-random">Random</a></li>
        <li class="tab"><a href="#tab-length">Stream Length</a></li>
        <li class="tab"><a href="#tab-directory">Directory</a></li>
        <li class="tab"><a href="#tab-community">Community</a></li>
        <li class="tab"><a href="#tab-viewers">Viewers</a></li>
      </ul>
      <div class="row" style="margin-top: 20px;">
        <div id="length-options" class="col s12 center" style="display: none;">
          <div class="switch" style="position: relative; bottom: 10px;">
            <label>
              Shortest - Longest
              <input type="checkbox" id="length-options-order">
              <span class="lever"></span>
              Longest - Shortest
            </label>
          </div>
        </div>
        <div id="directory-options" class="col s12 center" style="display: none;">
          <div class="switch" style="position: relative; bottom: 10px;">
            <label>
              Sort By Viewers (Most - Fewest)
              <input type="checkbox" id="directory-options-order">
              <span class="lever"></span>
              Sort A-Z
            </label>
          </div>
        </div>
        <div id="community-options" class="col s12 center" style="display: none;">
          <div class="switch" style="position: relative; bottom: 10px;">
            <label>
              Sort By Viewers (Most - Fewest)
              <input type="checkbox" id="community-options-order">
              <span class="lever"></span>
              Sort A-Z
            </label>
          </div>
        </div>
        <div id="viewers-options" class="col s12 center" style="margin-bottom: 15px; display: none;">
          <div class="col l9 m8 s12 center" style="margin-top: 20px;">
            <div id="viewers-options-range"></div>
          </div>
          <div class="col s12 hide-on-med-and-up" style="margin-top: 50px;"></div>
          <div class="col l3 m4 s12 center">
            <div class="switch">
              <label>
                Most - Fewest
                <input type="checkbox" id="viewers-options-order">
                <span class="lever"></span>
                Fewest - Most
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tab-twoos" class="row">
  <div id="twoos-wrapper">
    {% set data = twoos %}
    {% include "./stream_partial.html"  %}
  </div>
</div>
<div id="tab-votes" class="row">
  <div id="votes-wrapper">
    {% set data = votes %}
    {% include "./stream_partial.html"  %}
  </div>
</div>
<div id="tab-random" class="row">
  <div id="random-wrapper">
    {% set data = random %}
    {% include "./stream_partial.html"  %}
  </div>
</div>
<div id="tab-length" class="row">
  <div id="length-wrapper">
    {% set data = length %}
    {% include "./stream_partial.html"  %}
  </div>
</div>
<div id="tab-directory" class="row">
  <div id="directory-wrapper">

  </div>
</div>
<div id="tab-community" class="row">
  <div id="community-wrapper">

  </div>
</div>
<div id="tab-viewers" class="row" data-min="{{ min }}" data-max="{{ max }}">
  <div id="viewers-wrapper">
    {% set data = viewers %}
    {% include "./stream_partial.html"  %}
  </div>
</div>

<div id="modal-stream" class="modal" style="height: 100%;">
  <div id="video-wrapper" style="height: 100%;">
    <div class="modal-content" style="padding: 0; height: 100%;">

    </div>
    <div class="center" style="position: absolute; bottom: 5px; left: 50%;">
      <a href="" id="preview-profile" class="custom darken-1 white-text btn-floating tooltipped" style="margin: 0 5px; opacity: 0;" target="_blank" data-position="top" data-delay="50" data-tooltip="View Profile"><i class="material-icons">description</i></a>
    </div>
  </div>
</div>

<script src="/js/streams.js"></script>

{% include "./footer.html" %}
