{% include "./header.html" %}

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <div class="row" style="margin: 0;">
          <div class="col s12">
            <p class="custom-text text-darken-1 center" style="font-size: 2.5rem; font-weight: 500;">About /r/Twitch</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <p><a href="https://www.reddit.com/r/Twitch/">/r/Twitch</a> is a subreddit for the streaming site <a href="http://twitch.tv">Twitch</a>. It recently passed the milestone of 200,000 subscribers.</p><br />
        <p>It is not clear what /r/Twitch was created for - possibly for the fans of a YouTube user. For unknown reasons, it was banned by Reddit admins. MuggyFuzzball, who was part of the first mod team, <a href="https://www.reddit.com/r/redditrequest/comments/180xj2/rtwitch_please_delete_existing_content_and_unban/">rescued it from /r/redditrequest</a> in February 2013.</p><br />
        <p>Since then, <a href="https://www.reddit.com/r/Twitch/">/r/Twitch</a> has continued to grow with more users joining the community and subscribing. At this point, channel introductions were set up on the subreddit - along with the user flair and link flair. Some of these continue to be used today. In addition to this, the Weekly Highlight Contest was set up. This forms the basis of the current Bi-Weekly Clip Contests.</p><br />
        <p>In March 2014, a new moderation team was brought in - led by now Twitch Community Manager of Education <a href="https://www.reddit.com/user/spla08">ShannonZKiller</a>. This team ran the subreddit for just over two years and in this time saw the subreddit gain approximately 35,000 subscribers. At this point, /r/Twitch users will have seen discussions about the first ever TwitchCon and lots of other new features. </p><br />
        <p>In June 2015, this mod team launched what was at the time the <a href="https://www.reddit.com/r/Twitch/comments/38ot97/the_biggest_update_to_rtwitch_ever_oh_yes_we_did/">biggest update</a> to <a href="https://www.reddit.com/r/Twitch/">/r/Twitch</a> ever. This involved the launched of the site <a href="http://twitchdb.tv">TwitchDB</a> and new CSS with the <a href="https://www.reddit.com/r/naut/comments/38owf6/rtwitch_is_now_using_naut_come_see_what_we_did/">/r/Naut Base Theme</a>. Not long after, intro posts were retired from the subreddit. The community had <a href="https://www.reddit.com/r/Twitch/comments/3agmzp/psa_intro_posts_are_now_retired_click_to_find_out/">voted to use TwitchDB only</a>. Also, the Community Helpers role was created. These users have been seen to help people a lot and show a good attitude. They currently help us moderate TwitchDB intros, the Discord server and this site!</p><br />
        <p>Soon after the subreddit's redesign, Shannon left her position as lead mod <a href="https://www.reddit.com/r/Twitch/comments/3fsgq2/its_time_to_say_goodbye_i_leave_my_role_as_lead/">to join the Twitch Staff Team</a>. <a href="https://www.reddit.com/u/distortednet">Distortednet</a> was appointed to take her position and led the subreddit for approximately 8 months. In this time, a <a href="https://www.reddit.com/r/Twitch/comments/5cly2l/updated_information_for_the_rtwitch_discord_server/">Discord server</a> was created for the users of the subreddit. This continues to be used today.</p><br />
        <p>In April 2016, the subreddit's fourth and current lead moderator was appointed: <a href="https://www.reddit.com/user/Heep123">Heep</a>. Between April 2016 and April 2017, the subreddit has gained roughly 50,000 subscribers. This mod team saw the subreddit to 100,000 subscribers.</p><br />
        <p>As this milestone approached, AMAs started to be held on the subreddit. These were seen as a great success and continue to be hosted today. When the milestone was hit, the subreddit saw another huge CSS overhaul. However, it was later removed due to its unpopularity It also saw the introduction of the nomination system that is run on this site.</p><br />
        <p>With 200,000 subscribers approaching, some Twitch Clips began to be allowed on /r/Twitch. This grew into a variety of trials - including allowing all non-self promotion clips to be posted. These trials will hopefully attract more people to the subreddit and help it to appeal to a wider audience.</p><br />
        <p>In the future, the plans for the subreddit are to continue to stop what users feel are repetitive questions - while still continuing the help everyone in need. Also, a new team will be set up to help maintain the wiki and keep it a helpful source of information. Overall, the subreddit hopes to keep bringing people together and become a helpful source of information available to all.</p><br />
        <p><a href="#modal-mods">Click here to see a list of all known moderators.</a></p>
      </div>
    </div>
  </div>
</div>

<div id="modal-mods" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Moderators List</h4>
    <p>The following is a list of all users who have moderated <a href="https://www.reddit.com/r/Twitch/">/r/Twitch</a>.</p>
    <hr />
    <ul>
      <li><a href="https://reddit.com/u/MuggyFuzzball">/u/MuggyFuzzball</a></li>
      <li><a href="https://reddit.com/u/Trexid">/u/Trexid</a></li>
      <li><a href="https://reddit.com/u/UglyUser">/u/UglyUser</a></li>
      <li><a href="https://reddit.com/u/Kanthes">/u/Kanthes</a></li>
      <li><a href="https://reddit.com/u/ElegyofGames">/u/ElegyofGames</a></li>
      <li><a href="https://reddit.com/u/xIIBIGPACEIIx">/u/xIIBIGPACEIIx</a></li>
      <li><a href="https://reddit.com/u/Tarfu">/u/Tarfu</a></li>
      <li><a href="https://reddit.com/u/spla08">/u/spla08</a></li>
      <li><a href="https://reddit.com/u/JhnnyCrwsh">/u/JhnnyCrwsh</a></li>
      <li><a href="https://reddit.com/u/BoomLiam">/u/BoomLiam</a></li>
      <li><a href="https://reddit.com/u/distortednet">/u/distortednet</a></li>
      <li><a href="https://reddit.com/u/MellowNebula">/u/MellowNebula</a></li>
      <li><a href="https://reddit.com/u/PancakesWithBaconPWB">/u/PancakesWithBaconPWB</a></li>
      <li title="Account Deleted">/u/conceptional</li>
      <li><a href="https://reddit.com/u/laagone">/u/laagone</a></li>
      <li><a href="https://reddit.com/u/Heep123">/u/Heep123</a></li>
      <li><a href="https://reddit.com/u/Zcotticus">/u/Zcotticus</a></li>
      <li><a href="https://reddit.com/u/Decicus">/u/Decicus</a></li>
      <li><a href="https://reddit.com/u/sargasm_gaming">/u/sargasm_gaming</a></li>
      <li><a href="https://reddit.com/u/SaaiTV">/u/SaaiTV</a></li>
      <li><a href="https://reddit.com/u/Shadow7557">/u/Shadow7557</a></li>
      <li><a href="https://reddit.com/u/Havryl">/u/Havryl</a></li>
      <li><a href="https://reddit.com/u/oDIVINEWRAITHo">/u/oDIVINEWRAITHo</a></li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-purple btn-flat">Close</a>
  </div>
</div>

{% include "./footer.html" %}
