<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <title>Purple+{% if title %} | {{title}}{% endif %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/logo.png">
  </head>
  <body style="height: 100%;">
    {% if navigation %}
      <nav>
        <div class="nav-wrapper custom darken-1">
          <ul class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            {% if loggedin %}
              <ul id="dropdown-user" class="dropdown-content">
                <li><a href="/profile/">Profile</a></li>
                <li><a href="/auth/logout/">Logout</a></li>
              </ul>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown-user">{{ loggedin.twitch_name }}<i class="material-icons right">arrow_drop_down</i></a></li>
            {% else %}
              <li><a href="/auth/redirect/twitch">Login via Twitch</a></li>
            {% endif %}
          </ul>
          <ul class="left">
            <a href="#" data-target="mobile-nav" class="button-collapse sidenav-trigger"><i class="material-icons">menu</i></a>
          </ul>
          <ul class="sidenav" id="mobile-nav">
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </nav>
    {% endif %}
    {% block content %}
      
    {% endblock %}
  </body>
  <script src="/js/site.js"></script>
  {% block footer %}

  {% endblock %}
</html>