{% for transaction in data %}
  <tr>
    <td class="center">
      {% if transaction.user %}
        {{ transaction.user }}
      {% else %}
        Removed
      {% endif %}
    </td>
    <td class="center">{{ transaction.timestamp|date('d/m/Y H:i:s') }}</td>
    <td class="center">{{ transaction.title }}</td>
    <td class="center">{{ transaction.old }}</td>
    <td class="center">{{ transaction.new }}</td>
    <td class="center">{{ transaction.difference }}</td>
    <td class="center"><a class="waves-effect waves-light btn custom darken-1" href="#modal-transaction-{{ transaction.timestamp }}">More</a></td>
  </tr>
{% endfor %}
