{% for transaction in data %}
  <div id="modal-transaction-{{ transaction.timestamp }}" class="modal">
    <div class="modal-content">
      <h4>View Transaction Information</h4>
      <hr />
      <table>
        <tbody>
          <tr>
            <td><strong>User:</strong></td>
            <td>
              {% if transaction.user %}
                {{ transaction.user }}
              {% else %}
                Removed
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><strong>ID:</strong></td>
            <td>{{ transaction.timestamp }}</td>
          </tr>
          <tr>
            <td><strong>Date:</strong></td>
            <td>{{ transaction.timestamp|date('d/m/Y H:i:s') }}</td>
          </tr>
          <tr>
            <td><strong>Type:</strong></td>
            <td>{{ transaction.type }}</td>
          </tr>
          <tr>
            <td><strong>Title:</strong></td>
            <td>{{ transaction.title }}</td>
          </tr>
          <tr>
            <td><strong>Old:</strong></td>
            <td>{{ transaction.old }}</td>
          </tr>
          <tr>
            <td><strong>New:</strong></td>
            <td>{{ transaction.new }}</td>
          </tr>
          <tr>
            <td><strong>Difference:</strong></td>
            <td>{{ transaction.difference }}</td>
          </tr>
          <tr>
            <td><strong>Description:</strong></td>
            <td>
              {% if description %}
                {{ description }}
              {% else %}
                None
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a></div>
  </div>
{% endfor %}
