{% include "./header.html" %}

<div id="profile-wrapper">
  {% include "./user_partial.html" %}
</div>

<div id="modal-note-profile" class="modal">
  <div class="modal-content">
    <h4>Edit Note for {{ api.display_name }}'{% if api.display_name.slice(-1) != "s" %}s{% endif %} Profile</h4>
    <div class="input-field">
      <input id="profile-note" type="text" value="{{ note }}">
      <label for="profile-note">Note</label>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="profile-edit-note" data-id="{{ api._id }}">Save & Close</a>
  </div>
</div>

<div id="modal-report-profile" class="modal">
  <div class="modal-content">
    <div class="collection">
      <a href="https://www.reddit.com/message/compose?to=%2Fr%2FTwitch&subject=Purple%2B%20Profile%20Report&message=Greetings%20Moderators%2C%0A%0AI%20would%20like%20to%20report%20%5B{{ data.twitch_name }}%27s%20profile%20on%20Purple%2B%5D(https%3A%2F%2Fpurple.plus%2Fuser%2F{{ data.twitch_username }})%20because%20I%20think%20it%20contains%20a%20lack%20of%20content.%0A%0AThank%20you%20in%20advance%20for%20investigating%20this." class="collection-item modal-action modal-close custom-text text-lighten-1" target="_blank">Report {{ api.display_name }}'{% if api.display_name.slice(-1) != "s" %}s{% endif %} profile for containing a lack of content.</a>
      <a href="https://www.reddit.com/message/compose?to=%2Fr%2FTwitch&subject=Purple%2B%20Profile%20Report&message=Greetings%20Moderators%2C%0A%0AI%20would%20like%20to%20report%20%5B{{ data.twitch_name }}%27s%20profile%20on%20Purple%2B%5D(https%3A%2F%2Fpurple.plus%2Fuser%2F{{ data.twitch_username }})%20because%20I%20think%20it%20contains%20unsafe%20links.%0A%0AThank%20you%20in%20advance%20for%20investigating%20this." class="collection-item modal-action modal-close custom-text text-lighten-1" target="_blank">Report {{ api.display_name }}'{% if api.display_name.slice(-1) != "s" %}s{% endif %} profile for containing unsafe links.</a>
      <a href="https://www.reddit.com/message/compose?to=%2Fr%2FTwitch&subject=Purple%2B%20Profile%20Report&message=Greetings%20Moderators%2C%0A%0AI%20would%20like%20to%20report%20%5B{{ data.twitch_name }}%27s%20profile%20on%20Purple%2B%5D(https%3A%2F%2Fpurple.plus%2Fuser%2F{{ data.twitch_username }})%20because%20I%20think%20it%20contains%20offensive%20content.%0A%0AThank%20you%20in%20advance%20for%20investigating%20this." class="collection-item modal-action modal-close custom-text text-lighten-1" target="_blank">Report {{ api.display_name }}'{% if api.display_name.slice(-1) != "s" %}s{% endif %} profile for containing offensive content.</a>
      <a href="https://www.reddit.com/message/compose?to=%2Fr%2FTwitch&subject=Purple%2B%20Profile%20Report&message=Greetings%20Moderators%2C%0A%0AI%20would%20like%20to%20report%20%5B{{ data.twitch_name }}%27s%20profile%20on%20Purple%2B%5D(https%3A%2F%2Fpurple.plus%2Fuser%2F{{ data.twitch_username }})%20because%20I%20think%20it%20contains%20formatting%20errors.%0A%0AThank%20you%20in%20advance%20for%20investigating%20this." class="collection-item modal-action modal-close custom-text text-lighten-1" target="_blank">Report {{ api.display_name }}'{% if api.display_name.slice(-1) != "s" %}s{% endif %} profile for containing formatting errors.</a>
      <a href="https://www.reddit.com/message/compose?to=%2Fr%2FTwitch&subject=Purple%2B%20Profile%20Report&message=Greetings%20Moderators%2C%0A%0AI%20would%20like%20to%20report%20%5B{{ data.twitch_name }}%27s%20profile%20on%20Purple%2B%5D(https%3A%2F%2Fpurple.plus%2Fuser%2F{{ data.twitch_username }})%20because%20I%20think%20it%20contains%20invalid%20links.%0A%0AThank%20you%20in%20advance%20for%20investigating%20this." class="collection-item modal-action modal-close custom-text text-lighten-1" target="_blank">Report {{ api.display_name }}'{% if api.display_name.slice(-1) != "s" %}s{% endif %} profile for containing invalid links.</a>
      <a href="https://www.reddit.com/message/compose?to=%2Fr%2FTwitch&subject=Purple%2B%20Profile%20Report&message=Greetings%20Moderators%2C%0A%0AI%20would%20like%20to%20report%20%5B{{ data.twitch_name }}%27s%20profile%20on%20Purple%2B%5D(https%3A%2F%2Fpurple.plus%2Fuser%2F{{ data.twitch_username }})%20because%20%3C%3CREASON%3E%3E.%0A%0AThank%20you%20in%20advance%20for%20investigating%20this." class="collection-item modal-action modal-close custom-text text-lighten-1" target="_blank">Report {{ api.display_name }}'{% if api.display_name.slice(-1) != "s" %}s{% endif %} profile for another issue.</a>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>

<div class="fixed-action-btn hide-on-small-only">
  {% if data.requests.length || twitch.id || type == "mod" || type == "helper" %}
    <a class="btn-floating btn-large custom darken-1"><i class="large material-icons">star</i></a>
    <ul>
      {% if data.requests.length %}
        <li><a href="/user/{{ data.twitch_username }}/requests" class="btn-floating waves-effect waves-light custom darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="View Ad Requests" target="_blank"><i class="material-icons">open_in_new</i></a></li>
      {% endif %}
      {% if twitch.id && !voted %}
        <li><a href="#!" class="btn-floating waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" id="upvote-profile" data-position="left" data-delay="50" data-tooltip="Upvote Profile" data-id="{{ api._id }}"><i class="material-icons">arrow_upward</i></a></li>
      {% endif %}
      {% if twitch.id && voted %}
        <li><a href="#!" class="btn-floating waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" id="downvote-profile" data-position="left" data-delay="50" data-tooltip="Downvote Profile" data-id="{{ api._id }}"><i class="material-icons">arrow_downward</i></a></li>
      {% endif %}
      {% if twitch.id && !bookmarked %}
        <li><a href="#!" class="btn-floating waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" id="bookmark-profile" data-position="left" data-delay="50" data-tooltip="Add Bookmark" data-id="{{ api._id }}"><i class="material-icons">add</i></a></li>
      {% endif %}
      {% if twitch.id && bookmarked %}
        <li><a href="#!" class="btn-floating waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" id="unbookmark-profile" data-position="left" data-delay="50" data-tooltip="Delete Bookmark" data-id="{{ api._id }}"><i class="material-icons">delete</i></a></li>
      {% endif %}
      {% if twitch.id %}
        <li><a href="#modal-note-profile" class="btn-floating waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" data-position="left" data-delay="50" data-tooltip="Edit Note"><i class="material-icons">note_add</i></a></li>
      {% endif %}
      <li><a href="#modal-report-profile" class="btn-floating waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" data-position="left" data-delay="50" data-tooltip="Report Profile" target="_blank"><i class="material-icons">flag</i></a></li>
      {% if type == "mod" || type == "helper" %}
        <li><a href="/user/{{ data.twitch_username }}/revisions" class="btn-floating waves-effect waves-light custom darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="View Revision History" target="_blank"><i class="material-icons">recent_actors</i></a></li>
      {% endif %}
    </ul>
  {% else %}
    <a href="#modal-report-profile" class="btn-floating btn-large waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" data-position="left" data-delay="50" data-tooltip="Report Profile" target="_blank"><i class="material-icons">flag</i></a>
  {% endif %}
</div>

<div class="row hide-on-med-and-up">
  <div class="col s10 offset-s1 center">
    {% if data.requests.length %}
      <a href="/user/{{ data.twitch_username }}/requests" class="btn waves-effect waves-light custom darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="View Ad Requests" target="_blank" style="margin-bottom: 2.5px;"><i class="material-icons">open_in_new</i></a>
    {% endif %}
    {% if twitch.id && !voted %}
      <a href="#!" class="btn waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" id="mobile-upvote-profile" data-position="top" data-delay="50" data-tooltip="Upvote Profile" data-id="{{ api._id }}">
        <i class="material-icons">arrow_upward</i>
      </a>
    {% endif %}
    {% if twitch.id && voted %}
      <a href="#!" class="btn waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" id="mobile-downvote-profile" data-position="top" data-delay="50" data-tooltip="Downvote Profile" data-id="{{ api._id }}">
        <i class="material-icons">arrow_downward</i>
      </a>
    {% endif %}
    {% if twitch.id && !bookmarked %}
      <a href="#!" class="btn waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" id="mobile-bookmark-profile" data-position="top" data-delay="50" data-tooltip="Add Bookmark" data-id="{{ api._id }}" >
        <i class="material-icons">add</i>
      </a>
    {% endif %}
    {% if twitch.id && bookmarked %}
      <a href="#!" class="btn waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" id="mobile-unbookmark-profile" data-position="top" data-delay="50" data-tooltip="Delete Bookmark" data-id="{{ api._id }}">
        <i class="material-icons">delete</i>
      </a>
    {% endif %}
    {% if twitch.id %}
    <a href="#modal-note-profile" class="btn waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" data-position="top" data-delay="50" data-tooltip="Edit Note">
      <i class="material-icons">note_add</i>
    </a>
    {% endif %}
    <a href="#modal-report-profile" class="btn waves-effect waves-light custom darken-1 tooltipped {% if twitch.id == api._id %} disabled {% endif %}" data-position="top" data-delay="50" data-tooltip="Report Profile" target="_blank"><i class="material-icons">flag</i></a>
    {% if type == "mod" || type == "helper" %}
      <a href="/user/{{ data.twitch_username }}/revisions" class="btn waves-effect waves-light custom darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="View Revision History" target="_blank"><i class="material-icons">recent_actors</i></a>
    {% endif %}
  </div>
</div>

<script src="/js/user.js"></script>

{% include "./footer.html" %}
