<div class="row">
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #3B5998;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <i class="fab fa-facebook fa-2x"></i>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-facebook" type="text" value="{{ profile.social_media.facebook }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-facebook">Facebook Page Name</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #3B5998;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <i class="fab fa-facebook fa-2x"></i>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-facebook-url" type="text" value="{{ profile.social_media.facebook_url }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-facebook-url">Facebook Page URL</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #1DA1F2;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-twitter fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-twitter" type="text" value="{{ profile.social_media.twitter }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-twitter">Twitter Username</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #833AB4;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-instagram fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-instagram" type="text" value="{{ profile.social_media.instagram }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-instagram">Instagram Username</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #FF0000;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-youtube fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-youtube" type="text" value="{{ profile.social_media.youtube }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-youtube">YouTube Channel Name</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #FF0000;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-youtube fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-youtube-url" type="text" value="{{ profile.social_media.youtube_url }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-youtube-url">YouTube Channel URL</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card" style="background-color: #FFFC00;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-snapchat fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field" style="margin: 0;">
                        <input id="profile-socialmedia-snapchat" type="text" value="{{ profile.social_media.snapchat }}">
                        <label for="profile-socialmedia-snapchat">Snapchat Username</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #000000;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-steam fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-steam" type="text" value="{{ profile.social_media.steam }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-steam">Steam Username</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #4078C0;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-github fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-github" type="text" value="{{ profile.social_media.github }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-github">GitHub Username</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #05CC47;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-deviantart fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-deviantart" type="text" value="{{ profile.social_media.deviantart }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-deviantart">Deviantart Username</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #FF8800;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-soundcloud fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-soundcloud" type="text" value="{{ profile.social_media.soundcloud }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-soundcloud">Soundcloud Username</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #DD4B39;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-google-plus fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-googleplus" type="text" value="{{ profile.social_media.googleplus }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-googleplus">Google+ Username</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #0077B5;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-linkedin fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-linkedin" type="text" value="{{ profile.social_media.linkedin }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-linkedin">LinkedIn Username</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #35465C;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-tumblr fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-tumblr" type="text" value="{{ profile.social_media.tumblr }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-tumblr">Tumblr Username</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #F96854;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fab fa-patreon fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-patreon" type="text" value="{{ profile.social_media.patreon }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-patreon">Patreon Username</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card white-text" style="background-color: #DB3552;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col l2 m4 s6 valign-wrapper" style="height: 54px;">
                        <span class="fas fa-question-circle fa-2x"></span>
                    </div>
                    <div class="col l10 m8 s6 input-field social-media" style="margin: 0;">
                        <input id="profile-socialmedia-askfm" type="text" value="{{ profile.social_media.askfm }}" style="color: #FFFFFF;">
                        <label for="profile-socialmedia-askfm">AskFM Userame</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if creating %}
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <p class="custom-text text-darken-1 center">None of these fields are required.</p>
                    <p class="custom-text text-darken-1 center">Use the button in the header to move to the next step.</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col offset-l10 l2 offset-m8 m4 offset-s6 s6">
            <div class="card">
                <div class="card-content">
                    <div class="row" style="margin: 0;">
                        <div class="col s12">
                            <a class="btn waves-effect waves-light custom darken-1 right" id="profile-save-socialmedia" style="width: 100%;">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>