/* Custom Colours */
.custom-text.text-lighten-1 {
    color: #7D58C1 !important;
}

.custom-text.text-darken-1 {
    color: #392D5D !important;
}

.custom.lighten-1:not(.disabled) {
    background-color: #7D58C1 !important;
}

.custom.darken-1:not(.disabled) {
    background-color: #392D5D !important;
}

body, .tap-target-wave::before, .tap-target-wave::after {
    background-color: #EFEEF1;
}

.table-of-contents a:hover, .table-of-contents a.active {
    border-color: #7D58C1;
}

/* Edit Navbar and Dropdown Content */
nav, nav .nav-wrapper i, nav a.button-collapse i {
    height: 50px;
    line-height: 50px;
}

.nav-wrapper .dropdown-content:not(.autocomplete-content) {
    top: 50px !important;
}

#dropdown-user {
    min-width: 130px !important;
}

#dropdown-about {
    min-width: 180px !important;
}

.dropdown-content:not(.autocomplete-content) li, .dropdown-content:not(.autocomplete-content) li:hover, .dropdown-content:not(.autocomplete-content) li.active, .dropdown-content:not(.autocomplete-content) li.selected, .dropdown-content:not(.autocomplete-content) li.active.selected {
    background-color: #392D5D;
    min-height: 40px;
    line-height: 40px;
}

.dropdown-content:not(.autocomplete-content) li a, .dropdown-content:not(.autocomplete-content) li span, .select-wrapper span.caret {
    color: #fff;
    padding: 9px 16px;
}

/* Stop Sidebars Overlapping Navigation */
.sidenav-fixed {
    top: 50px;
    height: calc(100% + 10px);
}

/* Stop Page Content Clashing with Profile Sidebar */
.avoid-sidenav {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  .avoid-sidenav {
    padding-left: 0;
  }
}

/* Change Player/Chat Height for Mobile */
#player-wrapper {
    height: 100%;
}

@media only screen and (max-width : 992px) {
  #player-wrapper {
    height: calc(50% - 180px);
  }
  #player-wrapper>div {
    margin-bottom: 20px;
  }
}