/* Custom Colours */
.custom-text.text-lighten-1 {
    color: #7D58C1 !important;
}

.custom-text.text-darken-1 {
    color: #392D5D !important;
}

.custom.lighten-1:not(.disabled) {
    background-color: #7D58C1 !important;
}

.custom.darken-1:not(.disabled) {
    background-color: #392D5D !important;
}

body, .tap-target-wave::before, .tap-target-wave::after {
    background-color: #EFEEF1;
}

.table-of-contents a:hover, .table-of-contents a.active {
    border-color: #7D58C1;
}

/* Input Colour Changes */
.input-field label, label, ::placeholder {
  color: #000;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #6441A4;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]), .chips.focus {
    border-bottom: 1px solid #6441A4;
    box-shadow: 0 1px 0 0 #6441A4;
}

[type="checkbox"].filled-in:checked+label:after, [type="radio"]:checked+label:after, .chips .chip:focus {
    border: 2px solid #6441A4;
    background-color: #6441A4;
}

.noUi-connect {
  background: #6441A4;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color:  #7D58C1;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #392D5D;
}

.picker__date-display, .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #7D58C1;
}

.clockpicker-canvas line, .clockpicker-canvas-bg, .clockpicker-canvas-bearing {
  fill: #7D58C1;
  stroke: #7D58C1;
}

button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus, .picker__nav--prev:hover, .picker__nav--next:hover, .clockpicker-tick.active, .clockpicker-tick:hover {
  background-color: #D3C7EA;
}

.picker__day.picker__day--today, .picker__close, .picker__today, .picker__clear {
  color: #7D58C1;
}

/* Progress Bar Colours */
.progress {
  background-color: #D8C7F7;
}

.progress .determinate {
  background-color: #7D58C1;
}

/* Edit Navbar and Dropdown Content */
nav, nav .nav-wrapper i, nav a.button-collapse i {
    height: 50px;
    line-height: 50px;
}

.nav-wrapper .dropdown-content:not(.autocomplete-content) {
    top: 50px !important;
}

#dropdown-user {
    min-width: 130px !important;
}

#dropdown-about {
    min-width: 180px !important;
}

.dropdown-content:not(.autocomplete-content) li, .dropdown-content:not(.autocomplete-content) li:hover, .dropdown-content:not(.autocomplete-content) li.active, .dropdown-content:not(.autocomplete-content) li.selected, .dropdown-content:not(.autocomplete-content) li.active.selected {
    background-color: #392D5D;
    min-height: 40px;
    line-height: 40px;
}

.dropdown-content:not(.autocomplete-content) li a, .dropdown-content:not(.autocomplete-content) li span, .select-wrapper span.caret {
    color: #fff;
    padding: 9px 16px;
}

/* Stop Sidebars Overlapping Navigation */
.sidenav-fixed {
    top: 50px;
    height: calc(100% + 10px);
}

/* Stop Page Content Clashing with Profile Sidebar */
.avoid-sidenav {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  .avoid-sidenav {
    padding-left: 0;
  }
}

/* Change Player/Chat Height for Mobile */
#player-wrapper {
    height: 100%;
}

@media only screen and (max-width : 992px) {
  #player-wrapper {
    height: calc(50% - 180px);
  }
  #player-wrapper>div {
    margin-bottom: 20px;
  }
}

/* Invalid Fields */
.invalid-wrapper {
  background-color: #ffcdd2;
  transition: background-color 0.5s ease;
}