<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="center">
          <p class="custom-text text-darken-1" style="font-size: 2.5rem; font-weight: 500;">Account Manager</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row valign-wrapper">
          <div id="search-field" class="input-field col s4">
            <select>
              <option value="twitch_username">Twitch Username</option>
              <option value="twitch_id">Twitch ID</option>
              <option value="reddit_username">Reddit Username</option>
              <option value="reddit_id">Reddit ID</option>
              <option value="discord_id">Discord ID</option>
            </select>
            <label>Search Field</label>
          </div>
          <div class="input-field col s4">
            <input id="search-query" type="text">
            <label for="search-query">Search Query</label>
          </div>
          <div class="input-field col s4">
            <a id="users-search" href="#!" class="btn waves-effect waves-light custom darken-1 white-text" style="width: 100%;">Search</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>