body, table.striped tbody tr:nth-child(odd), table.highlight tbody tr:hover, .card, .collapsible-header, .collapsible-body, .tabs, .collection.with-header .collection-header, .collection .collection-item, .card .card-reveal, .modal, .modal-footer, [type="checkbox"].filled-in:disabled:not(:checked)+label:after, [type="checkbox"].filled-in:disabled:checked+label:after {
	transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

body.night, .night table.striped tbody tr:nth-child(odd), .night table.highlight tbody tr:hover, .night .tap-target-wave::before, .night .tap-target-wave::after {
  background-color: #19191A;
}

.night .card, .night .collapsible-header, .night .collapsible-body, .night .tabs, .night .collection.with-header .collection-header, .night .collection .collection-item, .night .card .card-reveal, .night .modal, .night .modal-footer {
  background-color: #212023;
}

.night [type="checkbox"].filled-in:disabled:not(:checked)+label:after, .night [type="checkbox"].filled-in:disabled:checked+label:after {
	background-color: #666;
}

.night .custom.lighten-1:not(.disabled) {
	background-color: #6343a3 !important;
}

.night .custom-text.text-darken-1, .night .tabs .tab a {
	color: #7c5cbc !important;
}

.night .custom-text.text-lighten-1 {
	color: #a892d3 !important;
}

.night .collapsible-body, .night .input-field label, .night label, .night .card, .night .collection, .night .modal {
	color: #b0b0b0;
}

.night .collapsible, .night .collapsible-header, .night .collapsible-body, .night .collection, .night .collection-header {
	border-color: #2a292e;
}

.night [type="checkbox"].filled-in:disabled:not(:checked)+label:after, .night [type="checkbox"].filled-in:disabled:checked+label:after {
	border-color: #666;
}
