/* Make Page Height Larger */
html, body {
	height: 100%;
}

iframe {
	display: block;
}

/* Edit Navbar and Dropdown Content */
nav, nav .nav-wrapper i, nav a.button-collapse i {
	height: 50px;
	line-height: 50px;
}

.nav-wrapper .dropdown-content:not(.autocomplete-content) {
	margin-top: 50px
}

#dropdown-about {
	width: 180px !important;
}

.dropdown-content:not(.autocomplete-content) li, .dropdown-content:not(.autocomplete-content) li:hover, .dropdown-content:not(.autocomplete-content) li.active, .dropdown-content:not(.autocomplete-content) li.selected, .dropdown-content:not(.autocomplete-content) li.active.selected {
	background-color: #392D5D;
	min-height: 40px;
	line-height: 40px;
}

.dropdown-content:not(.autocomplete-content) li a, .dropdown-content:not(.autocomplete-content) li span, .select-wrapper span.caret {
  color: #fff;
	padding: 9px 16px;
}

/* AutoComplete Colour */
.autocomplete-content li span {
	color: #7D58C1;
}

/* Container Box Shadows */
.container-shadow {
	border-radius: 0 0 2px 2px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
}

/* Change Tabs Colour */
.tabs .tab a {
	color: #6441A4;
}

.tabs .tab a:hover, .tabs .tab a.active {
	color: #4e3280;
}

.tabs .indicator {
	background-color: #6441A4;
}

.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
	color: #B9A3E3 !important;
}

/* Fill Dropdowns */
.collapsible-body {
	background-color: #fff;
}

/* Social Navigation */
.social-nav {
    margin-top: 8px;
    width: 100%;
}
.social-nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.social-nav ul li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}
.social-nav ul li a {
    display: block;
}

/* Input Colour Changes */
.input-field label, label {
	color: #000;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #6441A4;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]), .chips.focus {
    border-bottom: 1px solid #6441A4;
    box-shadow: 0 1px 0 0 #6441A4;
}

[type="checkbox"].filled-in:checked+label:after, [type="radio"]:checked+label:after, .chips .chip.selected {
    border: 2px solid #6441A4;
    background-color: #6441A4;
}

.noUi-connect {
	background: #6441A4;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color:  #7D58C1;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #392D5D;
}

.picker__date-display, .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color: #7D58C1;
}

.clockpicker-canvas line, .clockpicker-canvas-bg, .clockpicker-canvas-bearing {
	fill: #7D58C1;
	stroke: #7D58C1;
}

button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus, .picker__nav--prev:hover, .picker__nav--next:hover, .clockpicker-tick.active, .clockpicker-tick:hover {
	background-color: #D3C7EA;
}

.picker__day.picker__day--today, .picker__close, .picker__today, .picker__clear {
	color: #7D58C1;
}

/* Default Links Colour */
a {
	color: #6661A4;
}

/* Make Disabled Checkboxes Readable on Requests Pages */
[type="checkbox"].request-browser-checkbox.filled-in:disabled:not(:checked)+label:after {
	background-color: transparent;
	border-color: #5a5a5a;
}

[type="checkbox"].request-browser-checkbox.filled-in:disabled:checked+label:after {
	border: 2px solid #6441A4;
  background-color: #6441A4;
}

/* Hide and Show Buttons on Surf */
#video-wrapper:hover a {
	opacity: 1 !important;
  transition: opacity 0.2s linear;
}

/* Image Pulse */
.img-pulse::before {
  content: '';
  display: block;
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: 0;
}

.img-pulse.host::before {
	background-color: green;
}

.img-pulse.video::before {
	background-color: blue;
}

.img-pulse.live::before {
	background-color: red;
}

.img-pulse img {
	position: relative;
	z-index: 1;
}

/* Custom Colours */
.custom-text.text-lighten-1 {
	color: #7D58C1 !important;
}

.custom-text.text-darken-1 {
	color: #392D5D !important;
}

.custom.lighten-1:not(.disabled) {
	background-color: #7D58C1 !important;
}

.custom.darken-1:not(.disabled) {
	background-color: #392D5D !important;
}

body, .tap-target-wave::before, .tap-target-wave::after {
	background-color: #EFEEF1;
}

.table-of-contents a:hover, .table-of-contents a.active {
	border-color: #7D58C1;
}

/* Pusher Usernames Fix */
#submission-user {
	color: #000;
}

/* Change Opactiy */
.card #stream #preview-stream img, #directory-wrapper .directory-thumbnail:not(.active) img, #community-wrapper .community-thumbnail:not(.active) img {
	opacity: 0.5;
	-webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.card #spotlight-preview:not(.active) {
	opacity: 0.25;
	-webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.card:hover #stream #preview-stream img, .card:hover #spotlight-preview, #directory-wrapper .directory-thumbnail:hover img, #community-wrapper .community-thumbnail:hover img {
	opacity: 1;
}

/* Hide Bookmark Delete Button Except on Hover */
#bookmark-wrapper #unbookmark-profile {
	opacity: 0;
	-o-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

#bookmark-wrapper:not(.removed):hover #unbookmark-profile {
	opacity: 1;
}

/* Show Bookmarks as Removed */
#bookmark-wrapper {
	-webkit-transition: transform 500ms, opacity 500ms;
  transition: transform 500ms, opacity 500ms;
}

#bookmark-wrapper.removed {
	transform: scale(0.85, 0.85);
	opacity: 0.6;
}

/* Pusher Header Sizes */
#submission-body h1 {
	font-size: 21px;
	margin: 0;
}

#submission-body h2 {
	font-size: 20px;
	margin: 0;
}

#submission-body h3 {
	font-size: 19px;
	margin: 0;
}

#submission-body h4 {
	font-size: 18px;
	margin: 0;
}

#submission-body h5 {
	font-size: 17px;
	margin: 0;
}

#submission-body h6 {
	font-size: 16px;
	margin: 0;
}

/* Invalid Fields */
.invalid-wrapper {
	background-color: #ffcdd2;
	transition: background-color 0.5s ease;
}

/* Schedule Dividers */
.schedule-divider {
	border-left: 1px solid #000;
}
