<div class="row">
    <div class="col l4 m6 s12">
        <div class="card">
            <div class="card-content">
                <h5 class="center" style="margin: 0 0 10px 0;">My Categories</h5>
                <div class="row" style="margin: 0;">
                    <div class="col s6">
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-categories-gaming" disabled />
                            <span>Gaming Streamer</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-categories-creative" checked disabled />
                            <span>Creative Streamer</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-categories-socialeating" disabled />
                            <span>Social Eating Streamer</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-categories-irl" disabled />
                            <span>IRL Streamer</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-categories-talkshow" disabled />
                            <span>Talk Show Streamer</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-categories-music" disabled />
                            <span>Music Streamer</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s6">
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-artist" disabled />
                            <span>Artist</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-communitymanager" checked disabled />
                            <span>Community Manager</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-developer" checked disabled />
                            <span>Developer</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-artist" disabled />
                            <span>Editor</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-moderator" checked disabled />
                            <span>Moderator</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" id="profile-body-viewer" checked disabled />
                            <span>Viewer</span>
                          </label>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l4 m6 s12">
        <div class="card">
            <div class="card-content">
                <h5 class="center" style="margin: 0 0 10px 0;">About Me</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ligula lectus, sagittis id dapibus a, tristique nec lorem. Curabitur malesuada ante id erat feugiat, sed tempus ex aliquet. Fusce molestie et diam eget pulvinar. Pellentesque eu dapibus est. Proin vitae nisl nulla. Maecenas cursus eu ex ut sollicitudin. Nam fringilla enim sed tellus suscipit lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci elit, hendrerit in egestas vel, ornare a ante.</p>
            </div>
        </div>
    </div>
    <div class="col l4 m6 s12">
        <div class="card">
            <div class="card-content">
                <h5 class="center" style="margin: 0 0 10px 0;">My Goals</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ligula lectus, sagittis id dapibus a, tristique nec lorem. Curabitur malesuada ante id erat feugiat, sed tempus ex aliquet. Fusce molestie et diam eget pulvinar. Pellentesque eu dapibus est. Proin vitae nisl nulla. Maecenas cursus eu ex ut sollicitudin. Nam fringilla enim sed tellus suscipit lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci elit, hendrerit in egestas vel, ornare a ante.</p>
            </div>
        </div>
    </div>
    <div class="col l4 m6 s12">
        <div class="card">
            <div class="card-content">
                <h5 class="center" style="margin: 0 0 10px 0;">My Experiences</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ligula lectus, sagittis id dapibus a, tristique nec lorem. Curabitur malesuada ante id erat feugiat, sed tempus ex aliquet. Fusce molestie et diam eget pulvinar. Pellentesque eu dapibus est. Proin vitae nisl nulla. Maecenas cursus eu ex ut sollicitudin. Nam fringilla enim sed tellus suscipit lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci elit, hendrerit in egestas vel, ornare a ante.</p>
            </div>
        </div>
    </div>
    <div class="col l4 m6 s12">
        <div class="card">
            <div class="card-content">
                <h5 class="center" style="margin: 0 0 10px 0;">My Background</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ligula lectus, sagittis id dapibus a, tristique nec lorem. Curabitur malesuada ante id erat feugiat, sed tempus ex aliquet. Fusce molestie et diam eget pulvinar. Pellentesque eu dapibus est. Proin vitae nisl nulla. Maecenas cursus eu ex ut sollicitudin. Nam fringilla enim sed tellus suscipit lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci elit, hendrerit in egestas vel, ornare a ante.</p>
            </div>
        </div>
    </div>
    <div class="col l4 m6 s12">
        <div class="card">
            <div class="card-content">
                <h5 class="center" style="margin: 0 0 10px 0;">My Content</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ligula lectus, sagittis id dapibus a, tristique nec lorem. Curabitur malesuada ante id erat feugiat, sed tempus ex aliquet. Fusce molestie et diam eget pulvinar. Pellentesque eu dapibus est. Proin vitae nisl nulla. Maecenas cursus eu ex ut sollicitudin. Nam fringilla enim sed tellus suscipit lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci elit, hendrerit in egestas vel, ornare a ante.</p>
            </div>
        </div>
    </div>
</div>