<li><a class="subheader custom-text text-darken-1 center"><i class="material-icons left">person</i>Change Profile View</a></li>
<li><a href="#!">Show Overview</a></li>
<li><a href="#!">Show Profile Body</a></li>
<li><a href="#!">Show Trophies</a></li>
<li><a href="#!">Show Social Media</a></li>
<li><a href="#!">Show Communities</a></li>
<li><a href="#!">Show Scheduled Streams</a></li>
<li><a href="#!">Show Twitch Player & Chat</a></li>
<li><a href="#!">Show Videos</a></li>
<li><a href="#!">Show Featured Profiles</a></li>
<li><a href="#!">Show Purple+ Teams</a></li>
<li><a href="#!">Show Ad Requests</a></li>
<!-- TODO: Public Only Section -->
<li><a class="subheader custom-text text-darken-1 center"><i class="material-icons left">comment</i>Profile Actions</a></li>
<li><a href="#!">Upvote Profile</a></li>
<li><a href="#!">Bookmark Profile</a></li>
<li><a href="#!">Edit Personal Note</a></li>
<li><a href="#!">Report Profile</a></li>
<!-- TODO: Admin Only Section -->
<li><a href="#!">View Profile Revisions</a></li>
<!-- TODO: Private Only Section -->
<li><a class="subheader custom-text text-darken-1 center"><i class="material-icons left">edit</i>Edit Profile</a></li>
<li><a href="#!">Edit Profile Features</a></li>
<li><a href="#!">Edit Introduction</a></li>
<li><a href="#!">Edit Profile Body</a></li>
<li><a href="#!">Edit Social Media</a></li>
<li><a href="#!">Edit Communities</a></li>
<li><a href="#!">Edit Scheduled Streams</a></li>
<li><a href="#!">Edit Featured Profiles</a></li>
<li><a href="#!">Edit Purple+ Teams</a></li>
<li><a class="subheader custom-text text-darken-1 center"><i class="material-icons left">settings</i>Misc. Actions</a></li>
<li><a href="#!">View Twoos Transactions</a></li>
<li><a href="#!">Manage Ad Requests</a></li>
<li><a href="#!">View Profile as Public</a></li>