<div class="row">
    <div class="col l9 m6 s6">
        <div class="card custom lighten-1">
            <div class="card-content valign-wrapper" style="height: 203px;">
                <div class="row" style="margin: 0;">
                    <h5 class="white-text center" style="margin: 0 0 10px 0;">Introduction</h5>
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ligula lectus, sagittis id dapibus a, tristique nec lorem. Curabitur malesuada ante id erat feugiat, sed tempus ex aliquet. Fusce molestie et diam eget pulvinar. Pellentesque eu dapibus est. Proin vitae nisl nulla. Maecenas cursus eu ex ut sollicitudin. Nam fringilla enim sed tellus suscipit lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci elit, hendrerit in egestas vel, ornare a ante.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s6">
        <div class="card custom lighten-1">
            <div class="card-content">
                <iframe 
                    src="https://clips.twitch.tv/embed?clip=JollyBlushingNostrilVoHiYo&autoplay=false&tt_medium=clips_embed"
                    width="100%"
                    height="100%"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text" style="margin: 10px;">{{ api[1].followers }}</h4>
                <p class="white-text">Followers</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text" style="margin: 10px;">{% if api[1].mature %}Enabled{% else %}Disabled{% endif %}</h4>
                <p class="white-text">Mature Stream Status</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text counter" style="margin: 10px;">{{ api[0].data[0].view_count }}</h4>
                <p class="white-text">Total Stream Views</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text" style="margin: 10px;">{{ api[1].created_at|date('d/m/Y') }}</h4>
                <p class="white-text">Channel Creation Date</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text" style="margin: 10px;">0</h4>
                <p class="white-text">Twoos</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text" style="margin: 10px;">0</h4>
                <p class="white-text">Ad Requests</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text" style="margin: 10px;">0</h4>
                <p class="white-text">Unique Profile Views</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text" style="margin: 10px;">0</h4>
                <p class="white-text">Profile Creation Date</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text" style="margin: 10px;">0</h4>
                <p class="white-text">Teams</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text" style="margin: 10px;">0</h4>
                <p class="white-text">Featured Profiles</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text" style="margin: 10px;">0</h4>
                <p class="white-text">Available VoDs</p>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card custom lighten-1">
            <div class="card-content center">
                <h4 class="white-text" style="margin: 10px;">0</h4>
                <p class="white-text">Scheduled Streams</p>
            </div>
        </div>
    </div>
</div>
